:host {
    background-color: transparent;
    height: 2.5rem;
    margin: 0 0.5rem 0 -0.3125rem;
}

span {
    background-color: transparent;
    color: var(--color-hamburger-menu);
    font-size: 2.5rem;
}

span.enabled:hover {
    cursor: pointer;
}

span.not-enabled:hover {
    cursor: not-allowed;
}