:host {
    background-color: transparent;
    height: 2.5rem;
    margin-right: 0.375rem;
}

span {
    background-color: transparent;
    color: var(--color-hamburger-menu);
    font-size: 2.5rem;
    transition: all 0.2s ease-in;
}

span.enabled:hover {
    cursor: pointer;
}

span.not-enabled:hover {
    cursor: not-allowed;
}