<div *ngIf="loginStatus | async">
    <div id="reservations-menu">
        <ul>
            <li>
                <button>
                    <img [src]="getIcon('reservations')" height="25px">
                    <span class="material-icons-outlined">expand_more</span>
                </button>
                <ul class="sub-menu" (click)="hideMenu()">
                    <button class="hoverable" (click)="doNavigationTasks('reservations')"><img width="20px" [src]="getIcon('my-reservations')"><span>{{ getLabel('reservations-calendar') }}</span></button>
                    <button class="hoverable" (click)="doNavigationTasks('availability')"><img width="20px" [src]="getIcon('availability')"><span>{{ getLabel('reservations-availability') }}</span></button>
                    <button *ngIf=!isAdmin() class="hoverable" (click)="doNavigationTasks('invoicing')"><img width="20px" [src]="getIcon('billing')"><span>{{ getLabel('reservations-billing') }}</span></button>
                </ul>
            </li>
        </ul>
    </div>
</div>