<div data-cy="summaryBlock" class="summaryBlock">
    <div class="before">
        <i class="pi pi-arrow-circle-up" *ngIf="upArrow[0]" (click)="scrollToTop(summary)"></i>
    </div>
    <div class="summaryHeader">
        <i class="fas fa-flag-checkered"></i><span>{{ onGetLabel('summaryHeaderDestinations') }}</span>
    </div>
    <div class="summaryContent scrollable" id=summary (scroll)="onWindowScroll(0, $event)">
        <div *ngFor="let item of records" class="item">
            <div class="description">{{ item.description }}</div>
            <div class="total">{{ item.persons }}</div>
        </div>
    </div>
    <div class="after">
        <i class="pi pi-arrow-circle-down" *ngIf="downArrow[0]" (click)="scrollToBottom(summary)"></i>
    </div>
</div>

