<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="table-wrapper">
        <p-table #table (onFilter)="filterRecords($event)" [autoLayout]="false" [scrollable]="true" [value]="records" [virtualRowHeight]="33" [virtualScroll]="false" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple" stateKey="schedule-list" stateStorage="local">
            <ng-template pTemplate="header">
                <tr>
                    <th data-cy="column" style="width: 10%;" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}<p-sortIcon field="isActive"></p-sortIcon></th>
                    <th data-cy="column" style="width: 10%;" pSortableColumn="date">{{ getLabel("headerDate") }}<p-sortIcon field="date"></p-sortIcon></th>
                    <th data-cy="column" style="width: 40%;" pSortableColumn="destinationDescription">{{ getLabel("headerDestinationDescription") }}<p-sortIcon field="destinationDescription"></p-sortIcon></th>
                    <th data-cy="column" style="width: 30%;" pSortableColumn="portDescription">{{ getLabel("headerPortDescription") }}<p-sortIcon field="portDescription"></p-sortIcon></th>
                    <th data-cy="column" style="width: 10%;" pSortableColumn="maxPax">{{ getLabel("headerMaxPax") }}<p-sortIcon field="maxPax"></p-sortIcon></th>
                </tr>
                <tr>
                    <th style="width: 10%;"><p-columnFilter data-cy="filter-active" type="boolean" field="isActive"></p-columnFilter></th>
                    <th style="width: 10%;">
                        <p-columnFilter style="width: 100%;" field="formattedDate" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown data-cy="filter-date" [ngModel]="value" [options]="dropdownDates" (onChange)="filter($event.value)" placeholder="⭐" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="width: 40%;">
                        <p-columnFilter style="width: 100%;" field="destinationDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown data-cy="filter-destination" [ngModel]="value" [options]="dropdownDestinations" (onChange)="filter($event.value)" placeholder="⭐" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="width: 30%;">
                        <p-columnFilter style="width: 100%;" field="portDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown data-cy="filter-port" [ngModel]="value" [options]="dropdownPorts" (onChange)="filter($event.value)" placeholder="⭐" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="width: 10%;"><input data-cy="filter-max-pax" type="text" class="p-inputtext center" (input)="table.filter($event.target.value, 'maxPax', 'contains')" [value]="$any(table).filters['maxPax']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr data-cy="row" [pSelectableRow]="rowData" (dblclick)="editRecord(rowData.id)">
                    <td [ngClass]="rowData.isActive ? 'is-active': 'is-not-active'" style="width: 10%; text-align: center;">
                        <span *ngIf="rowData.isActive" class="is-active material-icons-outlined">check_circle</span>
                        <span *ngIf="!rowData.isActive" class="is-not-active material-icons-outlined">highlight_off</span>
                    </td>
                    <td style="width: 10%; text-align: center;">{{ rowData.formattedDate }}</td>
                    <td style="width: 40%;">{{ rowData.destinationDescription }}</td>
                    <td style="width: 30%;">{{ rowData.portDescription }}</td>
                    <td style="width: 10%; text-align: center;">{{ rowData.maxPax }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div id="filters">
            <div class="pill">
                <img [src]="getIcon('total')">
                <div class="number description">{{ records.length }}</div>
            </div>
            <div class="pill">
                <img [src]="getIcon('filter')">
                <div class="number description">{{ recordsFiltered.length }}</div>
            </div>
        </div>
        <div class="button-group">
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="newRecord()">{{ getLabel("newButton") }}</button>
        </div>
    </div>

</div>