:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 var(--gap) 1.5rem;
}

#month-selector {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

#month-selector #month-and-year {
    margin-bottom: 4px;
    padding: 0;
}

#month-selector .arrows {
    color: var(--color-text-primary);
    cursor: pointer;
    padding: 0 1rem;
}

#wrapper-calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: var(--gap);
}

#calendar {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.weekday-name {
    align-items: center;
    background: var(--color-table-header);
    color: var(--color-text-primary);
    display: flex;
    font-family: var(--font-family-handbook);
    font-size: var(--font-size-calendar-weekday);
    height: max-content;
    justify-content: center;
    padding: 0.3rem;
}

.days {
    align-items: center;
    background-color: var(--color-calendar-days-no-schedule-background);
    border-radius: 0.5rem;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: row;
    font-family: Montserrat, sans-serif;
    height: 100%;
    justify-content: center;
    margin: 1px;
}

.days.has-schedule {
    cursor: pointer;
    background-color: var(--color-calendar-days-schedule-background);
}

.date {
    border-radius: 0.5rem;
    display: flex;
    height: 100%;
    width: 100%;
}

.date .day {
    align-items: center;
    background-color: var(--color-calendar-day-background);
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: var(--font-size-calendar-day);
    justify-content: center;
    max-width: var(--font-size-calendar-day-width);
    min-width: var(--font-size-calendar-day-width);
}

.date .destinations {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-calendar-destinations);
    padding: 1rem;
}

.today {
    border: 1px solid var(--color-calendar-today);
    color: var(--color-calendar-today) !important;
    padding: 1rem;
}

.popup {
    border-radius: 0.5rem;
    display: none;
    flex-direction: row;
    height: 0;
    opacity: 0;
    padding: 0;
    width: 0;
    z-index: 0;
}

.popup .day {
    align-items: center;
    background-color: var(--color-calendar-day-background);
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: var(--font-size-calendar-popup-day);
    justify-content: center;
    width: 4.5rem;
}

.popup .details {
    background-color: var(--color-calendar-popup-details);
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
}

.popup .details .destination {
    align-items: center;
    display: flex;
    font-size: var(--font-size-calendar-popup-destinations);
    font-weight: 300;
    gap: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

.popup .details .destination .right {
    width: 100%;
}

.popup .details .destination .right .destination-description {
    color: var(--color-calendar-popup-destination);
    display: flex;
    justify-content: space-between;
}

.popup .details .destination .right .ports {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-calendar-popup-ports);
    font-weight: 30;
}

.popup .details .ports .passenger-count {
    font-family: "Roboto Mono", sans-serif;
    font-size: var(--font-size-calendar-popup-ports-passenger-count);
}

.days.has-schedule:hover > .date {
    display: none;
}

.days.has-schedule:hover > .popup {
    animation: fade-in 0.3s;
    display: flex;
    height: 200px;
    opacity: 0.9;
    overflow: visible;
    position: absolute;
    transition: height 0.3s, opacity 0.3s, width 0.3s;
    width: 340px;
}

@keyframes fade-in {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: flex;
        opacity: 0.9;
    }
}
