:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 var(--gap) 1.5rem;
}

#month-selector {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

#month-selector #month-and-year {
    margin-bottom: 4px;
    padding: 0;
}

#month-selector .arrows {
    color: var(--color-text-primary);
    cursor: pointer;
    padding: 0 1rem;
}

#wrapper-calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: var(--gap);
}

#calendar {
    display: grid;
    grid-column-gap: 0.3rem;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    row-gap: 0.3125rem;
}

.weekday-name {
    align-items: center;
    background: var(--color-calendar-weekday-background);
    border-radius: 10px;
    color: var(--color-table-header);
    display: flex;
    font-family: var(--font-family-handbook);
    font-size: var(--font-size-calendar-weekday);
    font-weight: bold;
    justify-content: center;
    margin-bottom: -0.0625rem;
    padding: 0.5rem;
}

.days {
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: row;
    font-family: Montserrat, sans-serif;
    height: 100%;
    justify-content: center;
    margin: 1px;
    outline: 1px solid var(--blue);
}

.days.has-schedule:hover {
    background-color: var(--color-calendar-day-hover);
    cursor: pointer;
}

.date {
    display: flex;
    height: 100%;
    width: 100%;
}

.date .day {
    align-items: center;
    background-color: #edebdc3d;
    border-right: 1px solid;
    color: var(--color-calendar-day);
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: var(--font-size-calendar-day);
    font-weight: bold;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    max-width: var(--font-size-calendar-day-width);
    min-width: var(--font-size-calendar-day-width);
}

.date .destinations {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-calendar-destinations);
    padding: 1rem;
}

.today {
    background-color: var(--color-calendar-today);
}

.destination-description {
    font-size: var(--font-size-calendar-destinations);
}

.destination-count {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-calendar-destination-count);
}

.destination-count .label {
    font-weight: bold;
    margin-right: 0.5rem;
}
