#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

#main {
    background: var(--color-a) url("../../assets/images/background/background.svg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
    transition: background-color var(--change-theme-delay) ease;
}

#content {
    flex: 1;
    justify-content: center;
    overflow-y: hidden;
    transition: background-color var(--change-theme-delay) ease;
}

#loading-indication, #loading-indication::before {
    background-color: var(--color-a);
    display: flex;
    height: 0.0625rem;
    margin: 0;
    position: absolute;
    width: 100%;
}

#loading-indication::before {
    background-color: var(--color-loader);
    content: "";
    animation: running-progress 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

#timeout-warning {
    background-color: var(--color-c);
    border-radius: 0 0.3125rem 0.3125rem 0;
    bottom: var(--gap);
    color: var(--color-text);
    font-family: var(--font-family-handbook);
    font-size: 1.25rem;
    padding: 0.625rem 1rem 0.625rem 10rem;
    position: absolute;
    transition: width 0.2s ease-in-out;
}

#timeout-warning::after {
    content: "";
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
