#criteriaLabels {
    align-items: center;
    display: flex;
    font-family: var(--font-family-master);
    font-size: var(--font-size-criterial-labels);
    font-weight: var(--font-weight-header);
    margin-left: auto;
}

#criteriaLabels span {
    color: var(--color-headers);
    margin: 0 0.3125rem 0 0.3125rem;
}

.total-header {
    background-color: var(--color-table-row-group-header);
    color: var(--color-text-primary);
    font-family: var(--font-family-table);
    font-weight: 100;
    padding: 0.3rem;
    transition: all var(--change-theme-delay) ease;
}

.subtotal td, .rowGroup td {
    color: var(--color-table-row-subgroup);
    font-size: var(--font-size-row-subgroup);
    transition: all var(--change-theme-delay) ease;
}

.clickable {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.clickable:hover {
    color: var(--color-table-row-group-hover) !important;
}

.pi-file-pdf {
    margin-right: 0.5rem;
    color: var(--color-table-sort-icon) !important;
    font-size: 1.5rem !important;
    font-weight: 100;
    transition: all var(--change-theme-delay) ease;
}

.clickable:hover > .pi-file-pdf {
    color: var(--color-table-row-group-hover) !important;
}

#image-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-bottom: calc(var(--gap) * 4);
    width: 100%;
}

#image-wrapper span {
    font-size: 8rem;
}