#header {
    align-items: center;
    justify-content: space-between;
    line-height: 40px;
}

#makis {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#criteria {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
}

#criteria.collapsed {
    height: 0 !important;
}

#buttons {
    margin-left: auto;
    padding-right: 4rem;
}

#form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

#tab-group {
    height: 100%;
    display: flex;
    flex-direction: row;
}