#dialog-content {
    margin: 0 !important;
}

#table-wrapper {
    margin: 0 !important;
}

table {
    color: var(--color-c) !important;
}

table thead tr th {
    border: 1px dotted var(--color-c);
    padding: 0 0.5rem !important;
}

table thead tr td {
    border: 1px solid var(--color-e);
    padding: 0 0.5rem !important;
}

table.port-group {
    width: 100%;
}

table.port-group thead {
    font-size: var(--font-size-table-header) !important;
}

table thead tr th.port {
    width: 20rem;
}

table.port-group tbody {
    font-size: var(--font-size-table-row) !important;
}

td.number {
    padding-right: 0.5rem;
    text-align: right !important;
}

td.persons {
    background-color: var(--color-persons);
}

td.total-persons {
    background-color: var(--color-total-persons);
}