<div id="dialog">

    <div id="dialog-header">
        <h1 mat-dialog-title>{{ data.customer.customer.description }}</h1>
    </div>

    <div id="dialog-content">
        <mat-tab-group>
            <mat-tab label="Summary">
                <ng-template matTabContent>
                    <div id="table-wrapper">
                        <div class="port-panel" *ngFor="let port of data.customer.ports, let i = index">
                            <table class="port-group">
                                <thead>
                                    <tr>
                                        <th class="port no-border"></th>
                                        <th style="width: 5rem;">A</th>
                                        <th style="width: 5rem;">K</th>
                                        <th style="width: 5rem;">F</th>
                                        <th style="width: 5rem;">Σ</th>
                                        <th style="width: 5rem;">Σ<span class="subscript">1</span></th>
                                        <th style="width: 5rem;">Transfer</th>
                                        <th style="width: 5rem;">Pass</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let hasTransfer of data.customer.ports[i].hasTransferGroup, let z = index">
                                        <td></td>
                                        <td class="number persons">{{ data.customer.ports[i].hasTransferGroup[z].adults }}</td>
                                        <td class="number persons">{{ data.customer.ports[i].hasTransferGroup[z].kids }}</td>
                                        <td class="number persons">{{ data.customer.ports[i].hasTransferGroup[z].free }}</td>
                                        <td class="number persons">{{ data.customer.ports[i].hasTransferGroup[z].totalPersons }}</td>
                                        <td class="number persons">{{ data.customer.ports[i].hasTransferGroup[z].totalPassengers }}</td>
                                        <td class="no-border">
                                            <span *ngIf="data.customer.ports[i].hasTransferGroup[z].hasTransfer">{{ getEmoji('green-circle') }}</span>
                                            <span *ngIf="!data.customer.ports[i].hasTransferGroup[z].hasTransfer">{{ getEmoji('red-circle') }}</span>
                                        </td>
                                        <td class="no-border">
                                            <span *ngIf="data.customer.ports[i].hasTransferGroup[z].totalPersons == data.customer.ports[i].hasTransferGroup[z].totalPassengers">{{ getEmoji('ok') }}</span>
                                            <span *ngIf="data.customer.ports[i].hasTransferGroup[z].totalPersons != data.customer.ports[i].hasTransferGroup[z].totalPassengers">{{ getEmoji('warning') }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="port total-persons">{{ data.customer.ports[i].port }}</td>
                                        <td class="number total-persons">{{ data.customer.ports[i].adults }}</td>
                                        <td class="number total-persons">{{ data.customer.ports[i].kids }}</td>
                                        <td class="number total-persons">{{ data.customer.ports[i].free }}</td>
                                        <td class="number total-persons">{{ data.customer.ports[i].totalPersons }}</td>
                                        <td class="number total-persons">{{ data.customer.ports[i].totalPassengers }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Reservations">
                <ng-template matTabContent>
                    <div id="table-wrapper">
                        <p-table #table [scrollable]="true" [value]="data.customer.reservations" [virtualScrollItemSize]="33" [virtualScroll]="true" dataKey="date" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{ getLabel('headerDate') }}</th>
                                    <th>{{ getLabel('headerDestination') }}</th>
                                    <th>{{ getLabel('headerShip') }}</th>
                                    <th>{{ getLabel('headerPort') }}</th>
                                    <th>{{ getLabel('headerRefNo') }}</th>
                                    <th>{{ getLabel('headerTicketNo') }}</th>
                                    <th>{{ getLabel('headerHasTransfer') }}</th>
                                    <th>{{ getLabel('headerAdults') }}</th>
                                    <th>{{ getLabel('headerKids') }}</th>
                                    <th>{{ getLabel('headerFree') }}</th>
                                    <th>Σ</th>
                                    <th>Σ<span class="subscript">1</span></th>
                                    <th>+/-</th>
                                    <th>{{ getLabel('headerRemarks') }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-r>
                                <tr style="height:33px">
                                    <td style="text-align: center; width: 6rem;">{{ formatDateToLocale(r.date) }}</td>
                                    <td style="text-align: center; width: 6rem;">{{ r.destination.abbreviation }}</td>
                                    <td style="width: 10rem;">{{ r.ship.description }}</td>
                                    <td style="text-align: center; width: 6rem;">{{ r.port.abbreviation }}</td>
                                    <td style="width: 10rem;">{{ r.refNo }}</td>
                                    <td style="width: 10rem;">{{ r.ticketNo }}</td>
                                    <td [ngClass]="r.hasTransfer ? 'has-transfer' : 'no-transfer'" style="text-align: center; width:6rem;">
                                        <span *ngIf="r.hasTransfer">{{ getEmoji('green-circle') }} </span>
                                        <span *ngIf="!r.hasTransfer">{{ getEmoji('red-circle') }}</span>
                                    </td>
                                    <td class="number">{{ r.adults }}</td>
                                    <td class="number">{{ r.kids }}</td>
                                    <td class="number">{{ r.free }}</td>
                                    <td class="number">{{ r.totalPersons }}</td>
                                    <td class="number">{{ r.embarkedPassengers }}</td>
                                    <td class="number" style="width: 4rem;">
                                        <span>{{ r.totalPersons - r.embarkedPassengers }}</span>
                                        <span style="font-size: 0.9rem; margin-left: 0.5rem;" *ngIf="r.totalPersons - r.embarkedPassengers == 0">{{ getEmoji('ok') }}</span>
                                        <span style="font-size: 0.9rem; margin-left: 0.5rem;" *ngIf="r.totalPersons - r.embarkedPassengers != 0">{{ getEmoji('warning') }}</span>
                                    </td>
                                    <td style="text-align: center; width: 6rem;">
                                        <span (click)="onShowRemarks(r.remarks)" *ngIf="hasRemarks(r.remarks)" class="remarks">{{ getEmoji('remarks') }}</span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div id="dialog-footer">
        <mat-dialog-actions>
            <button (click)="onClose()" class="primary" mat-flat-button>{{ getLabel('ok-button') }}</button>
        </mat-dialog-actions>
    </div>

</div>