<div id="year-picker">
    <input #yearOpener id="year-opener" type="checkbox" />
    <div (mouseenter)="setOpenerVisibility(true)" (mouseleave)="setOpenerVisibility(false)" id="active-year">
        <span>{{ activeYear }}</span>
        <mat-icon class="button-icon">event</mat-icon>
        <div [ngStyle]="{ 'display': getOpenerVisibility() ? 'block' : 'none' }" id="years">
            <div *ngFor="let year of years, let i = index" (click)="selectYear(year)" class="year">
                {{ year }}
            </div>
        </div>
    </div>
</div>