<div id="list">

    <div id="header">
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="table-wrapper">
        <p-table [value]="filteredRecords" columnResizeMode="expand" [resizableColumns]="true" [columns]="cols" selectionMode="single" [(selection)]="selectedRecord" dataKey="id" [scrollable]="true" scrollHeight="flex" [rows]="100">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" pResizableColumn>
                        {{ onGetLabel(col.header) }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" (dblclick)="onEditRecord(rowData)">
                    <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight id="buttons">
            <button data-cy="new" mat-flat-button class="primary" id="new" [routerLink]="newUrl">{{ onGetLabel('newButton') }}</button>
        </div>
    </div>

</div>