@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*  */

html {
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#wrapper {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto 0;
    padding: 1rem 0;
    width: 100%;
}

#logo {
    align-items: center;
    display: flex;
    margin: 2rem auto;
    text-align: center;
}

#logo img {
    height: 150px;
    width: 150px;
}

#barcode {
    margin: 0 auto;
}

#barcode img {
    margin: 1rem auto 1.1rem auto;
    width: 150px;
}

.text {
    color: #000000;
    font-family: "Roboto";
}

.center {
    text-align: center;
}

table {
    width: 100%;
}

tr.last-row {
    border: none
}

tr {
    padding: 1rem 0;
}

td {
    border-bottom: 1px solid gray !important;
    font-family: "Roboto";
    height: 30px;
    padding: 0.5rem 1rem !important;
    width: 50%;
}

.text.lower {
    font-size: 16px;
}

.text.upper {
    font-size: 26px;
}

.text.small {
    font-size: 11px;
    margin: 0.2rem;
}

.button {
    background-color: #F2683D;
    border-radius: 50px;
    border: none;
    color: #efefef;
    margin: 1rem auto;
    padding: 1rem;
    width: 190px;
}

.group {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.group.table {
    display: flex;
    margin: 1rem auto;
    text-align: center;
    width: 300px;
}

#barcode {
    text-align: center;
}

#social-media {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
    text-align: center;
}

#social-media img {
    height: 25px;
    margin: auto 1rem !important;
    width: 25px;
}

#questions {
    margin-top: 2rem !important;
}