#content {
    background: url("../../../../assets/images/logos/login.svg") no-repeat center;
    background-size: cover;
    margin: auto;
}

#image {
    display: flex;
    opacity: 0.2;
    position: absolute;
}