:host {
    display: flex;
    flex-direction: column;
    height: inherit;
}

#form {
    flex-direction: row !important;
}

.fit-content {
    height: fit-content;
}

.max-height {
    height: 100%;
}

.filter {
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.list-wrapper {
    height: 92%;
    overflow-y: scroll;
}

.selected {
    display: flex;
    align-items: center;
}

.selected-count {
    font-size: 0.6875rem;
}

.icon {
    position: relative;
    top: -2px;
    font-size: 15px;
}

fieldset {
    backdrop-filter: blur(var(--blur));
    background-color: #cddc3905 !important;
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--color-b);
    padding: 1rem 0 1rem 0;
    width: 20rem;
}

fieldset legend {
    align-items: center;
    color: var(--color-c);
    display: flex;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-fieldset-legend);
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    width: 100%;
}
