<div id="form-wrapper">

    <div id="content">
        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>
        <form id="form" [formGroup]="form" autocomplete="off">
            <!-- Date -->
            <fieldset class="fit-content">
                <legend>{{ getLabel('date') }}</legend>
                <div id="calendar-wrapper">
                    <mat-card id="calendar-card">
                        <date-range-selector [allowSingleDate]=false [selectedRangeValue]="selectedRangeValue" (selectedRangeValueChange)="patchFormWithSelectedDates($event)"></date-range-selector>
                    </mat-card>
                </div>
            </fieldset>
            <!-- Customers -->
            <fieldset class="fieldset">
                <legend>
                    <span>{{ getLabel('customers') }}</span>
                    <div class="selected">
                        <span class="selected-count">{{ getLabel("selected") }}: {{ form.value.customers.length }}</span>
                        <span class="icon">{{ getEmoji(form.value.customers.length > 0 ? 'ok' : 'warning') }}</span>
                    </div>
                </legend>
                <div class="filter">
                    <div class="styled-input-square">
                        <div class="styled-input-single">
                            <input (click)="toggleAllCheckboxes('customer', 'allCustomersCheckbox')" id="all-customers" type="checkbox" formControlName="allCustomersCheckbox">
                            <label class="no-label" for="all-customers"></label>
                        </div>
                    </div>
                    <mat-form-field class="list-filter">
                        <input (keyup)="filterList($event, 'filteredCustomers', 'customers', 'customer')" formControlName="customersFilter" id="customersFilter" matInput>
                    </mat-form-field>
                </div>
                <div class="list-wrapper">
                    <div *ngFor="let customer of filteredCustomers">
                        <div class="styled-input-square">
                            <div class="styled-input-single" (change)="onCheckboxChange($event, 'allCustmersCheckbox', 'customers', customer.description)">
                                <input class="customer" formArrayName="customers" type="checkbox" [value]="customer.id" [attr.id]="'customer' + customer.id" [checked]="lookup('customers', customer.id)">
                                <label [attr.for]="'customer' + customer.id" [attr.id]="'customer-label' + customer.id">{{ customer.description | trimString:33 }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- Destinations -->
            <fieldset class="fieldset">
                <legend>
                    <span>{{ getLabel('destinations') }}</span>
                    <div class="selected">
                        <span class="selected-count">{{ getLabel("selected") }}: {{ form.value.destinations.length }}</span>
                        <span class="icon">{{ getEmoji(form.value.destinations.length > 0 ? 'ok' : 'warning') }}</span>
                    </div>
                </legend>
                <div class="filter">
                    <div class="styled-input-square">
                        <div class="styled-input-single">
                            <input (click)="toggleAllCheckboxes('destination', 'allDestinationsCheckbox')" id="all-destinations" type="checkbox" formControlName="allDestinationsCheckbox">
                            <label class="no-label" for="all-destinations"></label>
                        </div>
                    </div>
                    <mat-form-field class="list-filter">
                        <input (keyup)="filterList($event, 'filteredDestinations', 'destinations', 'destination')" formControlName="destinationsFilter" id="destinationsFilter" matInput>
                    </mat-form-field>
                </div>
                <div class="list-wrapper">
                    <div *ngFor="let destination of filteredDestinations">
                        <div class="styled-input-square">
                            <div class="styled-input-single" (change)="onCheckboxChange($event, 'allDestinationsCheckbox', 'destinations', destination.description)">
                                <input class="destination" formArrayName="destinations" type="checkbox" [value]="destination.id" [attr.id]="'destination' + destination.id" [checked]="lookup('destinations', destination.id)">
                                <label [attr.for]="'destination' + destination.id" [attr.id]="'destination-label' + destination.id">{{ destination.description | trimString:33 }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- Ships -->
            <fieldset class="fieldset">
                <legend>
                    <span>{{ getLabel('ships') }}</span>
                    <div class="selected">
                        <span class="selected-count">{{ getLabel("selected") }}: {{ form.value.ships.length }}</span>
                        <span class="icon">{{ getEmoji(form.value.ships.length > 0 ? 'ok' : 'warning') }}</span>
                    </div>
                </legend>
                <div class="filter">
                    <div class="styled-input-square">
                        <div class="styled-input-single">
                            <input (click)="toggleAllCheckboxes('ship', 'allShipsCheckbox')" id="all-ships" type="checkbox" formControlName="allShipsCheckbox">
                            <label class="no-label" for="all-ships"></label>
                        </div>
                    </div>
                    <mat-form-field class="list-filter">
                        <input (keyup)="filterList($event, 'filteredShips', 'ships', 'ship')" formControlName="shipsFilter" id="shipsFilter" matInput>
                    </mat-form-field>
                </div>
                <div class="list-wrapper">
                    <div *ngFor="let ship of filteredShips">
                        <div class="styled-input-square">
                            <div class="styled-input-single" (change)="onCheckboxChange($event, 'allShipsCheckbox', 'ships', ship.description)">
                                <input class="ship" formArrayName="ships" type="checkbox" [value]="ship.id" [attr.id]="'ship' + ship.id" [checked]="lookup('ships', ship.id)">
                                <label [attr.for]="'ship' + ship.id" [attr.id]="'ship-label' + ship.id">{{ ship.description | trimString:33 }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="onDoTasks()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="button-icon">lock</mat-icon>
                <span>{{ getLabel("searchButton") }}</span>
            </button>
        </div>
    </div>

</div>