.total-header {
    background-color: var(--color-a);
    color: var(--color-text);
    font-family: var(--font-family-ubuntu);
    font-weight: 100;
    padding: 0.3rem;
    transition: all var(--change-theme-delay) ease;
}

.subtotal td, .row-group td {
    color: var(--color-c);
    transition: all var(--change-theme-delay) ease;
}

.clickable {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.clickable:hover {
    color: var(--color-d) !important;
}

.pi-file-pdf {
    margin-right: 0.5rem;
    font-size: 1.5rem !important;
    font-weight: 100;
    transition: all var(--change-theme-delay) ease;
}
