#criteria {
    align-items: center;
    display: flex;
    font-family: var(--font-family-handbook);
    gap: 0.5rem;
    justify-content: flex-end;
    margin: 0 1rem 0 auto;
    text-align: right;
}

#criteria > div {
    background-color: var(--color-d);
    padding: 0.5rem;
    border-radius: 0.3125rem;
}

#criteria .label {
    color: var(--color-text);
    font-weight: bold;
}

#criteria .description {
    color: var(--color-text);
}

.customer-totals {
    background-color: var(--color-c) !important;
}

.clickable:hover {
    cursor: pointer;
}

.pi-file-pdf {
    color: var(--color-e);
    font-size: 1.5rem !important;
    font-weight: 100;
}

.no-transfer {
    background-color: var(--color-embarkation-pending);
}

.has-transfer {
    background-color: var(--color-embarkation-complete);
}
