#criteria {
    align-items: center;
    display: flex;
    font-family: var(--font-family-handbook);
    gap: 0.5rem;
    justify-content: flex-end;
    margin: 0 1rem 0 auto;
    text-align: right;
}

#criteria > div {
    background-color: var(--color-d);
    padding: 0.5rem;
    border-radius: 0.3125rem;
}

#criteria .label {
    color: var(--color-text);
    font-weight: bold;
}

#criteria .description {
    color: var(--color-text);
}

.customer-totals {
    background-color: var(--color-c) !important;
}

.clickable:hover {
    cursor: pointer;
}

.pi-file-pdf {
    color: var(--color-e);
    font-size: 1.5rem !important;
    font-weight: 100;
}

.pivot {
    font-family: var(--font-family-ubuntu);
    width: max-content;
}

.pivot .port {
    padding: 5px;
    width: 200px;
}

.pivot .header, .pivot .footer {
    background-color: var(--color-c);
    border: 1px solid var(--color-a);
    font-weight: normal;
    text-align: center;
}

.pivot .transfer {
    padding: 5px;
}

.pivot .number {
    border: 1px solid var(--color-a);
    padding: 4px 0 6px 0;
    text-align: center;
    width: 40px;
}

.has-transfer {
    color: var(--color-has-transfer);
    padding-left: 1rem;
}

.has-no-transfer {
    color: var(--color-has-no-transfer);
    padding-left: 1rem;
}

.port-panel {
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--color-c);
    margin: 0.5rem 0 0.5rem 5rem;
    padding: 1rem;
}

.port-panel:hover {
    background-color: #fde386;
}