<div id="list">

    <div *ngIf="records.length > 0" id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div id="criteria">
            <div>
                <div class="label">{{ getLabel('criteria-date') }}</div>
                <div class="description">{{ formatDate() }}</div>
            </div>
            <div>
                <div class="label">{{ getLabel('criteria-customer') }}</div>
                <div class="description">{{ replaceWildcardWithText(invoicingCriteria.customer) }}</div>
            </div>
            <div>
                <div class="label">{{ getLabel('criteria-destination') }}</div>
                <div class="description">{{ replaceWildcardWithText(invoicingCriteria.destination) }}</div>
            </div>
            <div>
                <div class="label">{{ getLabel('criteria-ship') }}</div>
                <div class="description">{{ replaceWildcardWithText(invoicingCriteria.ship) }}</div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="records.length > 0">
        <div id="table-wrapper">
            <p-table [value]="records" sortField="customer" rowGroupMode="subheader" #table [autoLayout]="false" [scrollable]="true" dataKey="customer" scrollHeight="flex" groupRowsBy="customer">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 3%; max-width: 3%; border-top-left-radius: 10px;"></th>
                        <th style="min-width: 15%; max-width: 15%;">{{ getLabel("headerDestination") }}</th>
                        <th style="min-width: 15%; max-width: 15%;">{{ getLabel("headerShip") }}</th>
                        <th style="min-width: 15%; max-width: 15%;">{{ getLabel("headerPort") }}</th>
                        <th style="min-width: 10%; max-width: 10%;">{{ getLabel("headerTicketNo") }}</th>
                        <th style="min-width: 6%; max-width: 6%;">{{ getLabel("headerHasTransfer") }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getLabel("headerAdults") }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getLabel("headerKids") }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getLabel("headerFree") }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getEmoji('sum') }}</th>
                        <th style="min-width: 24%; max-width: 24%; border-top-right-radius: 10px;">{{ getLabel("headerRemarks") }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="groupheader" let-record let-expanded="expanded">
                    <tr>
                        <td colspan="10" type="button">
                            <button pButton pRipple [pRowToggler]="record" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            <span style="font-weight: bold;">{{ record.customer }}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-record>
                    <tr *ngFor="let x of record.reservations, let i = index">
                        <td style="min-width: 3%; max-width: 3%;"></td>
                        <td style="min-width: 15%; max-width: 15%;">{{ record.reservations[i].destination }}</td>
                        <td style="min-width: 15%; max-width: 15%;">{{ record.reservations[i].ship }}</td>
                        <td style="min-width: 15%; max-width: 15%;">{{ record.reservations[i].port }}</td>
                        <td style="min-width: 10%; max-width: 10%;">{{ record.reservations[i].ticketNo }}</td>
                        <td [ngClass]="record.reservations[i].hasTransfer ? 'has-transfer' : 'no-transfer'" style="min-width: 6%; max-width: 6%; justify-content: center;">
                            <span *ngIf="record.reservations[i].hasTransfer" class="has-transfer material-icons-outlined">check_circle</span>
                            <span *ngIf="!record.reservations[i].hasTransfer" class="has-no-transfer material-icons-outlined">highlight_off</span>
                        </td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: right;">{{ record.reservations[i].adults }}</td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: right;">{{ record.reservations[i].kids }}</td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: right;">{{ record.reservations[i].free }}</td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: right;">{{ record.reservations[i].totalPersons }}</td>
                        <td style="min-width: 25%; max-width: 25%;">{{ record.reservations[i].remarks }}</td>
                        <td style="min-width: 5%; max-width: 5%;"></td>
                    </tr>
                    <div class="pivot">
                        <div class="port-panel" *ngFor="let port of record.portGroup, let i = index">
                            <table class="port-group">
                                <thead>
                                    <tr>
                                        <th class="port"></th>
                                        <th class="header number">A</th>
                                        <th class="header number">K</th>
                                        <th class="header number">F</th>
                                        <th class="header number">{{ getEmoji('sum') }}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let hasTransfer of record.portGroup[i].hasTransferGroup, let z = index">
                                        <td></td>
                                        <td class="number">{{ record.portGroup[i].hasTransferGroup[z].adults }}</td>
                                        <td class="number">{{ record.portGroup[i].hasTransferGroup[z].kids }}</td>
                                        <td class="number">{{ record.portGroup[i].hasTransferGroup[z].free }}</td>
                                        <td class="number">{{ record.portGroup[i].hasTransferGroup[z].totalPersons }}</td>
                                        <td class="center">
                                            <span *ngIf="record.portGroup[i].hasTransferGroup[z].hasTransfer" class="has-transfer material-icons-outlined">check_circle</span>
                                            <span *ngIf="!record.portGroup[i].hasTransferGroup[z].hasTransfer" class="has-no-transfer material-icons-outlined">highlight_off</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="port footer">{{ record.portGroup[i].port }}</td>
                                        <td class="number footer">{{ record.portGroup[i].adults }}</td>
                                        <td class="number footer">{{ record.portGroup[i].kids }}</td>
                                        <td class="number footer">{{ record.portGroup[i].free }}</td>
                                        <td class="number footer">{{ record.portGroup[i].totalPersons }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </p-table>
        </div>
        <div id="footer">
            <div @slideFromRight class="button-group">
                <button data-cy="new" mat-flat-button class="primary" (click)="exportAllCustomers()">{{ getLabel("exportAllButton") }}</button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="records.length == 0">
        <list-no-results [feature]="feature" [parentUrl]="parentUrl"></list-no-results>
    </ng-container>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>