:host {
    display: flex;
    width: 100%;
}

:host zxing-scanner::ng-deep video {
    max-height: 50vh;
    object-fit: contain;
}

:host zxing-scanner::ng-deep {
    border-style: solid;
}

#header #navigation {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

#header #embarkationFilter {
    margin-left: auto;
}

#header #embarkationFilter .mat-radio-button {
    margin-left: 1rem;
}

#scanCloseButton {
    left: 89.3%;
    position: absolute;
    top: 9.5%;
}

#video {
    background-color: #000000;
    display: none;
    padding: 1rem;
    position: fixed;
    z-index: 1;
}

.fa-arrow-circle-down, .fa-check-circle {
    color: var(--color-button-embarkation-checkin) !important;
}

.fa-arrow-circle-up, .fa-clock {
    color: var(--color-button-embarkation-checkout) !important;
}

.fa-exclamation-triangle {
    color: var(--color-icon-remarks-warning) !important;
}

.boarding:hover {
    cursor: pointer;
}