#header #navigation {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

#header #embarkationFilter {
    display: flex;
    margin: 0 calc(4rem - var(--gap)) 0 auto;
}

#header #embarkationFilter .mat-radio-button {
    margin-left: 1rem;
}

#scanCloseButton {
    left: 89.3%;
    position: absolute;
    top: 9.5%;
}

#video {
    background-color: #000000;
    display: none;
    padding: 1rem;
    position: fixed;
    z-index: 1;
}

.fa-arrow-circle-down {
    color: var(--color-button-embarkation-pending) !important;
}

.fa-check {
    color: var(--color-button-embarkation-ok) !important;
}

.fa-exclamation-triangle {
    color: var(--color-icon-remarks-warning) !important;
}

.boarding:hover {
    cursor: pointer;
}