:host {
    width: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-background-secondary);
}

.selection {
    align-items: center;
    display: flex;
    font-family: var(--font-family-master);
    font-size: var(--font-size-table-row);
    justify-content: flex-end;
    margin-left: auto;
}

.selection img {
    margin: 0.7rem;
}

.selection .sum {
    color: var(--color-text-secondary);
    font-size: var(--font-size-sum);
    font-weight: var(--font-weight-sum-persons);
}

#results {
    width: 100%;
}

.field-value {
    color: var(--color-text-primary);
    font-family: var(--font-family-master);
    margin-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

#clientFilters {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#closeButton {
    margin-left: 0 !important;
    width: 100%;
}

#video {
    background-color: #000000;
    display: none;
    padding: 1rem;
    position: fixed;
    z-index: 1;
}

.reservation {
    align-items: center;
    background-color: var(--color-summary-background);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
    width: 100%;
}

.field {
    display: flex;
}

.ticket {
    min-width: 15% !important;
}

.driver {
    margin-left: 1rem;
    width: 25% !important;
}

.customer {
    margin-left: 1rem;
    width: 25%;
}

.total-persons {
    margin-left: 1rem;
    min-width: 10%;
}

.pending-persons {
    margin-left: 1rem;
    min-width: 10%;
}

.reservation .spacer {
    flex-grow: 1;
    text-align: end;
}

.passenger {
    align-items: center;
    display: flex;
    margin: 0.4rem 0;
}

.passenger .remarks img {
    margin-left: auto;
}

.isCheckedIn {
    width: 2rem;
}

.lastname {
    max-width: 30%;
    min-width: 30%;
}

.firstname {
    max-width: 30%;
    min-width: 30%;
}

.board-passenger {
    justify-content: flex-end;
    width: 100%;
}

.record {
    display: flex;
    flex-basis: content;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.passengers {
    margin: 0 1rem;
}

#scanCloseButton {
    left: 83.3%;
    position: absolute;
    top: 22px;
}

#no-results {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

#no-results img {
    width: 10rem;
}

img.toggleBoardingButton {
    padding: 0;
}

.mat-drawer-container {
    height: 100%;
}

.mat-drawer-content {
    background-color: var(--color-background-secondary);
    padding-right: 0.3125rem;
}

.mat-sidenav {
    background-color: var(--color-sidenav);
    padding: 1rem;
    width: 230px;
}

.label {
    color: var(--color-text-primary);
    font-family: var(--font-family-master);
    font-size: 100%;
    font-variant-caps: petite-caps;
}

.filter {
    margin-top: 1rem;
}

.filterContent {
    margin: 1rem 0 0 1rem;
}

.filterContent .item {
    border-left: 5px solid var(--color-border-inactive);
    color: var(--color-text-primary);
    display: flex;
    font-family: var(--font-family-master);
    font-size: 100%;
    justify-content: space-between;
    line-height: 1.8rem;
    margin-bottom: 0.2rem;
    padding: 0.125rem 0.5rem 0.125rem 1rem;
}

.filterContent .item:hover {
    color: var(--color-text-secondary);
    cursor: pointer;
}

.buttons {
    margin-top: auto;
}