    #wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    #header {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0 2rem 1.2rem 0;
    }
    
    #filters {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-left: auto;
    }
    
    .selection {
        align-items: baseline;
        display: flex;
        font-family: var(--font-family-totals);
        font-size: var(--font-size-table-row);
        justify-content: flex-end;
        text-align: right;
    }
    
    .selection .label {
        color: var(--color-text-primary);
        font-size: var(--font-size-sum-persons);
        font-variant-caps: petite-caps;
        font-weight: var(--font-weight-sum-persons);
        margin: 0 0.5rem 0 0.5rem;
    }
    
    .selection .sum {
        color: var(--color-text-secondary);
        font-size: var(--font-size-sum);
        font-weight: var(--font-weight-sum-persons);
    }
    
    .filter {
        width: 300px !important;
    }
    
    #results {
        padding-right: 1rem;
    }
    
    .mat-expansion-panel {
        background-color: var(--color-background-summary) !important;
        box-shadow: none !important;
    }
    
    .mat-expansion-panel-header-title {
        color: var(--color-expansion-header);
        font-family: var(--font-family-label) !important;
        font-size: 1.5rem !important;
        font-variant-caps: petite-caps;
        margin: 0 !important;
    }
    
    .horizontal {
        display: flex;
        flex-direction: row;
    }
    
    .horizontal .field-label {
        margin-bottom: 0;
    }
    
    .field-label {
        color: var(--color-field-label);
        font-family: var(--font-family-label);
        font-size: 1.5rem;
        font-variant-caps: petite-caps;
        margin-bottom: 0.5rem;
    }
    
    .field-value {
        color: var(--color-field-value);
    }
    
    .detail {
        align-items: center;
        display: flex;
        padding: 0.5rem 1rem;
    }
    
    .detail .field {
        margin-right: 1rem;
        width: 300px;
    }
    
    .detail .field.isBoarded {
        text-align: center;
        width: 100px;
    }
    
    .ok {
        color: chartreuse;
    }
    
    .pending {
        color: #F8754B;
    }
    
    .detail .button {
        margin-left: auto !important;
    }
    
    .detail:hover {
        background-color: rgba(0, 0, 0, .04);
        cursor: pointer;
    }
    
    #remarks {
        font-variant: all-small-caps;
        margin-left: auto;
    }
    
    #remarks img {
        margin-left: 1rem;
    }