<div id="wrapper">

    <div id="results" class="scrollable">
        <mat-sidenav-container [hasBackdrop]="true">
            <mat-sidenav mode="over" [(opened)]="openedClientFilters" position="end">
                <div *ngIf="openedClientFilters" id="clientFilters">
                    <!-- Ticket number -->
                    <mat-form-field>
                        <input type="text" matInput placeholder="{{ onGetLabel('searchLabel') }}" [(ngModel)]="searchTerm" (change)="onFilterByTicketNo(query.value)" #query autocomplete="off">
                        <mat-hint>{{ onGetLabel('searchHint') }}</mat-hint>
                        <!-- <button (click)="onFilterByTicketNo(query.value)">Search</button> -->
                    </mat-form-field>
                    <!-- Boarding status -->
                    <form id="form" [formGroup]="form" autocomplete="off">
                        <mat-form-field>
                            <mat-label>{{ onGetLabel('boardingStatus') }}</mat-label>
                            <mat-select [(value)]="boardingStatus" (selectionChange)="onFilterByBoardingStatus()">
                                <mat-option value=2>{{ onGetLabel('boardingStatusAll') }}</mat-option>
                                <mat-option value=1>{{ onGetLabel('boardingStatusBoarded') }}</mat-option>
                                <mat-option value=0>{{ onGetLabel('boardingStatusPending') }}</mat-option>
                            </mat-select>
                            <mat-hint>{{ onGetLabel('searchDropdownHint') }}</mat-hint>
                        </mat-form-field>
                        <!-- Drivers -->
                        <mat-form-field>
                            <mat-label>{{ onGetLabel("driver") }}</mat-label>
                            <mat-select [(value)]="selectedDriver" formControlName="driverId" (selectionChange)="onFilterByDriver()">
                                <mat-option *ngFor="let driver of drivers" [value]="driver.description">
                                    {{ driver.description }}
                                </mat-option>
                            </mat-select>
                            <mat-hint>{{ onGetLabel('searchDropdownHint') }}</mat-hint>
                        </mat-form-field>
                    </form>
                    <!-- Button -->
                    <button mat-flat-button class="primary" id="closeButton" (click)="close()">{{ onGetLabel('closeButton') }}</button>
                </div>
            </mat-sidenav>
            <mat-sidenav-content class="scrollable">
                <mat-accordion class=" example-headers-align" multi>
                    <mat-expansion-panel *ngFor="let record of filteredRecords.boardings" hideToggle [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="field horizontal">
                                    <div class="field-label">{{ onGetLabel('ticketNo') }}:&nbsp;</div>
                                    <div class="field-value">{{ record.ticketNo }}</div>
                                </div>
                                <div class="field horizontal">
                                    <div class="field-label">{{ onGetLabel('driver') }}:&nbsp;</div>
                                    <div class="field-value">{{ record.driver }}</div>
                                </div>
                                <div class="field horizontal">
                                    <div class="field-label"> {{ onGetLabel('totalPersons') }}:&nbsp;</div>
                                    <div class="field-value">{{ record.totalPersons }}&nbsp;</div>
                                </div>
                                <div class="field horizontal" *ngIf="!personsAreNotMissing(record)">
                                    <img src="/assets/images/navigation/danger.svg" width="20px">
                                    <div class="field-label">&nbsp; {{ onGetLabel('pendingPersons') }}:&nbsp;</div>
                                    <div class="field-value">{{ record.totalPersons - record.passengers.length }}&nbsp;</div>
                                </div>
                                <div class="field horizontal" id="remarks" *ngIf="onCheckRemarksLength(record.remarks)">
                                    <img src="/assets/images/navigation/warning.svg" width="25px">
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="detail" *ngFor="let passenger of record.passengers">
                            <div class="field">
                                <div class="field-value">
                                    <img *ngIf="passenger.isCheckedIn" src="/assets/images/navigation/isBoarded.svg" width="20px">
                                    <img *ngIf="!passenger.isCheckedIn" src="/assets/images/navigation/isNotBoarded.svg" width="20px">
                                </div>
                            </div>
                            <div class="field" id="lastname">
                                <div class="field-value">{{ passenger.lastname }}</div>
                            </div>
                            <div class="field" id="firstname">
                                <div class="field-value">{{ passenger.firstname }}</div>
                            </div>
                            <div class="button">
                                <button mat-flat-button class="primary" (click)="onDoBoarding(passenger.id)">{{ onGetLabel('boardButton') }}</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

    <div id="footer">
        <div id="action-buttons">
            <button mat-flat-button class="primary" (click)="onShowScanner()">Scan Me!</button>
            <button mat-flat-button class="secondary" (click)="onHideScanner()">Stop</button>
        </div>
        <div class="selection">
            <div class="label">{{ onGetLabel('totalPersons') }}:</div>
            <div class="sum"> {{ records.allPersons }}</div>
            <div class="label">{{ onGetLabel('boardedPersons') }}:</div>
            <div class="sum"> {{ records.boardedPersons }}</div>
            <div class="label">{{ onGetLabel('pandingPersons') }}:</div>
            <div class="sum"> {{ records.remainingPersons}} </div>
        </div>
        <div id="client-filter-buttons">
            <button mat-flat-button class="primary" (click)="toggleClientFilters()">{{ onGetLabel('filterButton') }}</button>
        </div>
    </div>

    <div id="video">
        <qr-scanner [debug]="false" [canvasWidth]="400" [canvasHeight]="400" [stopAfterScan]="false" [updateTime]="500"></qr-scanner>
    </div>

</div>