<div id="form-wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <div (click)="onEdit()" class="button-wrapper">
            <div class="button-content">
                <img src="/assets/images/various\user.svg" height="100px">
                <span>{{ getLabel('edit') }}</span>
            </div>
        </div>
        <div (click)="onChangePassword()" class="button-wrapper">
            <div class="button-content">
                <img src="/assets/images/various/lock.svg" height="100px">
                <span>{{ getLabel('changePassword') }}</span>
            </div>
        </div>
    </div>

</div>