:host {
    display: flex;
    flex-direction: column;
    height: inherit;
}

#form {
    flex-direction: row !important;
}

.p-fieldset .p-fieldset-content {
    flex-direction: column;
}

.mat-calendar-previous-button, .mat-calendar-next-button {
    display: block !important;
}
