<div id="form-wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form id="form" [formGroup]="form" autocomplete="off">
            <!-- Date -->
            <p-fieldset [legend]="getLabel('date')" class="calendar">
                <div id="calendar-wrapper">
                    <mat-card id="calendar-card">
                        <mat-calendar #calendar (click)="selectDate(selectedDate)" [(selected)]="selectedDate" [startAt]="selectedDate"></mat-calendar>
                    </mat-card>
                    <button (click)="gotoToday()" class="primary" mat-flat-button>{{ getLabel("todayButton") }}</button>
                </div>
            </p-fieldset>
            <!-- Destination -->
            <p-fieldset [legend]="getLabel('destination')">
                <div *ngFor="let destination of destinations">
                    <div formGroupName="destination">
                        <div class="styled-input-single">
                            <input class="destination" formControlName="id" type="radio" [value]="destination.id" [attr.id]="'destination' + destination.id" (click)="updateRadioButtons('destination', destination.id, destination.description)">
                            <label [attr.for]="'destination' + destination.id">{{ destination.description }}</label>
                        </div>
                    </div>
                </div>
            </p-fieldset>
            <!-- Ports -->
            <p-fieldset [legend]="getLabel('port')">
                <div *ngFor="let port of ports">
                    <div class="styled-input-square">
                        <div class="styled-input-single" (change)="onCheckboxChange($event, port.description)">
                            <input class="port" formArrayName="ports" type="checkbox" [value]="port.id" [attr.id]="'port' + port.id" [checked]="lookupPort(port.id)">
                            <label [attr.for]="'port' + port.id">{{ port.description }}</label>
                        </div>
                    </div>
                </div>
            </p-fieldset>
            <!-- Ship -->
            <p-fieldset [legend]="getLabel('ship')">
                <div *ngFor="let ship of ships">
                    <div formGroupName="ship">
                        <div class="styled-input-single">
                            <input class="ship" formControlName="id" type="radio" [value]="ship.id" [attr.id]="'ship' + ship.id" (click)="updateRadioButtons('ship', ship.id, ship.description)">
                            <label [attr.for]="'ship' + ship.id">{{ ship.description }}</label>
                        </div>
                    </div>
                </div>
            </p-fieldset>
            <!-- Ship route-->
            <p-fieldset [legend]="getLabel('shipRoute')">
                <div *ngFor="let shipRoute of shipRoutes">
                    <div formGroupName="shipRoute">
                        <div class="styled-input-single">
                            <input class="shipRoute" formControlName="id" type="radio" [value]="shipRoute.id" [attr.id]="'shipRoute' + shipRoute.id" (click)="updateRadioButtons('shipRoute', shipRoute.id, shipRoute.description)">
                            <label [attr.for]="'shipRoute' + shipRoute.id">{{ shipRoute.description }}</label>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

</div>

<div id="footer">
    <div class="button-group-right">
        <button (click)="onDoTasks()" [disabled]="!form.valid" class="primary" id="search" mat-flat-button>
            <mat-icon *ngIf="!form.valid" class="button-icon">lock</mat-icon>
            <span>{{ getLabel("searchButton") }}</span>
        </button>
    </div>
</div>