<div id="form-wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form id="form" [formGroup]="form" autocomplete="off">
            <!-- Date -->
            <p-fieldset [legend]="getLabel('date')">
                <div id="calendar-wrapper">
                    <mat-card id="calendar-card">
                        <mat-calendar #calendar (click)="gotoDate(selectedDate)" [(selected)]="selectedDate" [startAt]="selectedDate"></mat-calendar>
                    </mat-card>
                    <button (click)="gotoToday()" class="primary" mat-flat-button>{{ getLabel("todayButton") }}</button>
                </div>
            </p-fieldset>
            <!-- Destination -->
            <p-fieldset [legend]="getLabel('destination')">
                <div *ngFor="let destination of destinations">
                    <div class="styled-input-single">
                        <input formControlName="destinationId" type="radio" [value]="destination.id" [attr.id]="'destination' + destination.id">
                        <label [attr.for]="'destination' + destination.id">{{ destination.description }}</label>
                    </div>
                </div>
            </p-fieldset>
            <!-- Ports -->
            <p-fieldset [legend]="getLabel('port')">
                <div *ngFor="let port of ports">
                    <div class="styled-input-square">
                        <div class="styled-input-single" (change)="onCheckboxChange($event, 'portIds')">
                            <input formArrayName="portIds" type="checkbox" [value]="port.id" [attr.id]="'port' + port.id" [checked]="lookupPort(port.id)">
                            <label [attr.for]="'port' + port.id">{{ port.description }}</label>
                        </div>
                    </div>
                </div>
            </p-fieldset>
            <!-- Ship -->
            <p-fieldset [legend]="getLabel('ship')">
                <div *ngFor="let ship of ships">
                    <div class="styled-input-single">
                        <input formControlName="shipId" type="radio" [value]="ship.id" [attr.id]="'ship' + ship.id">
                        <label [attr.for]="'ship' + ship.id">{{ ship.description }}</label>
                    </div>
                </div>
            </p-fieldset>
        </form>
        <p class="instructions" [class.hidden]=false>{{ form.value | json }} {{ form.valid }}</p>
    </div>

</div>

<div id="footer">
    <div class="button-group">
        <button (click)="onDoTasks()" [disabled]="!form.valid" class="primary" id="search" mat-flat-button>
            <mat-icon *ngIf="!form.valid" class="button-icon">lock</mat-icon>
            <span>{{ getLabel("searchButton") }}</span>
        </button>
    </div>
</div>