#legend-header {
    color: var(--color-calendar-legend) !important;
}

#legend-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 2rem;
    padding: 0;
}

#legend-items li {
    align-items: center;
    color: var(--color-calendar-legend);
    display: flex;
    font-family: var(--font-family-calendar-legend);
    font-size: var(--font-size-calendar-legend-items);
    font-variant-caps: petite-caps;
    width: max-content;
}

#legend-items li:not(:last-child) {
    margin-bottom: 0.5rem;
}

#legend-items li img {
    margin-right: 0.5rem;
}

#footer {
    display: flex;
    justify-content: flex-end;
}