#footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem 0 2rem !important;
}

#utility-buttons {
    margin-left: -2rem;
}

.mat-icon {
    color: var(--color-text-primary) !important;
}