:host {
    display: flex;
    width: 100%;
}

#list {
    width: 100%;
    height: 100%;
}

#content {
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: 20% 20% auto;
    padding: 0 1rem 1rem 1rem;
    transition: background-color 0.7s;
}

#calendar {
    flex-direction: row;
    justify-content: center;
}

#calendar-wrapper {
    align-items: center;
    background-color: var(--color-background-primary) !important;
    display: flex;
    gap: 1rem;
    justify-content: center;
    transition: opacity 0.7s;
    width: 100%;
}

#occupancy {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#occupancyHeader {
    align-items: center;
    color: var(--color-summary-header) !important;
    font-family: var(--font-family-summary-header) !important;
    font-size: var(--font-size-summary-block-header) !important;
    font-variant-caps: petite-caps !important;
    font-weight: var(--font-weight-summary-header) !important;
    margin-bottom: 1rem !important;
}

#occupancyLegend {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

#occupancyLegend li {
    align-items: center;
    color: var(--color-occupancy-label);
    display: flex;
    font-family: var(--font-family-summary-block);
    font-size: var(--font-size-summary-block-item);
    font-variant-caps: petite-caps;
    width: max-content;
}

#occupancyLegend li:not(:last-child) {
    margin-bottom: 0.5rem;
}

#occupancyLegend li img {
    margin-right: 0.5rem;
}

td:hover {
    background-color: aqua;
}