<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div id="criteria">
            <div class="pill date">
                <img width="1.25rem" [src]="getIcon('calendar')">
                <div class="description">{{ formatDateToLocale(criteriaPanels.fromDate, true, true) }} - {{ formatDateToLocale(criteriaPanels.toDate, true, true) }}</div>
            </div>
            <button (click)="resetTableFilters()" [disabled]="records.length==recordsFilteredCount" class="primary" mat-flat-button>
                <i class="pi pi-filter-slash"></i>
            </button>
        </div>
    </div>

    <div id="content">
        <div id="criteria-panel">
            <criteria-panel [backgroundColor]="'var(--color-criteria-a)'" [feature]="feature" [header]="'criteria-customers'" [icon]="'customers'" [records]="criteriaPanels.customers" [sortField]="'description'"></criteria-panel>
            <criteria-panel [backgroundColor]="'var(--color-criteria-b)'" [feature]="feature" [header]="'criteria-destinations'" [icon]="'destinations'" [records]="criteriaPanels.destinations" [sortField]="'description'"></criteria-panel>
            <criteria-panel [backgroundColor]="'var(--color-criteria-c)'" [feature]="feature" [header]="'criteria-ships'" [icon]="'ships'" [records]="criteriaPanels.ships" [sortField]="'description'"></criteria-panel>
        </div>
        <div id="table-wrapper">
            <p-table #table (onFilter)="filterRecords($event)" [(selection)]="selectedRecords" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="customer.description" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="customer.description">{{ getLabel("headerCustomer") }}</th>
                    </tr>
                    <tr>
                        <th><input (input)="table.filter($event.target.value, 'customer.description', 'contains')" [value]="$any(table).filters['customer.description']?.value" class="p-inputtext" type="text"></th>
                    </tr>
                </ng-template>
                <ng-template let-customer pTemplate="body">
                    <tr [attr.id]=customer.description [pSelectableRow]="customer" (click)="unHighlightAllRows()" (dblclick)="showCustomerReservations(customer)" style="height:32px">
                        <td>{{ customer.customer.description }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div id="footer">
        <table-total-filtered-records [filteredRecordCount]="recordsFilteredCount" [recordCount]="records.length"></table-total-filtered-records>
        <div class="button-group-right">
            <button (click)="exportSelected()" class="primary" mat-flat-button>
                <mat-icon class="button-icon">lock</mat-icon>
                <span>{{ getLabel("createPdfButton") }}</span>
            </button>
        </div>
    </div>

</div>