#header #search-box {
    margin-left: auto;
}

#header #search-box .mat-form-field {
    width: 12rem !important;
}

#header #search-box #form {
    align-items: center;
    display: flex;
    gap: 1rem;
}

#content {
    display: flex;
    flex: 1;
    height: 100%;
    margin: 0rem;
    overflow: hidden;
}