<div id="form-wrapper">

    <div id="header">
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header')}}</h1>
        </div>
    </div>

    <div id="content">
        <form id="form" [formGroup]="form" autocomplete="off">
            <mat-form-field class="no-margin">
                <input data-cy="date" [inputFormat]="'date'" [matDatepicker]="picker" [placeholder]="onGetLabel('searchLabel')" autocomplete="off" class="center" formControlName="date" id="date" matInput type="text">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="date.hasError('required')">{{ onGetHint('required') }}</mat-error>
                <mat-hint>{{ onGetLabel('searchHint') }}</mat-hint>
            </mat-form-field>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button data-cy="doJobs" mat-flat-button class="primary" [disabled]="!form.valid" id="search" (click)="onDoJobs()">{{ onGetLabel('searchButton') }}</button>
        </div>
    </div>

</div>