#content {
    flex-direction: column;
}

#panel-buttons {
    margin-bottom: auto;
}

#panel-buttons button {
    border-bottom: 2px solid var(--color-c);
    border-radius: 0;
    color: var(--color-text) !important;
    font-size: var(--font-size-panel-buttons) !important;
}

#panel-buttons button.mat-button-disabled {
    border-bottom: 0.25rem solid var(--color-d);
    border-radius: 0;
    color: var(--color-text) !important;
    font-size: var(--font-size-panel-buttons) !important;
}

#form {
    margin-bottom: auto;
}

#map-outer-wrapper {
    height: 100%;
    padding: 1rem 0 var(--gap) 0;
    width: 100%;
}

#map-wrapper {
    height: 100%;
    width: 100%;
}