<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th data-cy="column" style="min-width: 10%; max-width: 10%; border-top-left-radius: 10px;">{{ getLabel("headerIsActive") }}</th>
                    <th data-cy="column" style="min-width: 15%; max-width: 15%;">{{ getLabel("headerRouteAbbreviation") }}</th>
                    <th data-cy="column" style="min-width: 35%; max-width: 35%;">{{ getLabel("headerDescription") }}</th>
                    <th data-cy="column" style="min-width: 30%; max-width: 30%;">{{ getLabel("headerExactPoint") }}</th>
                    <th data-cy="column" style="min-width: 10%; max-width: 10%; border-top-right-radius: 10px;">{{ getLabel("headerTime") }}</th>
                </tr>
                <tr>
                    <th style="min-width: 10%; max-width: 10%;">
                        <p-columnFilter data-cy="filter-active" type="boolean" field="isActive"></p-columnFilter>
                    </th>
                    <th style="min-width: 15%; max-width: 15%;">
                        <p-columnFilter style="width: 100%;" field="routeAbbreviation" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown data-cy="filter-route" [ngModel]="value" [options]="dropdownRoutes" (onChange)="filter($event.value)" placeholder="⭐" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="min-width: 35%; max-width: 35%;"><input data-cy="filter-description" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value"></th>
                    <th style="min-width: 30%; max-width: 30%;"><input data-cy="filter-exactPoint" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'exactPoint', 'contains')" [value]="$any(table).filters['exactPoint']?.value"></th>
                    <th style="min-width: 10%; max-width: 10%;"><input data-cy="filter-time" type="text" class="p-inputtext center" (input)="table.filter($event.target.value, 'time', 'contains')" [value]="$any(table).filters['time']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr data-cy="row" [pSelectableRow]="rowData" (dblclick)="onEditRecord(rowData.id)">
                    <td style="min-width: 10%; max-width: 10%; padding: 5px !important; justify-content: center;"><i class="pi" [ngClass]="{'icon-green pi-check': rowData.isActive, 'icon-red pi-times': !rowData.isActive}"></i></td>
                    <td style="min-width: 15%; max-width: 15%; justify-content: center;">{{ rowData.routeAbbreviation }}</td>
                    <td style="min-width: 35%; max-width: 35%;">{{ rowData.description }}</td>
                    <td style="min-width: 30%; max-width: 30%;">{{ rowData.exactPoint }}</td>
                    <td style="min-width: 10%; max-width: 10%; justify-content: center;">{{ rowData.time }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="onNewRecord()">{{ getLabel("newButton") }}</button>
        </div>
    </div>

</div>