#content {
    flex-direction: column;
}

#panel-buttons button {
    border-radius: 0;
    color: var(--color-text-primary) !important;
    font-size: var(--font-size-panel-buttons) !important;
}

#form {
    height: 100%;
    width: 100%;
}

#map-outer-wrapper {
    height: 100%;
    padding: 1rem 0 1rem 0;
    width: 100%;
}

#map-wrapper {
    height: 100%;
    width: 100%;
}