<div id="form-wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <div id="panel-buttons">
            <button (click)="onFocusFormPanel()" [disabled]="activePanel=='form'" class="tab" data-cy="form-button" id="formTab" mat-flat-button>{{ getLabel("formTab") }}</button>
            <button (click)="onFocusMapPanel()" [disabled]="activePanel=='map'" class="tab" data-cy="map-button" id="mapTab" mat-flat-button>{{ getLabel("mapTab") }}</button>
        </div>
        <div id="form" [class.hidden]="activePanel=='map'">
            <form [formGroup]="form" autocomplete="off" data-cy="form">
                <div class="group-field">
                    <mat-form-field>
                        <input (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="routes" [placeholder]="getLabel('route')" data-cy="route-description" data-tabindex="1" formControlName="route" matInput>
                        <mat-error *ngIf="route.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!route.hasError('required') && route.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('description')" data-cy="description" data-tabindex="2" formControlName="description" id="description" matInput>
                        <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="description.hasError('maxLength')">{{ getHint("maxLength", description.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="group-field">
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('exactPoint')" data-cy="exactPoint" data-tabindex="3" formControlName="exactPoint" id="exactPoint" matInput>
                        <mat-error *ngIf="exactPoint.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="exactPoint.hasError('maxlength')">{{ getHint("maxLength", exactPoint.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('time')" data-cy="time" data-tabindex="4" formControlName="time" id="time" matInput>
                        <mat-error *ngIf="time.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!time.hasError('required') && !time.hasError('isTime')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <input [placeholder]="getLabel('coordinates')" data-cy="coordinates" formControlName="coordinates" id="coordinates" matInput readonly>
                </mat-form-field>
                <mat-slide-toggle data-cy="isActive" formControlName="isActive">{{ getLabel("isActive") }}</mat-slide-toggle>
            </form>
            <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
        </div>
        <div [class.hidden]="activePanel=='form'" id="map-outer-wrapper">
            <div *ngIf="pickupPoints" id="map-wrapper">
                <map [pickupPoints]="pickupPoints" (outputCoordinates)="onUpdateCoordinates($event)"></map>
            </div>
        </div>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" data-cy="delete" id="delete" mat-flat-button>{{ getLabel("deleteButton") }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" data-cy="save" id="save" mat-flat-button>{{ getLabel("saveButton") }}</button>
        </div>
    </div>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>

<mat-autocomplete #routes="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredRoutes | async" [value]="option">
        {{ option.abbreviation }}
    </mat-option>
</mat-autocomplete>