<div id="top-bar">
    <div id="left">
        <top-logo></top-logo>
        <main-menu></main-menu>
    </div>
    <div id="right">
        <div id="secondary-menu-bar">
            <div id="hamburger-menu" (click)="onClickMenu()">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
            </div>
            <ul id="secondary-menu">
                <schedule-menu></schedule-menu>
                <user-menu></user-menu>
                <language-menu></language-menu>
                <theme-menu></theme-menu>
            </ul>
        </div>
    </div>
</div>