#top-bar {
    background-color: transparent;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr auto;
    padding: 0.5rem 2.4rem 0.5rem 10.625rem;
}

#left {
    align-items: center;
    display: flex;
    grid-area: left;
    margin-right: auto;
}

#right {
    align-items: center;
    display: flex;
    grid-area: right;
    justify-content: flex-end;
    align-items: center;
}

