#top-bar {
    align-items: center;
    background-color: var(--color-common-background);
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem 0.3rem 5rem;
    transition: background-color var(--change-theme-delay) ease;
}