:root {
    --color-autocomplete-background-hover: #a6d5fa26;
    --color-autocomplete-background: #657171;
    --color-autocomplete-border-active: #fe9f36;
    --color-border-item-active: #f2d492;
    --color-border-item-inactive: #576971;
    --color-button-delete: #f28482;
    --color-button-embarkation-checkin: #98fb98;
    --color-button-embarkation-checkout: #ffb6c1;
    --color-button-icon: #ededed;
    --color-button-primary-hover: #226c7b;
    --color-button-primary: #6ba2ad;
    --color-button-secondary: #426176;
    --color-button-text: #ededed;
    --color-calendar-legend: #efefef;
    --color-checkbox-checked: #55828b;
    --color-checkbox-indeterminate: #185258;
    --color-common-background: #4c565a;
    --color-credit-about: #efefef;
    --color-credit-hover: #545454;
    --color-credit-title: #fe9f36;
    --color-credit-url: #ffe85c;
    --color-datepicker-days: #ededed;
    --color-datepicker-month: #ffe85c;
    --color-dropdown-background: #657171;
    --color-embarkation-list-icons: #6ba2ad;
    --color-embarkation-list-ticketNo: #fe9f36;
    --color-embarkation-reservation-icon: #8bd0de;
    --color-headers: #ffeb6f;
    --color-icon-remarks-warning: #fcff29;
    --color-logo: #a6d5fa;
    --color-map-buttons-background: #426176;
    --color-map-buttons: #ebe5cd;
    --color-map-tooltip-background: #22333b;
    --color-map-tooltip-color: #efefef;
    --color-menu-background-hover: #6390ab4a;
    --color-menu-background: #657171;
    --color-menu-sub-items-background: #a6d5fa0f;
    --color-menu-sub-items: #c0f3c4;
    --color-menu-text-hover: #ffffff;
    --color-radio-inner-circle: #ffe85c;
    --color-radio-outer-circle: #fe9f36;
    --color-scrollbar: #fe9f36;
    --color-search-box: #767475;
    --color-selected-tab: #ffe85c;
    --color-slider-bar-active: #6d7273;
    --color-slider-bar-inactive: #a2a6a7;
    --color-slider-thumb-active: #6a7f82;
    --color-slider-thumb-inactive: #a2a6a7;
    --color-snackbar-error: #920402;
    --color-snackbar-info: #76a28d;
    --color-spinner-inner: #ffe85c;
    --color-spinner-outer: #fe9f36;
    --color-spinner: #fe9f36;
    --color-summary-background: #97aaaf21;
    --color-summary-header: #e6ba8a;
    --color-summary-total: #e6ba8a;
    --color-table-badge-background: #7c8084;
    --color-table-badge-color: #ffe85c;
    --color-table-column-seperator: #767475;
    --color-table-expand-row: #ffc78a;
    --color-table-header: #525d61;
    --color-table-invoice-customerdescription: #fe9f36;
    --color-table-row-focus-outline: #ffe85c;
    --color-table-row-highlight: #7c8084;
    --color-table-sort-icon: #ffe85c;
    --color-text-primary: #efefef;
    --color-text-secondary: #ecd234;
    --color-text-selected: #f2d49266;
    --color-tooltip-background: #fe9f36;
    --color-tooltip: #525d61;
}