:root {
    --color-border-item-active: #426f8a;
    --color-border-item-inactive: #d5dee2;
    --color-button-delete: #f28482;
    --color-button-icon: #227c9d;
    --color-button-primary-hover: #3c5565;
    --color-button-primary: #227c9d;
    --color-button-secondary: #eaa558;
    --color-button-text: #ededed;
    --color-calendar-legend: #efefef;
    --color-checkbox-checked: #426f8a;
    --color-checkbox-indeterminate: #426f8a;
    --color-common-background: #ffffff;
    --color-credit-about: #210646;
    --color-credit-hover: #f9f4d7;
    --color-credit-title: #fe9f36;
    --color-credit-url: #86805f;
    --color-datepicker-days: #ededed;
    --color-datepicker-month: #ffe85c;
    --color-headers: #227c9d;
    --color-logo-primary: #355070;
    --color-logo-secondary: #b56576;
    --color-map-buttons-background: #426176;
    --color-map-buttons: #ebe5cd;
    --color-map-tooltip-background: #22333b;
    --color-map-tooltip-color: #efefef;
    --color-menu-background-hover: #cce8f9;
    --color-menu-background: #edf8ff;
    --color-menu-sub-items-background: #00000008;
    --color-menu-sub-items: #44a3a9;
    --color-menu-text-hover:#072d31;
    --color-scrollbar: #fe9f36;
    --color-search-box: #767475;
    --color-selected-tab: #ef8857;
    --color-slider-bar-active: #94999a;
    --color-slider-bar-inactive: #a2a6a7;
    --color-slider-thumb-active: #426f8a;
    --color-slider-thumb-inactive: #a2a6a7;
    --color-snackbar-error: #920402;
    --color-snackbar-info: #76a28d;
    --color-spinner-inner: #ffe85c;
    --color-spinner-outer: #fe9f36;
    --color-spinner: #fe9f36;
    --color-summary-background: #97aaaf21;
    --color-summary-header: #e6ba8a;
    --color-summary-total: #e6ba8a;
    --color-table-badge-background: #edf8ff;
    --color-table-badge-color: #b56576;
    --color-table-column-seperator: #767475;
    --color-table-header: #e3e3e3;
    --color-table-invoice-customerdescription: #fe9f36;
    --color-table-row-focus-outline: #ffe85c;
    --color-table-row-highlight: #cce8f9;
    --color-table-sort-icon: #fe9f36;
    --color-text-primary: #072d31;
    --color-text-secondary: #ef8857;
    --color-text-selected: #f2d49266;
    --color-tooltip-background: #426f8a;
    --color-tooltip: #efefef;
}