:root {
    /* Sidebar */
    --color-gradient-top: #39a2b6;
    --color-gradient-bottom: #140436;
    /* Headers */
    --color-headers: #38a2b6;
    /* border of clickable items */
    --color-border-item-active: #426f8a;
    --color-border-item-inactive: #d5dee2;
    /* buttons */
    --color-button-delete: #f28482;
    --color-button-primary-hover: #3c5565;
    --color-button-primary: #426f8a;
    --color-button-secondary: #eaa558;
    --color-button-text: #ededed;
    /* calendar legend */
    --color-calendar-legend: #efefef;
    /* checkboxes */
    --color-checkbox-checked: #426f8a;
    --color-checkbox-indeterminate: #426f8a;
    /* common */
    --color-common-background-primary: #627789;
    --color-common-background-secondary: #efefef;
    --color-common-sidenav: #caebff;
    /* credits */
    --color-credit-about: #210646;
    --color-credit-hover: #f9f4d7;
    --color-credit-title: #fe9f36;
    --color-credit-url: #86805f;
    /* datepicker */
    --color-datepicker-days: #ededed;
    --color-datepicker-month: #ffe85c;
    /* Logo */
    --color-logo-primary: #fe9f36;
    --color-logo-secondary: #ffe85c;
    /* Menu */
    --color-menu-background-hover: #6390ab4d;
    --color-menu-background: #627789;
    --color-menu-sub-items: #38a2b6;
    --color-menu-sub-list: #e3e3e3;
    /* Maps */
    --color-map-buttons-background: #426176;
    --color-map-buttons: #ebe5cd;
    --color-map-tooltip-background: #22333b;
    --color-map-tooltip-color: #efefef;
    /* Scroll bars */
    --color-scrollbar: #fe9f36;
    /* Selected tabs */
    --color-selected-tab: #ef8857;
    /* Sliders */
    --color-slider-bar-active: #94999a;
    --color-slider-bar-inactive: #a2a6a7;
    --color-slider-thumb-active: #426f8a;
    --color-slider-thumb-inactive: #a2a6a7;
    /* Snackbars */
    --color-snackbar-error: #920402;
    --color-snackbar-info: #76a28d;
    /* Spinner */
    --color-spinner-inner: #ffe85c;
    --color-spinner-outer: #fe9f36;
    --color-spinner: #fe9f36;
    /* Summaries */
    --color-summary-background: #97aaaf21;
    --color-summary-header: #e6ba8a;
    --color-summary-total: #e6ba8a;
    /* Tables */
    --color-table-column-seperator: #767475;
    --color-table-header: #e3e3e3;
    --color-table-invoice-customerdescription: #fe9f36;
    --color-table-row-focus-outline: #ffe85c;
    --color-table-row-highlight: #cce8f9;
    --color-table-sort-icon: #fe9f36;
    /* Text */
    --color-text-primary: #072d31;
    --color-text-secondary: #ef8857;
    --color-text-selected: #f2d49266;
    /* Tooltip */
    --color-tooltip-background: #426f8a;
    --color-tooltip: #efefef;
    /* Search box */
    --color-search-box: #767475;
}   