button {
    background-color: var(--color-b);
    border-radius: 0;
    border: none;
    color: var(--color-button-text);
    display: flex;
    padding-right: 1rem;
}

button.hoverable:hover {
    background-color: var(--color-c) !important;
}

img {
    width: 1.5625rem;
}

span {
    background-color: var(--color-user-count);
    border-radius: 50%;
    color: var(--color-button-text);
    font-family: var(--font-family-ubuntu), sans-serif;
    font-size: 0.65625rem;
    height: 1rem;
    margin: 0 0 0 -0.3125rem;
    padding: 0.125em 0 0 0;
    width: 1rem;
}