#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#filter {
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.selection {
    align-items: baseline;
    display: flex;
    font-family: var(--font-family-totals);
    font-size: var(--font-size-table-row);
    margin-left: 1rem;
    text-align: right;
}

.selection .label {
    color: var(--color-text-primary);
    font-size: var(--font-size-sum-persons);
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-sum-persons);
    margin: 0 0.5rem 0 0.5rem;
}

.selection .sum {
    color: var(--color-text-secondary);
    font-size: var(--font-size-sum);
    font-weight: var(--font-weight-sum-persons);
}

#search {
    width: 300px i !important;
}

#results {
    padding-right: 1rem;
}

.mat-expansion-panel {
    background-color: var(--color-background-summary) !important;
    box-shadow: none !important;
}

.mat-expansion-panel-header-title {
    color: var(--color-expansion-header);
    font-family: var(--font-family-label) !important;
    font-size: 1.5rem !important;
    font-variant-caps: petite-caps;
}

.detail {
    align-items: center;
    display: flex;
    padding: 0.5rem 1rem;
}

.detail .field {
    margin-right: 1rem;
    width: 300px;
}

.detail:hover {
    background-color: rgba(0, 0, 0, .04);
    cursor: pointer;
}

.detail .button {
    margin-left: auto !important;
}

.field-label {
    font-family: var(--font-family-label);
    font-size: 1.5rem;
    font-variant-caps: petite-caps;
    margin-bottom: 0.5rem;
}

.field-label {
    color: var(--color-field-label);
}

.field-value {
    color: var(--color-field-value);
}