<div id="dialog">

    <div id="dialog-header">
        <span class="material-symbols-outlined">warning</span>
    </div>

    <div id="dialog-content">
        <span [innerHTML]="content"></span>
    </div>

    <div id="dialog-footer">
        <mat-dialog-actions *ngIf="data.actions.length == 1">
            <button mat-flat-button class="primary" id="ok" tabindex="-1" mat-dialog-close="true">{{ getLabel('okButton') }}</button>
        </mat-dialog-actions>
        <mat-dialog-actions *ngIf="data.actions.length == 2">
            <button data-cy="dialog-abort" mat-flat-button class="transparent" id="abort" tabindex="-1" (click)="onClose()">{{ getLabel('noButton') }}</button>
            <button data-cy="dialog-ok" mat-flat-button class="primary" id="ok" tabindex="-1" mat-dialog-close="true">{{ getLabel('okButton') }}</button>
        </mat-dialog-actions>
    </div>

</div>