:host {
    display: flex;
    height: 100%;
    width: 100%;
}

#header #navigation {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

.overbookedDestinations {
    background-color: var(--color-d) !important;
    border-color: var(--color-d) !important;
}