:host {
    display: flex;
    height: 100%;
    width: 100%;
}

#header #navigation {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

#footer {
    padding: var(--gap) 4rem var(--gap) 4rem;
}
