<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div id="criteria">
            <div class="pill">
                <img [src]="getIcon('calendar')">
                <div class="description">{{ formatDate() }}</div>
            </div>
            <div class="pill">
                <img [src]="getIcon('total')">
                <div class="number description">{{ totals[0].sum }}</div>
            </div>
            <div class="pill">
                <img [src]="getIcon('filter')">
                <div class="number description">{{ totals[1].sum }}</div>
            </div>
            <div class="pill">
                <img [src]="getIcon('selected')">
                <div class="number description">{{ totals[2].sum }}</div>
            </div>
        </div>
        <button mat-flat-button class="primary" (click)="doResetTableTasks(table)">
            <i class="pi pi-filter-slash"></i>
        </button>
    </div>

    <div id="table-wrapper">
        <p-table #table (onFilter)="filterRecords($event)" (onHeaderCheckboxToggle)="toggleVisibleRows()" (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnselect($event)" [(selection)]="selectedRecords" [autoLayout]="false" [scrollable]="true" [value]="reservationGroupDto.reservations" [virtualScrollItemSize]="33" [virtualScroll]="true" dataKey="reservationId" scrollHeight="flex" selectionMode="multiple" sortMode="multiple" stateKey="reservation-list" stateStorage="session">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 2%; max-width: 2%;"></th>
                    <th style="min-width: 5%; max-width: 5%;">{{ getLabel('headerRefNo') }}</th>
                    <th style="min-width: 8%; max-width: 8%;">{{ getLabel('headerTicketNo') }}</th>
                    <th style="min-width: 10%; max-width: 10%;" pSortableColumn="destinationDescription">{{ getLabel('headerDestination') }}<p-sortIcon field="destinationDescription"></p-sortIcon></th>
                    <th style="min-width: 10%; max-width: 10%;" pSortableColumn="coachRouteAbbreviation">{{ getLabel('headerRoute') }}<p-sortIcon field="coachRouteAbbreviation"></p-sortIcon></th>
                    <th style="min-width: 10%; max-width: 10%;" pSortableColumn="customerDescription">{{ getLabel('headerCustomer') }}<p-sortIcon field="customerDescription"></p-sortIcon></th>
                    <th style="min-width: 13%; max-width: 13%;" pSortableColumn="pickupPointDescription">{{ getLabel('headerPickupPoint') }}<p-sortIcon field="pickupPointDescription"></p-sortIcon></th>
                    <th style="min-width: 6%; max-width: 6%;" pSortableColumn="time">{{ getLabel('headerTime') }}<p-sortIcon field="time"></p-sortIcon></th>
                    <th style="min-width: 3%; max-width: 3%;">Σ</th>
                    <th style="min-width: 3%; max-width: 3%;">Σ1</th>
                    <th style="min-width: 3%; max-width: 3%;">{{ getLabel('headerPlusMinus') }}</th>
                    <th style="min-width: 10%; max-width: 10%;" pSortableColumn="driverDescription">{{ getLabel('headerDriver') }}<p-sortIcon field="driverDescription"></p-sortIcon></th>
                    <th style="min-width: 10%; max-width: 10%;" pSortableColumn="portDescription">{{ getLabel('headerPort') }}<p-sortIcon field="portDescription"></p-sortIcon></th>
                    <th style="min-width: 7%; max-width: 7%;" pSortableColumn="shipDescription">{{ getLabel('headerShip') }}<p-sortIcon field="shipDescription"></p-sortIcon></th>
                </tr>
                <tr>
                    <th style="min-width: 2%; max-width: 2%;"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th style="min-width: 5%; max-width: 5%;"><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'refNo', 'contains')" [value]="$any(table).filters['refNo']?.value"></th>
                    <th style="min-width: 8%; max-width: 8%;"><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'ticketNo', 'contains')" [value]="$any(table).filters['ticketNo']?.value"></th>
                    <th style="min-width: 10%; max-width: 10%;">
                        <p-columnFilter style="width: 100%;" field="destinationDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="dropdownDestinations" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="min-width: 10%; max-width: 10%;">
                        <p-columnFilter style="width: 100%;" field="coachRouteAbbreviation" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="dropdownCoachRoutes" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="min-width: 10%; max-width: 10%;">
                        <p-columnFilter style="width: 100%;" field="customerDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="dropdownCustomers" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="min-width: 13%; max-width: 13%;">
                        <p-columnFilter style="width: 100%;" field="pickupPointDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="dropdownPickupPoints" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="min-width: 6%; max-width: 6%;"></th>
                    <th style="min-width: 3%; max-width: 3%;"></th>
                    <th style="min-width: 3%; max-width: 3%;"></th>
                    <th style="min-width: 3%; max-width: 3%;"></th>
                    <th style="min-width: 10%; max-width: 10%;">
                        <p-columnFilter style="width: 100%;" field="driverDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="dropdownDrivers" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="min-width: 10%; max-width: 10%;">
                        <p-columnFilter style="width: 100%;" field="portDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="dropdownPorts" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="min-width: 7%; max-width: 7%;">
                        <p-columnFilter style="width: 100%;" field="shipDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="dropdownShips" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [class.ui-state-highlight]="rowData == highlighted" (click)="highlighted = rowData" (dblclick)="editRecord(rowData.reservationId)">
                    <td style="width: 2%; max-width: 2%; justify-content: center;">
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td style="min-width: 5%; max-width: 5%;">{{ formatRefNo(rowData.refNo) }}</td>
                    <td style="min-width: 8%; max-width: 8%;">{{ rowData.ticketNo }}</td>
                    <td style="min-width: 10%; max-width: 10%;">{{ rowData.destinationDescription }}</td>
                    <td style="min-width: 10%; max-width: 10%;">{{ rowData.coachRouteAbbreviation }}</td>
                    <td style="min-width: 10%; max-width: 10%;">{{ rowData.customerDescription }}</td>
                    <td style="min-width: 13%; max-width: 13%;">{{ rowData.pickupPointDescription }}</td>
                    <td style="min-width: 6%; max-width: 6%; justify-content: center;">{{ rowData.time }}</td>
                    <td style="min-width: 3%; max-width: 3%; justify-content: flex-end;">{{ rowData.totalPersons }}</td>
                    <td style="min-width: 3%; max-width: 3%; justify-content: flex-end;">{{ rowData.passengerCount }} ({{ rowData.passengerDifference * -1 }})</td>
                    <td style="min-width: 3%; max-width: 3%; justify-content: center;">{{ showEmoji(rowData.passengerDifference) }}</td>
                    <td style="min-width: 10%; max-width: 10%;">{{ rowData.driverDescription == "(EMPTY)" ? getEmoji('null'): rowData.driverDescription }}</td>
                    <td style="min-width: 10%; max-width: 10%;">{{ rowData.portDescription }}</td>
                    <td style="min-width: 7%; max-width: 7%;">{{ rowData.shipDescription == "(EMPTY)" ? getEmoji('null'): rowData.shipDescription }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div  id="utility-buttons">
            <button [disabled]="!isAdmin" [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="primary">
                <ng-container *ngTemplateOutlet="contextMenu"></ng-container>
            </mat-menu>
        </div>
        <div id="overbookings">
            <div *ngFor="let x of overbookedDestinations" class="pill">
                <img [src]="getIcon(x.status == true ? 'error' : 'ok')">
                <div class="description">{{ x.description }}</div>
            </div>
        </div>
        <div class="button-group">
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="newRecord()">{{ getLabel('newButton') }}</button>
        </div>
    </div>

</div>

<ng-template #contextMenu>
    <button mat-menu-item class="reverse" (click)="assignToDriver()"><span>{{ getLabel('assignToDriverButton') }}</span></button>
    <button mat-menu-item class="reverse" (click)="assignToShip()"><span>{{ getLabel('assignToShipButton') }}</span></button>
    <button mat-menu-item class="reverse" (click)="createPdf()"><span>{{ getLabel('createPdfButton') }}</span></button>
</ng-template>