<div id="list">

    <div id="header">
        <div id="navigation">
            <mat-icon class="goBack" [routerLink]="['/reservations']">arrow_back</mat-icon>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ getLabel('header') }} {{ today }}</h1>
        </div>
        <div id="totals">
            <div *ngFor="let item of totals | slice:0:3">
                <div class="sum">{{ item.sum }}</div>
                <div class="label">{{ getLabel(item.description) }}</div>
            </div>
        </div>
        <button mat-flat-button class="primary" (click)="doResetTableTasks(table)">
            <i class="pi pi-filter-slash"></i>
        </button>
    </div>

    <div id="table-wrapper">
        <div id="table-wrapper">
            <p-table #table (onFilter)="calculateTotals($event)" (onHeaderCheckboxToggle)="toggleVisibleRows()" (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnselect($event)" [(selection)]="selectedRecords" [autoLayout]="false" [scrollable]="true" [value]="records.reservations" dataKey="reservationId" scrollHeight="flex" selectionMode="single" stateKey="table-filters" stateStorage="local">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 5%; max-width: 5%; border-top-left-radius: 10px;"></th>
                        <th style="min-width: 10%; max-width: 10%;">{{ getLabel('headerTicketNo') }}</th>
                        <th style="min-width: 10%; max-width: 10%;">{{ getLabel('headerDestination') }}</th>
                        <th style="min-width: 10%; max-width: 10%;">{{ getLabel('headerRoute') }}</th>
                        <th style="min-width: 10%; max-width: 10%;">{{ getLabel('headerCustomer') }}</th>
                        <th style="min-width: 10%; max-width: 10%;">{{ getLabel('headerPickupPoint') }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getLabel('headerAdults') }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getLabel('headerKids') }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getLabel('headerFree') }}</th>
                        <th style="min-width: 6%; max-width: 6%;">{{ getLabel('headerTotal') }}</th>
                        <th style="min-width: 10%; max-width: 10%;">{{ getLabel('headerDriver') }}</th>
                        <th style="min-width: 10%; max-width: 10%;">{{ getLabel('headerPort') }}</th>
                        <th style="min-width: 10%; max-width: 10%; border-top-right-radius: 10px;">{{ getLabel('headerShip') }}</th>
                    </tr>
                    <tr>
                        <th style="min-width: 5%; max-width: 5%;">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="min-width: 10%; max-width: 10%;"><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'ticketNo', 'contains')" [value]="$any(table).filters['ticketNo']?.value"></th>
                        <th style="min-width: 10%; max-width: 10%;">
                            <p-columnFilter style="width: 100%;" field="destinationDescription" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="destinations" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option.label }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="min-width: 10%; max-width: 10%;">
                            <p-columnFilter style="width: 100%;" field="routeAbbreviation" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="routes" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option.label }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="min-width: 10%; max-width: 10%;">
                            <p-columnFilter style="width: 100%;" field="customerDescription" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="customers" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option.label }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="min-width: 10%; max-width: 10%;">
                            <p-columnFilter style="width: 100%;" field="pickupPointDescription" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="pickupPoints" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option.label }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="min-width: 3%; max-width: 3%;">
                        <th style="min-width: 3%; max-width: 3%;">
                        <th style="min-width: 3%; max-width: 3%;">
                        <th></th>
                        <th style="min-width: 10%; max-width: 10%;">
                            <p-columnFilter style="width: 100%;" field="driverDescription" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="drivers" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option.label }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="min-width: 10%; max-width: 10%;">
                            <p-columnFilter style="width: 100%;" field="portDescription" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="ports" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option.label }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="min-width: 10%; max-width: 10%;">
                            <p-columnFilter style="width: 100%;" field="shipDescription" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="ships" (onChange)="filter($event.value)" [placeholder]="getEmoji('wildcard')" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option.label }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr [class.ui-state-highlight]="rowData == highlighted" (click)="highlighted = rowData" (dblclick)="editRecord(rowData.reservationId)">
                        <td style="width: 5%; max-width: 5%; justify-content: center;">
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td style="min-width: 10%; max-width: 10%;">{{ rowData.ticketNo }}</td>
                        <td style="min-width: 10%; max-width: 10%;">{{ rowData.destinationDescription }}</td>
                        <td style="min-width: 10%; max-width: 10%;">{{ rowData.routeAbbreviation }}</td>
                        <td style="min-width: 10%; max-width: 10%;">{{ rowData.customerDescription }}</td>
                        <td style="min-width: 10%; max-width: 10%;">{{ rowData.pickupPointDescription }}</td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: flex-end;">{{ rowData.adults }}</td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: flex-end;">{{ rowData.kids }}</td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: flex-end;">{{ rowData.free }}</td>
                        <td style="min-width: 6%; max-width: 6%; justify-content: flex-end;">{{ rowData.totalPersons }}</td>
                        <td style="min-width: 10%; max-width: 10%;">{{ rowData.driverDescription == "(EMPTY)" ? getEmoji('null'): rowData.driverDescription }}</td>
                        <td style="min-width: 10; max-width: 10%;">{{ rowData.portDescription }}</td>
                        <td style="min-width: 10%; max-width: 10%;">{{ rowData.shipDescription == "(EMPTY)" ? getEmoji('null'): rowData.shipDescription }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div id="footer">
        <div @slideFromLeft id="utility-buttons">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="primary">
                <ng-container *ngTemplateOutlet="contextMenu"></ng-container>
            </mat-menu>
        </div>
        <div @slideFromRight class="button-group">
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="newRecord()">{{ getLabel('newButton') }}</button>
        </div>
    </div>

</div>

<ng-template #contextMenu>
    <button mat-menu-item class="primary" (click)="assignToDriver()"><span>{{ getLabel('assignToDriverButton') }}</span></button>
    <button mat-menu-item class="primary" (click)="assignToShip()"><span>{{ getLabel('assignToShipButton') }}</span></button>
    <button mat-menu-item class="primary" (click)="createPdf()"><span>{{ getLabel('createPdfButton') }}</span></button>
</ng-template>