<nav @slideFromLeft id="sidemenu" *ngIf="loginStatus | async">

    <div class="menu">
        <div class="menu-item">
            <span class="icon material-icons">home</span>
        </div>
    </div>

    <div class="menu">
        <div class="menu-item">
            <div class="menu-item" (click)="doTasks('embarkation','embarkation')">
                <span class="icon material-icons">directions_boat</span>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="menu-item" (click)="doTasks('reservations','reservations')">
            <span class="icon material-icons">confirmation_number</span>
        </div>
    </div>

    <div class="menu">
        <div class="menu-item" (mouseenter)="styleMenu('tasks','250px')" (mouseleave)="styleMenu('tasks','0')">
            <span class="icon material-icons-outlined">developer_board</span>
            <ul class="menu-list" id="tasks">
                <li (click)="doTasks('tasks','invoicing')">{{ getEmoji('dot') }} {{ getLabel("invoicing") }} </li>
                <li (click)="doTasks('tasks','manifest')">{{ getEmoji('dot') }} {{ getLabel("manifest") }} </li>
            </ul>
        </div>
    </div>

    <div class="menu">
        <div class="menu-item" (mouseenter)="styleMenu('tables','250px')" (mouseleave)="styleMenu('tables','0')">
            <span class="icon material-icons-outlined">apps</span>
            <ul class="menu-list" id="tables">
                <li (click)="doTasks('tables','customers')">{{ getEmoji('dot') }} {{ getLabel("customers") }}</li>
                <li (click)="doTasks('tables','destinations')">{{ getEmoji('dot') }} {{ getLabel("destinations") }}</li>
                <li (click)="doTasks('tables','pickupPoints')">{{ getEmoji('dot') }} {{ getLabel("pickupPoints") }}</li>
                <li (click)="doTasks('tables','drivers')">{{ getEmoji('dot') }} {{ getLabel("drivers") }}</li>
                <li (click)="doTasks('tables','coachRoutes')">{{ getEmoji('dot') }} {{ getLabel("coachRoutes") }}</li>
                <li (click)="doTasks('tables','schedules')">{{ getEmoji('dot') }} {{ getLabel("schedules") }}</li>
                <li (click)="doTasks('tables','genders')">{{ getEmoji('dot') }} {{ getLabel("genders") }}</li>
                <li (click)="doTasks('tables','ports')">{{ getEmoji('dot') }} {{ getLabel("ports") }}</li>
                <li (click)="doTasks('tables','registrars')">{{ getEmoji('dot') }} {{ getLabel("registrars") }}</li>
                <li (click)="doTasks('tables','crews')">{{ getEmoji('dot') }} {{ getLabel("crews") }}</li>
                <li (click)="doTasks('tables','ships')">{{ getEmoji('dot') }} {{ getLabel("ships") }}</li>
                <li (click)="doTasks('tables','shipOwners')">{{ getEmoji('dot') }} {{ getLabel("shipOwners") }}</li>
                <li (click)="doTasks('tables','shipRoutes')">{{ getEmoji('dot') }} {{ getLabel("shipRoutes") }}</li>

                <li (click)="doTasks('tables','users')">{{ getEmoji('dot') }} {{ getLabel("users") }}</li>
            </ul>
        </div>
    </div>

    <div class="menu">
        <div class="menu-item">
            <span class="icon material-icons-outlined">power_settings_new</span>
        </div>
    </div>

</nav>