<div id="form-wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [routerLink]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form id="form" data-cy="form" [formGroup]="form" autocomplete="off">
            <mat-form-field>
                <input data-cy="currentPassword" [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]="getLabel('currentPassword')" formControlName="currentPassword" data-tabindex="1" id="currentPassword" [inputTabStop]="input">
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="currentPassword?.hasError('required')">{{ getHint('required') }}</mat-error>
            </mat-form-field>
            <div formGroupName="passwords" id="passwords">
                <mat-form-field>
                    <input data-cy="password" [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]="getLabel('newPassword')" formControlName="password" data-tabindex="2" id="password" [inputTabStop]="input">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="password?.hasError('required')">{{ getHint('required') }}</mat-error>
                    <mat-error *ngIf="password?.hasError('minlength') && !password?.hasError('containsSpace')">{{ getHint('minLength', password.errors.minlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password?.hasError('maxlength') && !password?.hasError('containsSpace')">{{ getHint('maxLength', password.errors.maxlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password?.hasError('containsSpace')">{{ getHint('spacesNotAllowed') }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="confirmPassword" [type]="hidePassword ? 'password' : 'text'" matInput [placeholder]="getLabel('confirmPassword')" formControlName="confirmPassword" data-tabindex="3" id="confirmPassword" [inputTabStop]="input" [errorStateMatcher]="confirmValidParentMatcher">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmPassword?.hasError('required')">{{ getHint('required') }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && !matchingPasswords">{{ getHint('passwordsNoMatch') }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && matchingPasswords">{{ getHint('invalid') }}!</mat-error>
                </mat-form-field>
            </div>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button data-cy="save" mat-flat-button class="primary" [disabled]="!form.valid" id="save" (click)="onSave()">{{ getLabel('saveButton') }}</button>
        </div>
    </div>

</div>