#header #navigation {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

#image-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-bottom: calc(var(--gap) * 4);
    width: 100%;
}

#image-wrapper span {
    font-size: 8rem;
}

#image-wrapper button {
    margin-top: 0.625rem;
}

#header #embarkation-filter {
    display: flex;
    margin: 0 calc(4rem - var(--gap)) 0 auto;
}

#header #embarkation-filter .mat-radio-button {
    margin-left: 1rem;
}

#scan-close-button {
    left: 89.3%;
    position: absolute;
    top: 9.5%;
}

#video {
    background-color: var(--color-a);
    display: none;
    padding: 1rem;
    position: fixed;
    z-index: 1;
}
