/* #scan-close-button {
    left: 89.3%;
    position: absolute;
    top: 9.5%;
} */

/* #video {
    background-color: var(--color-a);
    display: none;
    padding: 1rem;
    position: fixed;
    z-index: 1;
} */

.embark-all-passengers {
    margin: 1rem 0 1rem 0;
}

.remarks:hover {
    cursor: pointer;
}

.embarkation-status:hover {
    cursor: pointer;
}

.pending {
    background-color: var(--color-embarkation-pending);
}

.complete {
    background-color: var(--color-embarkation-complete);
}

.passengers-row {
    background-color: var(--color-passenger-table);
    border-radius: 10px;
    margin: 0 10rem;
    padding: 1rem;
}

.embarkation-status span {
    color: var(--color-button-do-embarkation);
}

.p-button.p-button-icon-only.p-button-rounded {
    height: 20px !important;
}