#header #navigation {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

#image-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-bottom: calc(var(--gap) * 4);
    width: 100%;
}

#image-wrapper span {
    font-size: 8rem;
}

#image-wrapper button {
    margin-top: 0.625rem;
}

#header #embarkation-filter {
    display: flex;
    margin: 0 calc(4rem - var(--gap)) 0 auto;
}

#header #embarkation-filter .mat-radio-button {
    margin-left: 1rem;
}

#scan-close-button {
    left: 89.3%;
    position: absolute;
    top: 9.5%;
}

#video {
    background-color: var(--color-a);
    display: none;
    padding: 1rem;
    position: fixed;
    z-index: 1;
}

.remarks:hover {
    cursor: pointer;
}

.passenger-row {
    padding: 3px;
}

.embarkation-status:hover {
    cursor: pointer;
}

.pending {
    background-color: var(--color-embarkation-pending);
}

.complete {
    background-color: var(--color-embarkation-complete);
}

#criteria {
    align-items: center;
    display: flex;
    font-family: var(--font-family-handbook);
    gap: 0.5rem;
    justify-content: flex-end;
    margin: 0 1rem 0 auto;
    text-align: right;
}

#criteria > div {
    background-color: var(--color-d);
    padding: 0.5rem;
    border-radius: 0.3125rem;
}

#criteria .label {
    color: var(--color-text);
    font-weight: bold;
}

#criteria .description {
    color: var(--color-text);
}

.selected-filter {
    background-color: var(--color-c) !important;
}

#filters {
    align-items: center;
    display: flex;
    font-family: var(--font-family-handbook);
    gap: 0.5rem;
    margin: 0 auto 0 1rem;
    text-align: right;
}

#filters > div {
    background-color: var(--color-d);
    border-radius: 0.3125rem;
    padding: 0.5rem;
}

#filters > div:hover {
    background-color: var(--color-c);
    cursor: pointer;
}

#filters .label {
    color: var(--color-text);
    font-weight: bold;
}

#filters .description {
    color: var(--color-text);
}

#footer {
    justify-content: space-between;
    margin: var(--gap) var(--footer-right-margin) var(--gap) var(--footer-left-margin);
}
