:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 var(--gap) 1.5rem;
}

#month-selector {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

h2 {
    margin-bottom: 4px;
    padding: 0;
}

.material-icons {
    color: var(--color-text-primary);
    cursor: pointer;
    padding: 0 1rem;
}

#wrapper-calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

ol {
    background-color: var(--color-common-background);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 38px;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.month {
    font-family: var(--font-family-master);
}

.first-day {
    grid-column-start: var(--first-day-start, 0);
}

.day-name {
    align-items: center;
    background: var(--color-table-header);
    color: var(--color-text-primary);
    display: flex;
    font-family: var(--font-family-master);
    height: fit-content;
    justify-content: center;
    padding: 0.5rem;
}

.days {
    align-items: center;
    border-radius: 0.5rem;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-master);
    justify-content: center;
    transition: 0.3s;
}

.days span.day {
    font-size: var(--font-size-calendar-day);
    font-weight: var(--font-weight-calendar-day);
}

.days.hasSchedule span.day {
    color: var(--color-calendar-date-has-schedule);
    font-size: var(--font-size-calendar-date-has-schedule);
}

.days.noSchedule span.day {
    color: var(--color-calendar-date-no-schedule);
}

.days.hasSchedule:hover {
    background-color: var(--color-calendar-date-has-schedule-hover);
    cursor: pointer;
}

.today {
    color: var(--color-calendar-today) !important;
    font-size: var(--font-size-calendar-today) !important;
    line-height: 2.5rem;
    margin: -18px;
}