:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 var(--gap) 1.5rem;
}

#month-selector {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

#month-selector #monthAndYear {
    margin-bottom: 4px;
    padding: 0;
}

#month-selector .material-icons {
    color: var(--color-text-primary);
    cursor: pointer;
    padding: 0 1rem;
}

#wrapper-calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

ol {
    background-color: var(--color-common-background);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 38px;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.weekday-name {
    align-items: center;
    background: var(--color-table-header);
    color: var(--color-text-primary);
    display: flex;
    font-family: var(--font-family-master);
    justify-content: center;
    padding: 0.5rem;
}

.days {
    border-radius: 0.5rem;
    border-radius: 5px;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: row;
    font-family: var(--font-family-master);
    font-weight: var(--font-weight-calendar-day);
    justify-content: center;
    margin: 1px;
    padding: 1rem;
}

.days .left {
    align-items: center;
    display: flex;
    font-size: var(--font-size-calendar-day-left);
    justify-content: center;
    padding-right: 1rem;
}

.days .right {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-calendar-day-right);
    justify-content: center;
    width: 100%;
}

.days.hasSchedule {
    background-color: var(--color-calendar-has-schedule-background);
    border-radius: 1rem;
    transition: all 0.3s;
}

.days.hasSchedule:hover {
    background-color: var(--color-calendar-has-schedule-background-hover);
    cursor: pointer;
    display: inline-flex;
    transform-origin: center;
    transform: scale(1.5);
}

.days.noSchedule .left {
    color: var(--color-calendar-date-no-schedule);
}

.destination {
    color: var(--color-calendar-destination);
}

.port {
    display: flex;
    justify-content: space-between;
}

.destination:hover {
    cursor: pointer;
}

.today {
    color: var(--color-calendar-today) !important;
}