<div id="calendar">

    <div id="header">
        <div @slideFromLeft id="title">
            <h1>{{ getLabel('header') }}</h1>
        </div>
        <div id="month-selector">
            <span class="material-icons" (click)="changeMonth(-1)">chevron_left</span>
            <h2 class="monthAndYear">{{ getMonthAndYear() }}</h2>
            <span class="material-icons" (click)="changeMonth(1)">chevron_right</span>
        </div>
    </div>

    <div id="wrapper-calendar">
        <ol>
            <div *ngFor="let weekDay of weekDays" class="day-name">{{ getWeekday(weekDay) }}</div>
            <li class="days" *ngFor="let day of monthSelect;let first = first" [ngClass]="hasDateSchedule(days[day.value - 1]) ? 'hasSchedule' : 'noSchedule'" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'">
                <span class="day" [ngClass]="isToday(days[day.value - 1]) ? 'today' : 'notToday'">{{ day?.value }}</span>
            </li>
        </ol>
    </div>

</div>
