ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    height: 2.75rem;
}

button {
    border: none;
    width: 100%;
}

button:hover {
    background-color: var(--color-main-menu-background-hover) !important;
    cursor: pointer;
}

li:hover .sub-menu {
    display: flex;
}

.sub-menu {
    display: none;
    flex-direction: column;
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    width: max-content;
    z-index: 2 !important;
}

.sub-menu > li {
    animation: enter 0.2s ease forwards;
    background-color: var(--color-main-menu-background);
    width: 150px;
}

.sub-menu > li:last-child:hover > .sub-sub-menu {
    display: flex;
}

.sub-sub-menu {
    display: none;
    flex-direction: column;
    left: 140px;
    list-style: none;
    padding: 0;
    position: relative;
    top: -44px;
    width: max-content;
    z-index: 2 !important;
}

.sub-sub-menu > li {
    background-color: var(--color-main-menu-background);
    width: 100%;
    animation: enter 0.2s ease forwards;
}