<div id="main-menu" *ngIf="loginStatus | async">
    <ul>
        <li *ngIf="isConnectedUserAdmin"><button mat-menu-item>{{ onGetLabel('passengers') }}<img class="arrow-down" src="/assets/images/shared/arrow-down.svg"></button>
            <ul class="sub-menu" (click)="onHideMenu()">
                <li><button mat-menu-item [routerLink]="['/boarding']">{{ onGetLabel('boarding') }}</button></li>
                <li><button mat-menu-item [routerLink]="['/manifest']">{{ onGetLabel('manifest') }}</button></li>
            </ul>
        </li>
        <li><button mat-menu-item>{{ onGetLabel('reservations') }}<img class="arrow-down" src="/assets/images/shared/arrow-down.svg"></button>
            <ul class="sub-menu" (click)="onHideMenu()">
                <li><button mat-menu-item [routerLink]="['/reservations']">{{ onGetLabel('dashboard') }}</button></li>
                <li><button *ngIf="isConnectedUserAdmin" mat-menu-item [routerLink]="['/invoicing']">{{ onGetLabel('invoicing') }}</button></li>
            </ul>
        </li>
        <li *ngIf="isConnectedUserAdmin"><button mat-menu-item>{{ onGetLabel('tables') }}<img class="arrow-down" src="/assets/images/shared/arrow-down.svg"></button>
            <ul class="sub-menu" (click)="onHideMenu()">
                <li><button data-cy="customersMenu" mat-menu-item [routerLink]="['/customers']">{{ onGetLabel('customers') }}</button></li>
                <li><button data-cy="destinationsMenu" mat-menu-item [routerLink]="['/destinations']">{{ onGetLabel('destinations') }}</button></li>
                <li><button data-cy="driversMenu" mat-menu-item [routerLink]="['/drivers']">{{ onGetLabel('drivers') }}</button></li>
                <li><button data-cy="gendersMenu" mat-menu-item [routerLink]="['/genders']">{{ onGetLabel('genders') }}</button></li>
                <li><button data-cy="pickupPointsMenu" mat-menu-item [routerLink]="['/pickupPoints']">{{ onGetLabel('pickupPoints') }}</button></li>
                <li><button data-cy="portsMenu" mat-menu-item [routerLink]="['/ports']">{{ onGetLabel('ports') }}</button></li>
                <li><button data-cy="routesMenu" mat-menu-item [routerLink]="['/routes']">{{ onGetLabel('routes') }}</button></li>
                <li><button data-cy="schedulesMenu" mat-menu-item [routerLink]="['/schedules']">{{ onGetLabel('schedules') }}</button></li>
                <li><button data-cy="shipsMenu" mat-menu-item>{{ onGetLabel('ships') }}<img class="arrow-right" src="/assets/images/shared/arrow-right.svg"></button>
                    <ul class="sub-sub-menu">
                        <li><button mat-menu-item [routerLink]="['/ships']">{{ onGetLabel('shipManagement') }}</button></li>
                        <li><button mat-menu-item [routerLink]="['/shipOwners']">{{ onGetLabel('shipOwners') }}</button></li>
                        <li><button mat-menu-item [routerLink]="['/registrars']">{{ onGetLabel('registrars')}}</button></li>
                        <li><button mat-menu-item [routerLink]="['/shipRoutes']">{{ onGetLabel('shipRoutes')}}</button></li>
                        <li><button mat-menu-item [routerLink]="['/crews']">{{ onGetLabel('crews')}}</button></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li *ngIf="isConnectedUserAdmin"><button mat-menu-item [routerLink]="['/users']">{{ onGetLabel('users') }}</button></li>
    </ul>
</div>