<div id="theme-menu">
    <ul>
        <li>
            <button>
                <img src="/assets/images/themes/{{ getSelectedThemeIcon() }}.svg">
                <span>{{ getLabel(defaultTheme) }}</span>
                <span class="material-icons-outlined">expand_more</span>
            </button>
            <!-- <ul class="sub-menu" (click)="hideMenu()">
                <button mat-menu-item (click)="changeTheme('blue')"><img src="/assets/images/themes/blue.svg"><span>{{ getLabel('blue') }}</span></button>
                <button mat-menu-item (click)="changeTheme('gray')"><img src="/assets/images/themes/gray.svg"><span>{{ getLabel('gray') }}</span></button>
                <button mat-menu-item (click)="changeTheme('green')"><img src="/assets/images/themes/green.svg"><span>{{ getLabel('green') }}</span></button>
                <button mat-menu-item (click)="changeTheme('olive')"><img src="/assets/images/themes/olive.svg"><span>{{ getLabel('olive') }}</span></button>
                <button mat-menu-item (click)="changeTheme('orange')"><img src="/assets/images/themes/orange.svg"><span>{{ getLabel('orange') }}</span></button>
                <button mat-menu-item (click)="changeTheme('red')"><img src="/assets/images/themes/red.svg"><span>{{ getLabel('red') }}</span></button>
            </ul> -->
        </li>
    </ul>
</div>