#logo {
    color: var(--color-logo) !important;
    cursor: pointer;
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo) !important;
    font-weight: var(--font-weight-logo);
    outline: 0;
    transition: color var(--change-theme-delay) ease;
}
