#top-logo {
    cursor: pointer;
    display: flex;
    font-family: var(--font-family-logo);
    outline: 0;
    padding: 0.5625rem 1rem 0 0;
}

span:nth-child(1) {
    color: var(--color-logo-primary) !important;
    font-size: 2.5rem !important;
    font-weight: bold;
}

span:nth-child(2) {
    color: var(--color-background-primary) !important;
}

span:nth-child(3) {
    color: var(--color-logo-secondary) !important;
    font-size: 2.5rem !important;
    font-weight: bold;
}