#form-wrapper {
    background-image: none;
    padding: 0;
    width: 50rem;
}

#header {
    margin: 0 0 1rem 1rem !important;
}

#footer {
    justify-content: space-between;
    margin: var(--gap) var(--footer-right-margin) var(--gap) var(--footer-left-margin);
}
