#form-wrapper {
    background-image: none;
    padding: 0;
    width: 50rem;
}

#header {
    margin: 0 1rem 1rem 1rem !important;
}

#footer {
    margin: 0.5rem 1rem 0 0 !important;
    padding: 0 !important;
}
