@model BlueWaterCruises.ActivationMessage

<link rel="stylesheet" href="~/styles/notifications.css">

<div id="content">
    <div id="companyLogo">
        <p>Blue Water</p>
        <p>Cruises</p>
    </div>
    <p class="message error">@Model.description</p>
    <a href="/login">Login</a>
</div>