@Model

@{
    ViewData["Title"] = "About";
}

<head>
    <style>
        p {
            color: red;
        }
    </style>
</head>

<body>
    <img src="@ViewData["uri"] width="100px" height="100px" alt="IMAGE">
    <div id="content">
        @ViewData["Title"]
        <h3>@ViewData["Message"]</h3>
        <p class="message">DUMMY STRING</p>
    </div>
</body>