<div id="list">

    <div id="header">
        <div id="navigation">
            <button data-cy="goBack" class="goBack" id="goBack" [routerLink]="['/']" mat-mini-fab>
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header')}}</h1>
        </div>
        <div id="buttons">
            <button mat-flat-button class="primary" (click)="toggleServerFilters()" matTooltipClass="tooltip-yellow" matTooltip="{{ onGetLabel('searchButton') }}">
                <img src="/assets/images/shared/search.svg" width="20px">
            </button>
        </div>
    </div>

    <div id="results">
        <mat-sidenav-container [hasBackdrop]="true">
            <mat-sidenav mode="over" [(opened)]="openedServerFilters" position="end">
                <div *ngIf="openedServerFilters" id="serverFilters">
                    <form id="form" [formGroup]="form" autocomplete="off">
                        <mat-form-field>
                            <input type="text" matInput class="center" id="date" [matDatepicker]="picker" [placeholder]="onGetLabel('date')" formControlName="date" [inputFormat]="'date'" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="date.hasError('required')">{{ onGetHint('required') }}</mat-error>
                            <mat-hint>{{ onGetLabel('searchDateHint') }}</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ onGetLabel("ship") }}</mat-label>
                            <mat-select [(value)]="form.value.shipId" formControlName="shipId">
                                <mat-option *ngFor="let ship of ships" [value]="ship.id">
                                    {{ ship.description }}
                                </mat-option>
                            </mat-select>
                            <mat-hint>{{ onGetLabel('searchDropdownHint') }}</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Port</mat-label>
                            <mat-select [(value)]="form.value.portId" formControlName="portId">
                                <mat-option *ngFor="let port of ports" [value]="port.id">
                                    {{ port.description }}
                                </mat-option>
                            </mat-select>
                            <mat-hint>{{ onGetLabel('searchDropdownHint') }}</mat-hint>
                        </mat-form-field>
                    </form>
                    <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
                    <button mat-flat-button class="primary" id="loadBoardings" [disabled]="!form.valid" (click)="onLoadManifest()">
                        {{ onGetLabel('searchButton')}}
                    </button>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

</div>