#header {
    align-items: center;
}

#buttons {
    margin-left: auto;
}

#loadBoardings {
    margin-left: 0 !important;
    width: 100%;
}

#results {
    overflow-y: auto;
    height: 100%;
}

.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav, .mat-sidenav-content {
    padding: 0;
}

.mat-sidenav {
    background-color: var(--color-sidenav);
    padding: 1rem;
    width: 230px;
}

.mat-sidenav-content {
    background-color: var(--color-background-secondary);
    display: flex;
    justify-content: flex-start;
}

#serverFilters {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
