:host {
    display: flex;
    height: 100%;
    width: 100%;
}

#header #navigation {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

#totals {
    align-items: center;
    display: flex;
    font-family: var(--font-family-master);
    font-weight: var(--font-weight-totals);
    justify-content: flex-end;
    margin: 0 1rem 0 auto;
    text-align: right;
}

#totals .label {
    color: var(--color-text-primary);
    font-weight: var(--font-weight-sum-persons);
    margin: 0 0 0 0.5rem;
}

#totals .sum {
    color: var(--color-text-secondary);
    font-size: var(--font-size-sum-persons);
    font-weight: var(--font-weight-sum-persons);
}

#footer {
    justify-content: space-between;
    margin: var(--gap) var(--footer-right-margin) var(--gap) var(--gap);
}
