:host {
    display: flex;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.summaryBlock {
    align-items: center;
    background-color: var(--color-summary-background) !important;
    border-radius: 20px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-x: clip;
    overflow-y: auto;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    transition: background-color var(--change-theme-delay) ease;
}

.summaryHeader {
    color: var(--color-summary-header);
    font-family: var(--font-family-master);
    font-size: var(--font-size-summary-header);
    font-weight: var(--font-weight-summary-header);
    padding-bottom: 1rem;
    width: 100%;
}

.summaryHeader i {
    color: var(--color-summary-header-icon);
}

.summaryContent .scrollable::-webkit-scrollbar-thumb {
    border-top: 0 solid var(--color-common-background) !important;
}

.summaryContent .item {
    color: var(--color-text-primary);
    display: flex;
    font-family: var(--font-family-master);
    font-size: var(--font-size-summary-block-item);
    justify-content: space-between;
    line-height: 1.4rem;
    margin-bottom: 0.2rem;
}

.summaryContent .item .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.summaryContent .item .total {
    color: var(--color-summary-total);
    margin: 0 0 0 0.5rem;
}

.fas {
    margin-right: 0.5rem;
}

.pi-arrow-circle-up, .pi-arrow-circle-down {
    background-color: var(--color-summary-background);
    border-radius: 50%;
    color: var(--color-summary-scroll-icon);
    cursor: pointer;
    padding: 0.5rem;
}

.before, .after {
    margin: 0;
    text-align: center;
    position: relative;
}

.before {
    margin-top: -40px;
    position: absolute;
}

.after {
    bottom: calc((var(--gap) * 2 + 37px - 24px));
    position: absolute;
}

.pi {
    font-size: 2rem;
}