<div data-cy="summaryBlock" class="summaryBlock">
    <div class="before">
        <i class="pi pi-arrow-circle-up" *ngIf="upArrow[index]" (click)="scrollToTop(id)"></i>
    </div>
    <div class="summaryHeader">
        <span class="material-icons-two-tone">{{ icon }}</span><span>{{ onGetLabel(header) }}</span>
    </div>
    <div (scroll)="onWindowScroll(index, $event)" [id]="id" class="summaryContent scrollable">
        <div *ngFor="let item of records" class="item">
            <div class="description">{{ item.description }}</div>
            <div class="total">{{ item.persons }}</div>
        </div>
    </div>
    <div class="after">
        <i class="pi pi-arrow-circle-down" *ngIf="downArrow[index]" (click)="scrollToBottom(id)"></i>
    </div>
</div>