:host {
    height: 100%;
    width: 100%;
}

#passenger-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: var(--gap);
}

.fa-trash-alt {
    color: var(--color-button-delete) !important;
}