<div id="wrapper">

    <div id="table-wrapper">
        <div data-cy="content" id="content" class="scrollable">
            <custom-table [highlightFirstRow]="highlightFirstRow" [feature]="feature" [records]="records[0].passengers" [headers]="headers" [widths]="widths" [visibility]="visibility" [justify]="justify" [types]="types" [fields]="fields"></custom-table>
        </div>
    </div>

    <div id="footer">
        <div @slideFromRight id="buttons">
            <button mat-flat-button class="primary" id="exportToPDF" (click)="onCreatePdf()">{{ onGetLabel('exportToPdfButton') }}</button>
        </div>
    </div>

</div>