

<div id="list">

    <div id="header">
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" scrollHeight="flex" selectionMode="single" sortField="none" sortMode="single" stateKey="registrar-list" stateStorage="local"(onSort)="onSort()">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10%; border-top-left-radius: 10px;">{{ onGetLabel('headerIsActive') }}</th>
                    <th style="width: 90%; border-top-right-radius: 10px;">{{ onGetLabel('headerFullname') }}</th>
                </tr>
                <tr>
                    <th><p-columnFilter type="boolean" field="isActive"></p-columnFilter></th>
                    <th><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'fullname', 'contains')" [value]="$any(table).filters['fullname']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr *ngIf="rowGroupMetadata[rowData.shipDescription].index === rowIndex">
                    <td style="width: 10%;"></td>
                    <td style="width: 90%;" class="rowGroup">{{ rowData.shipDescription }}</td>
                </tr>
                <tr [pSelectableRow]="rowData" (dblclick)="onEditRecord(rowData.id)">
                    <td style="width: 10%; padding: 5px !important; text-align: center;">
                        <i class="pi" [ngClass]="{'icon-green pi-check': rowData.isActive, 'icon-red pi-times': !rowData.isActive}"></i>
                    </td>
                    <td style="width: 90%;">{{ rowData.fullname }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight id="buttons">
            <button mat-flat-button class="primary" id="new" [routerLink]="newUrl">{{ onGetLabel('newButton') }}</button>
        </div>
    </div>

</div>