:host {
    width: 100%;
}

#passenger-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#footer {
    margin-top: auto !important;
}

.fa-trash-alt {
    color: var(--color-button-delete) !important;
}