<div id="passenger-list">

    <div *ngIf="passengers" id="table-wrapper">
        <div class="scrollable">
            <passenger-table [highlightFirstRow]="highlightFirstRow" [feature]="feature" [records]="passengers" [headers]="headers" [widths]="widths" [visibility]="visibility" [justify]="justify" [types]="types" [fields]="fields"></passenger-table>
        </div>
    </div>

    <div id="footer">
        <div id="buttons">
            <button mat-flat-button class="primary" id="new" (click)="onNew()">{{ onGetLabel('newPassengerButton') }}</button>
        </div>
    </div>

</div>