<div id="form-wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form id="form" [formGroup]="form" autocomplete="off">
            <!-- Date -->
            <p-fieldset [legend]="getLabel('date')" class="calendar">
                <div id="calendar-wrapper">
                    <mat-card id="calendar-card">
                        <mat-calendar #calendar (click)="selectDate(selectedDate)" [(selected)]="selectedDate" [startAt]="selectedDate"></mat-calendar>
                    </mat-card>
                    <button (click)="gotoToday()" class="primary" mat-flat-button>{{ getLabel("todayButton") }}</button>
                </div>
            </p-fieldset>
            <!-- Destinations -->
            <p-fieldset [legend]="getLabel('destinations')">
                <div *ngFor="let destination of destinations">
                    <div class="styled-input-square">
                        <div class="styled-input-single" (change)="onCheckboxChange($event, 'destinations', destination.description)">
                            <input class="destination" formArrayName="destinations" type="checkbox" [value]="destination.id" [attr.id]="'destination' + destination.id" [checked]="lookupDestination(destination.id)">
                            <label [attr.for]="'destination' + destination.id">{{ destination.description }}</label>
                        </div>
                    </div>
                </div>
            </p-fieldset>
            <!-- Ports -->
            <p-fieldset [legend]="getLabel('ports')">
                <div *ngFor="let port of ports">
                    <div class="styled-input-square">
                        <div class="styled-input-single" (change)="onCheckboxChange($event, 'ports', port.description)">
                            <input class="port" formArrayName="ports" type="checkbox" [value]="port.id" [attr.id]="'port' + port.id" [checked]="lookupPort(port.id)">
                            <label [attr.for]="'port' + port.id">{{ port.description }}</label>
                        </div>
                    </div>
                </div>
            </p-fieldset>
            <!-- Ships -->
            <p-fieldset [legend]="getLabel('ships')">
                <div *ngFor="let ship of ships">
                    <div class="styled-input-square">
                        <div class="styled-input-single" (change)="onCheckboxChange($event, 'ships', ship.description)">
                            <input class="ship" formArrayName="ships" type="checkbox" [value]="ship.id" [attr.id]="'ship' + ship.id" [checked]="lookupShip(ship.id)">
                            <label [attr.for]="'ship' + ship.id">{{ ship.description }}</label>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </form>
        <div class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</div>
    </div>

</div>

<div id="footer">
    <div class="button-group-right">
        <button (click)="onDoTasks()" [disabled]="!form.valid" class="primary" id="search" mat-flat-button>
            <mat-icon *ngIf="!form.valid" class="button-icon">lock</mat-icon>
            <span>{{ getLabel("searchButton") }}</span>
        </button>
    </div>
</div>