.pivot {
    font-family: var(--font-family-ubuntu);
    width: max-content;
}

.pivot .port {
    width: 200px;
}

.pivot .port .footer {
    border-left: 1px solid var(--color-row-seperator);
    padding: 5px;
    width: 200px;
}

.pivot .header, .pivot .footer {
    background-color: var(--color-b);
    border-bottom: 1px solid var(--color-row-seperator);
    border-top: 1px solid var(--color-row-seperator);
    font-weight: normal;
    text-align: center;
}

.pivot .transfer {
    padding: 5px;
}

.pivot .number {
    border-left: 1px solid var(--color-row-seperator);
    border-right: 1px solid var(--color-row-seperator);
    justify-content: center;
    padding: 4px 0 6px 0;
    text-align: center;
    width: 40px;
}

.icon-ok {
    color: var(--color-ok);
}

.icon-warning {
    color: var(--color-warning);
}

.icon-error {
    color: var(--color-error);
}

.port-panel {
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--color-row-seperator);
    margin: 0.5rem 0 0.5rem 5rem;
    padding: 1rem;
}
