#form-wrapper {
    background-color: var(--color-background-secondary);
    border-radius: 20px;
    display: grid;
    grid-template-columns: minmax(400px, 1fr);
    grid-template-rows: 1fr 78% 1fr;
    height: 643px;
    padding: 2rem;
    width: 800px;
    z-index: 1;
}

#header {
    margin: 0 1rem 1.5rem 1rem;
}

#headerButtons {
    margin-left: auto;
}

#headerButtons button {
    margin-left: 0.5rem !important;
}

#headerButtons button.delete-fab {
    background-color: var(--color-button-delete) !important;
    color: var(--color-button-text) !important;
}

#goBack {
    background-color: var(--color-button-primary) !important;
}

#form {
    width: 100%;
}

#group-field {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}

#group-field .mat-form-field:not(:last-child) {
    margin-right: 1rem;
}

#footer {
    margin: 1.5rem 0 0 1rem !important;
}

#footer #buttons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem;
}

#qrCode {
    width: 100px;
    height: 100px;
}