<div id="form-wrapper">

    <div id="header">
        <div id="navigation">
            <mat-icon (click)="onGoBack()" class="goBack" id="goBack">arrow_back</mat-icon>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ getLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <mat-tab-group>
            <form id="form" [formGroup]="form" autocomplete="off">
                <mat-tab label="{{ getLabel('tabGeneral') }}">
                    <ng-template matTabContent>
                        <form id="form" [formGroup]="form" autocomplete="off">
                            <div id="group-field">
                                <mat-form-field>
                                    <mat-label>{{ getLabel("destination") }}</mat-label>
                                    <input data-cy="destination-description" [inputTabStop]="input" [matAutocomplete]="destinations" data-tabindex="1" formControlName="destination" matInput type="text">
                                    <mat-error *ngIf="destination.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!destination.hasError('required') && destination.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                                    <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>{{ getLabel("customer") }}</mat-label>
                                    <input data-cy="customer-description" [inputTabStop]="input" [matAutocomplete]="customers" data-tabindex="2" formControlName="customer" matInput type="text">
                                    <mat-error *ngIf="customer.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!customer.hasError('required') && customer.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                                    <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div id="group-field">
                                <mat-form-field>
                                    <mat-label>{{ getLabel("pickupPoint") }}</mat-label>
                                    <input data-cy="pickupPoint-description" [inputTabStop]="input" [matAutocomplete]="pickupPoints" data-tabindex="3" formControlName="pickupPoint" matInput type="text">
                                    <mat-error *ngIf="pickupPoint.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!pickupPoint.hasError('required') && pickupPoint.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                                    <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div id="group-field">
                                <mat-form-field>
                                    <input data-cy="ticketNo" (keyup)="doBarcodeTasks()" [inputTabStop]="input" [placeholder]="getLabel('ticketNo')" data-tabindex="4" formControlName="ticketNo" matInput type="text">
                                    <mat-error *ngIf="ticketNo.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="ticketNo.hasError('maxlength')">{{ getHint('maxLength', ticketNo.errors.maxlength.requiredLength) }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input data-cy="adults" (keyup)="calculateTotalPersons()" [inputTabStop]="input" [placeholder]="getLabel('adults')" class="number" data-tabindex="5" formControlName="adults" matInput type="number">
                                    <mat-error *ngIf="adults.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!adults.hasError('required') && adults.hasError('min') || adults.hasError('max')">{{ getHint('invalid') }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input data-cy="kids" (keyup)="calculateTotalPersons()" [inputTabStop]="input" [placeholder]="getLabel('kids')" class="number" data-tabindex="6" formControlName="kids" matInput type="number">
                                    <mat-error *ngIf="kids.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!kids.hasError('required') && kids.hasError('min') || kids.hasError('max')">{{ getHint('invalid') }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input data-cy="free" (keyup)="calculateTotalPersons()" [inputTabStop]="input" [placeholder]="getLabel('free')" class="number" data-tabindex="7" formControlName="free" matInput type="number">
                                    <mat-error *ngIf="free.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!free.hasError('required') && free.hasError('min') || free.hasError('max')">{{ getHint('invalid') }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input data-cy="totalPersons" [placeholder]="getLabel('totalPersons')" formControlName="totalPersons" matInput type="number">
                                </mat-form-field>
                            </div>
                            <div id="group-field">
                                <mat-form-field>
                                    <input data-cy="email" [inputTabStop]="input" [placeholder]="getLabel('email')" data-tabindex="8" formControlName="email" matInput type="email">
                                    <mat-error *ngIf="email.hasError('maxlength')">{{ getHint('maxLength', email.errors.maxlength.requiredLength) }}</mat-error>
                                    <mat-error *ngIf="!email.hasError('maxlength') && email.hasError('email')">{{ getHint('invalid') }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input data-cy="phones" [inputTabStop]="input" [placeholder]="getLabel('phones')" data-tabindex="9" formControlName="phones" matInput type="text">
                                    <mat-error *ngIf="phones.hasError('maxlength')">{{ getHint('maxLength', phones.errors.maxlength.requiredLength) }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input data-cy="phones" [inputTabStop]="input" [placeholder]="getLabel('remarks')" data-tabindex="10" formControlName="remarks" matInput type="text">
                                    <mat-error *ngIf="remarks.hasError('maxlength')">{{ getHint('maxLength', remarks.errors.maxlength.requiredLength) }}</mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                        <p class="instructions" [class.hidden]=false>{{ form.value | json }} {{ form.valid }}</p>
                    </ng-template>
                </mat-tab>
                <mat-tab label="{{ getLabel('tabPassengers') }}">
                    <ng-template matTabContent>
                        <passenger-list [passengers]="form.value.passengers" [reservationId]="form.value.reservationId"></passenger-list>
                    </ng-template>
                </mat-tab>
                <mat-tab label="{{ getLabel('tabMoreInfo') }}">
                    <ng-template matTabContent>
                        <mat-form-field>
                            <mat-label>{{ getLabel("driver") }}</mat-label>
                            <input matInput formControlName="driver" [matAutocomplete]="drivers" readonly>
                            <mat-error *ngIf="driver.hasError('required')">{{ getHint('required') }}</mat-error>
                            <mat-error *ngIf="!driver.hasError('required') && driver.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                            <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ getLabel("ship") }}</mat-label>
                            <input matInput formControlName="ship" [matAutocomplete]="ships" readonly>
                            <mat-error *ngIf="ship.hasError('required')">{{ getHint('required') }}</mat-error>
                            <mat-error *ngIf="!ship.hasError('required') && ship.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                            <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ getLabel("port") }}</mat-label>
                            <input matInput formControlName="port" [matAutocomplete]="ports" readonly>
                            <mat-error *ngIf="port.hasError('required')">{{ getHint('required') }}</mat-error>
                            <mat-error *ngIf="!port.hasError('required') && port.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                            <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                        </mat-form-field>
                    </ng-template>
                </mat-tab>
            </form>
        </mat-tab-group>
    </div>

    <div id="footer">
        <div @slideFromLeft id="utility-buttons">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="primary">
                <ng-container *ngTemplateOutlet="voucherMenu"></ng-container>
            </mat-menu>
        </div>
        <div @slideFromRight class="button-group">
            <button mat-flat-button (click)="onDelete()" *ngIf="form.value.id !== 0 && isAdmin" class="delete" id="delete">{{ getLabel('deleteButton') }}</button>
            <button data-cy="save" mat-flat-button (click)="onSave()" [disabled]="!form.valid" class="primary">{{ getLabel('saveButton') }}</button>
        </div>
    </div>

    <div id="qr-code">
        <qr-Code [value]="barcode.ticketNo" [size]="barcode.size" [level]="barcode.level"></qr-Code>
    </div>

</div>

<mat-autocomplete autoActiveFirstOption #destinations="matAutocomplete" [displayWith]="dropdownFields">
    <mat-option *ngFor="let option of filteredDestinations | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #customers="matAutocomplete" [displayWith]="dropdownFields">
    <mat-option *ngFor="let option of filteredCustomers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #drivers="matAutocomplete" [displayWith]="dropdownFields">
    <mat-option *ngFor="let option of filteredDrivers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #ships="matAutocomplete" [displayWith]="dropdownFields">
    <mat-option *ngFor="let option of filteredShips | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #ports="matAutocomplete" [displayWith]="dropdownFields">
    <mat-option *ngFor="let option of filteredPorts | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #pickupPoints="matAutocomplete" [displayWith]="dropdownFields" (optionSelected)="updatePort($event.option.value)">
    <mat-option *ngFor="let option of filteredPickupPoints | async" [value]="option">
        <span>{{ option.description }}</span>
        <span>{{ option.exactPoint }}</span>
        <span>{{ option.time }}</span>
    </mat-option>
</mat-autocomplete>

<ng-template #voucherMenu>
    <button mat-menu-item class="primary" (click)="onDoVoucherTasksServer()"><span>Send voucher to email</span></button>
    <button mat-menu-item class="primary" (click)="onDoVoucherTasksClient()"><span>Print voucher</span></button>
</ng-template>