<div id="form-wrapper">

    <div id="header">
        <div id="navigation">
            <button class="goBack" mat-mini-fab (click)="onGoBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
        <div id="headerButtons">
            <button mat-mini-fab (click)="onDoVoucherTasksServer()" [disabled]="email.hasError('maxlength') || email.hasError('email') || email.value.length==0">
                <mat-icon>email</mat-icon>
            </button>
            <button mat-mini-fab (click)="onDoVoucherTasksClient()">
                <mat-icon>print</mat-icon>
            </button>
            <button mat-mini-fab class="delete-fab" (click)="onDelete()" *ngIf="form.value.id !== 0 && onMustBeAdmin()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="{{ onGetLabel('tabGeneral') }}">
            <ng-template matTabContent>
                <form id="form" [formGroup]="form" autocomplete="off">
                    <mat-form-field>
                        <input type="text" matInput [placeholder]="onGetLabel('destination')" formControlName="destinationDescription" data-tabindex="1" id="destinationDescription" [inputTabStop]="input" (change)="onLookupIndex(destinations, 'destinations', ['destinationId', 'destinationDescription', ''], ['destinationId', 'destinationDescription', ''], ['destinationId', 'destinationDescription', ''], ['1px', '440px', '56px'], ['none'], ['center', 'left', 'center'], ['', '', ''], $event)">
                        <mat-error *ngIf="destinationDescription.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    </mat-form-field>
                    <div id="group-field">
                        <mat-form-field>
                            <input type="text" matInput [placeholder]="onGetLabel('customer')" formControlName="customerDescription" data-tabindex="2" id="customerDescription" [inputTabStop]="input" (change)="onLookupIndex(customers, 'customers', ['customerId', 'customerDescription', ''], ['customerId', 'customerDescription', ''], ['customerId', 'customerDescription', ''], ['1px', '440px', '56px'], ['none'], ['center', 'left', 'center'], ['', '', ''], $event)">
                            <mat-error *ngIf="customerDescription.hasError('required')">{{ onGetHint('required') }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput [placeholder]="onGetLabel('pickupPoint')" formControlName="pickupPointDescription" data-tabindex="3" id="pickupPointDescription" [inputTabStop]="input" (change)="onLookupIndex(pickupPointsFlat, 'pickupPoints', ['pickuPointId', 'pickupPointDescription', ''], ['pickuPointId', 'pickupPointDescription', 'exactPoint', 'time', ''], ['pickuPointId', 'pickupPointDescription', 'exactPoint', 'time', ''], ['1px', '440px', '440px', '100px', '56px'], ['none'], ['center', 'left', 'left', 'center', 'center'], ['', '', '', '', ''], $event)">
                            <mat-error *ngIf="pickupPointDescription.hasError('required')">{{ onGetHint('required') }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div id="group-field">
                        <mat-form-field>
                            <input type="text" matInput [placeholder]="onGetLabel('ticketNo')" formControlName="ticketNo" data-tabindex="4" id="ticketNo" [inputTabStop]="input" (keyup)="onDoBarcodeJobs()">
                            <mat-error *ngIf="ticketNo.hasError('required')">{{ onGetHint('required') }}</mat-error>
                            <mat-error *ngIf="ticketNo.hasError('maxlength')">{{ onGetHint('maxLength', ticketNo.errors.maxlength.requiredLength) }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput [placeholder]="onGetLabel('adults')" formControlName="adults" data-tabindex="5" id="adults" [inputTabStop]="input" class="number" (keyup)="onCalculateTotalPersons()">
                            <mat-error *ngIf="adults.hasError('required')">{{ onGetHint('required') }}</mat-error>
                            <mat-error *ngIf="!adults.hasError('required') && adults.hasError('min') || adults.hasError('max')">{{ onGetHint('invalid') }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput [placeholder]="onGetLabel('kids')" formControlName="kids" data-tabindex="6" id="kids" [inputTabStop]="input" class="number" (keyup)="onCalculateTotalPersons()">
                            <mat-error *ngIf="kids.hasError('required')">{{ onGetHint('required') }}</mat-error>
                            <mat-error *ngIf="!kids.hasError('required') && kids.hasError('min') || kids.hasError('max')">{{ onGetHint('invalid') }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput [placeholder]="onGetLabel('free')" formControlName="free" data-tabindex="7" id="free" [inputTabStop]="input" class="number" (keyup)="onCalculateTotalPersons()">
                            <mat-error *ngIf="free.hasError('required')">{{ onGetHint('required') }}</mat-error>
                            <mat-error *ngIf="!free.hasError('required') && free.hasError('min') || free.hasError('max')">{{ onGetHint('invalid') }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" [disabled]="true" matInput [placeholder]="onGetLabel('totalPersons')" id="totalPersons" formControlName="totalPersons">
                        </mat-form-field>
                    </div>
                    <div id="group-field">
                        <mat-form-field>
                            <input type="email" matInput [placeholder]="onGetLabel('email')" formControlName="email" data-tabindex="8" id="email" [inputTabStop]="input">
                            <mat-error *ngIf="email.hasError('maxlength')">{{ onGetHint('maxLength', email.errors.maxlength.requiredLength) }}</mat-error>
                            <mat-error *ngIf="!email.hasError('maxlength') && email.hasError('email')">{{ onGetHint('invalid') }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput [placeholder]="onGetLabel('phones')" formControlName="phones" data-tabindex="9" id="phones" [inputTabStop]="input">
                            <mat-error *ngIf="phones.hasError('maxlength')">{{ onGetHint('maxLength', phones.errors.maxlength.requiredLength) }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput [placeholder]="onGetLabel('remarks')" formControlName="remarks" data-tabindex="10" id="remarks" [inputTabStop]="input">
                            <mat-error *ngIf="remarks.hasError('maxlength')">{{ onGetHint('maxLength', remarks.errors.maxlength.requiredLength) }}</mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </ng-template>
        </mat-tab>
        <mat-tab label="{{ onGetLabel('tabPassengers') }}">
            <ng-template matTabContent>
                <passenger-list [passengers]="form.value.passengers" [reservationId]="form.value.reservationId"></passenger-list>
            </ng-template>
        </mat-tab>
        <mat-tab label="{{ onGetLabel('tabMoreInfo') }}">
            <ng-template matTabContent>
                <form id="form" [formGroup]="form" autocomplete="off">
                    <mat-form-field>
                        <input type="text" matInput [placeholder]="onGetLabel('driver')" formControlName="driverDescription" id="driverDescription">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput [placeholder]="onGetLabel('port')" formControlName="portDescription" id="portDescription">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput [placeholder]="onGetLabel('ship')" formControlName="shipDescription" id="shipDescription">
                    </mat-form-field>
                </form>
                <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

    <qrCode hidden [qrCodeValue]="barcode" [errorCorrectionLevel]="errorCorrectionLevel" [margin]="margin" [width]="width"></qrCode>

    <div id="footer">
        <div id="buttons">
            <button mat-flat-button class="primary" (click)="onDoPreSaveTasks()" [disabled]="!form.valid">{{ onGetLabel('saveButton') }}</button>
        </div>
    </div>

</div>