<div id="form-wrapper">

    <div id="header">
        <div id="navigation">
            <mat-icon (click)="onGoBack()" class="goBack" id="goBack">arrow_back</mat-icon>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ getLabel('header') }}</h1>
        </div>
        <div id="headerButtons">
            <button mat-mini-fab (click)="onDoVoucherTasksServer()">
                <mat-icon>email</mat-icon>
            </button>
            <button mat-mini-fab (click)="onDoVoucherTasksClient()">
                <mat-icon>print</mat-icon>
            </button>
        </div>
    </div>

    <div id="content">
        <mat-tab-group>
            <form id="form" [formGroup]="form" autocomplete="off">
                <mat-tab label="{{ getLabel('tabGeneral') }}">
                    <ng-template matTabContent>
                        <form id="form" [formGroup]="form" autocomplete="off">
                            <div id="group-field">
                                <mat-form-field>
                                    <mat-label>{{ getLabel("destination") }}</mat-label>
                                    <input type="text" matInput formControlName="destination" [matAutocomplete]="destinations" data-tabindex="1" [inputTabStop]="input">
                                    <mat-error *ngIf="destination.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!destination.hasError('required') && destination.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                                    <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>{{ getLabel("customer") }}</mat-label>
                                    <input matInput formControlName="customer" [matAutocomplete]="customers" data-tabindex="2" [inputTabStop]="input">
                                    <mat-error *ngIf="customer.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!customer.hasError('required') && customer.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                                    <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div id="group-field">
                                <mat-form-field>
                                    <mat-label>{{ getLabel("pickupPoint") }}</mat-label>
                                    <input matInput formControlName="pickupPoint" [matAutocomplete]="pickupPoints" data-tabindex="3" [inputTabStop]="input">
                                    <mat-error *ngIf="pickupPoint.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!pickupPoint.hasError('required') && pickupPoint.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                                    <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div id="group-field">
                                <mat-form-field>
                                    <input type="text" matInput [placeholder]="getLabel('ticketNo')" formControlName="ticketNo" data-tabindex="4" id="ticketNo" [inputTabStop]="input" (keyup)="doBarcodeTasks()">
                                    <mat-error *ngIf="ticketNo.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="ticketNo.hasError('maxlength')">{{ getHint('maxLength', ticketNo.errors.maxlength.requiredLength) }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input type="number" matInput [placeholder]="getLabel('adults')" formControlName="adults" data-tabindex="5" id="adults" [inputTabStop]="input" class="number" (keyup)="onCalculateTotalPersons()">
                                    <mat-error *ngIf="adults.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!adults.hasError('required') && adults.hasError('min') || adults.hasError('max')">{{ getHint('invalid') }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input type="number" matInput [placeholder]="getLabel('kids')" formControlName="kids" data-tabindex="6" id="kids" [inputTabStop]="input" class="number" (keyup)="onCalculateTotalPersons()">
                                    <mat-error *ngIf="kids.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!kids.hasError('required') && kids.hasError('min') || kids.hasError('max')">{{ getHint('invalid') }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input type="number" matInput [placeholder]="getLabel('free')" formControlName="free" data-tabindex="7" id="free" [inputTabStop]="input" class="number" (keyup)="onCalculateTotalPersons()">
                                    <mat-error *ngIf="free.hasError('required')">{{ getHint('required') }}</mat-error>
                                    <mat-error *ngIf="!free.hasError('required') && free.hasError('min') || free.hasError('max')">{{ getHint('invalid') }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input type="number" matInput [placeholder]="getLabel('totalPersons')" id="totalPersons" formControlName="totalPersons">
                                </mat-form-field>
                            </div>
                            <div id="group-field">
                                <mat-form-field>
                                    <input type="email" matInput [placeholder]="getLabel('email')" formControlName="email" data-tabindex="8" id="email" [inputTabStop]="input">
                                    <mat-error *ngIf="email.hasError('maxlength')">{{ getHint('maxLength', email.errors.maxlength.requiredLength) }}</mat-error>
                                    <mat-error *ngIf="!email.hasError('maxlength') && email.hasError('email')">{{ getHint('invalid') }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input type="text" matInput [placeholder]="getLabel('phones')" formControlName="phones" data-tabindex="9" id="phones" [inputTabStop]="input">
                                    <mat-error *ngIf="phones.hasError('maxlength')">{{ getHint('maxLength', phones.errors.maxlength.requiredLength) }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input type="text" matInput [placeholder]="getLabel('remarks')" formControlName="remarks" data-tabindex="10" id="remarks" [inputTabStop]="input">
                                    <mat-error *ngIf="remarks.hasError('maxlength')">{{ getHint('maxLength', remarks.errors.maxlength.requiredLength) }}</mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
                    </ng-template>
                </mat-tab>
                <mat-tab label="{{ getLabel('tabPassengers') }}">
                    <ng-template matTabContent>
                        <passenger-list [passengers]="form.value.passengers" [reservationId]="form.value.reservationId"></passenger-list>
                    </ng-template>
                </mat-tab>
                <mat-tab label="{{ getLabel('tabMoreInfo') }}">
                    <ng-template matTabContent>
                        <mat-form-field>
                            <mat-label>{{ getLabel("driver") }}</mat-label>
                            <input matInput formControlName="driver" [matAutocomplete]="drivers" readonly>
                            <mat-error *ngIf="driver.hasError('required')">{{ getHint('required') }}</mat-error>
                            <mat-error *ngIf="!driver.hasError('required') && driver.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                            <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ getLabel("ship") }}</mat-label>
                            <input matInput formControlName="ship" [matAutocomplete]="ships" readonly>
                            <mat-error *ngIf="ship.hasError('required')">{{ getHint('required') }}</mat-error>
                            <mat-error *ngIf="!ship.hasError('required') && ship.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                            <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ getLabel("port") }}</mat-label>
                            <input matInput formControlName="port" [matAutocomplete]="ports" readonly>
                            <mat-error *ngIf="port.hasError('required')">{{ getHint('required') }}</mat-error>
                            <mat-error *ngIf="!port.hasError('required') && port.hasError('incorrect')">{{ getHint('invalid') }}</mat-error>
                            <mat-hint>{{ getLabel('searchAutocompleteHint') }}</mat-hint>
                        </mat-form-field>
                    </ng-template>
                </mat-tab>
            </form>
        </mat-tab-group>
    </div>

    <div id="footer">
        <div @slideFromRight id="buttons">
            <button mat-flat-button (click)="onDelete()" *ngIf="form.value.id !== 0 && isAdmin" class="delete" id="delete">{{ getLabel('deleteButton') }}</button>
            <button mat-flat-button (click)="onSave()" [disabled]="!form.valid" class="primary">{{ getLabel('saveButton') }}</button>
        </div>
    </div>

    <div id="qr-code">
        <qr-Code [value]="barcode.ticketNo" [size]="barcode.size" [level]="barcode.level"></qr-Code>
    </div>

</div>

<mat-autocomplete autoActiveFirstOption #destinations="matAutocomplete" [displayWith]="onDestinationFields">
    <mat-option *ngFor="let option of filteredDestinations | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #customers="matAutocomplete" [displayWith]="onCustomerFields">
    <mat-option *ngFor="let option of filteredCustomers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #drivers="matAutocomplete" [displayWith]="onDriverFields">
    <mat-option *ngFor="let option of filteredDrivers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #ships="matAutocomplete" [displayWith]="onShipFields">
    <mat-option *ngFor="let option of filteredShips | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #ports="matAutocomplete" [displayWith]="onPortFields">
    <mat-option *ngFor="let option of filteredPorts | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #pickupPoints="matAutocomplete" [displayWith]="onPickupPointFields" (optionSelected)="onUpdatePort($event.option.value)">
    <mat-option *ngFor="let option of filteredPickupPoints | async" [value]="option">
        <span>{{ option.description }}</span>
        <span>{{ option.exactPoint }}</span>
        <span>{{ option.time }}</span>
    </mat-option>
</mat-autocomplete>