#topmenu {
    background: var(--color-menu-background);
    border-radius: 5px;
    border: none;
    display: flex;
    padding: 0;
    transition: background-color var(--change-theme-delay) ease;
}