<div id="list">

    <div id="header">
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th data-cy="column" style="min-width: 10%; max-width: 10%; border-top-left-radius: 10px;">{{ onGetLabel('headerIsActive') }}</th>
                    <th data-cy="column" style="min-width: 25%; max-width: 25%;">{{ onGetLabel('headerShipDescription') }}</th>
                    <th data-cy="column" style="min-width: 25%; max-width: 25%;">{{ onGetLabel('headerLastname') }}</th>
                    <th data-cy="column" style="min-width: 20%; max-width: 20%;">{{ onGetLabel('headerFirstname') }}</th>
                    <th data-cy="column" style="min-width: 20%; max-width: 20%; border-top-right-radius: 10px;">{{ onGetLabel('headerBirthdate') }}</th>
                </tr>
                <tr>
                    <th style="min-width: 10%; max-width: 10%;"><p-columnFilter data-cy="filter-active" type="boolean" field="isActive"></p-columnFilter></th>
                    <th style="min-width: 25%; max-width: 25%;">
                        <p-columnFilter style="width: 100%;" field="shipDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown data-cy="filter-ship" [ngModel]="value" [options]="ships" (onChange)="filter($event.value)" placeholder="⭐" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="min-width: 25%; max-width: 25%;"><input data-cy="filter-lastname" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'lastname', 'contains')" [value]="$any(table).filters['lastname']?.value"></th>
                    <th style="min-width: 20%; max-width: 20%;"><input data-cy="filter-firstname" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'firstname', 'contains')" [value]="$any(table).filters['firstname']?.value"></th>
                    <th style="min-width: 20%; max-width: 20%;"><input data-cy="filter-birthdate" type="text" class="p-inputtext center" (input)="table.filter($event.target.value, 'birthdate', 'contains')" [value]="$any(table).filters['birthdate']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr data-cy="row" [pSelectableRow]="rowData" (dblclick)="onEditRecord(rowData.id)">
                    <td style="min-width: 10%; max-width: 10%; padding: 5px !important; justify-content: center;"><i class="pi" [ngClass]="{'icon-green pi-check': rowData.isActive, 'icon-red pi-times': !rowData.isActive}"></i></td>
                    <td style="min-width: 25%; max-width: 25%;">{{ rowData.shipDescription }}</td>
                    <td style="min-width: 25%; max-width: 25%;">{{ rowData.lastname }}</td>
                    <td style="min-width: 20%; max-width: 20%;">{{ rowData.firstname }}</td>
                    <td style="min-width: 20%; max-width: 20%; justify-content: center;">{{ rowData.birthdate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button data-cy="new" mat-flat-button class="primary" id="new" [routerLink]="newUrl">{{ onGetLabel('newButton') }}</button>
        </div>
    </div>

</div>