#menu {
    display: flex;
    flex-direction: row;
}

#menu .menu-header {
    font-family: var(--font-family-handbook);
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    text-align: center;
}

#menu .menu-item {
    font-family: var(--font-family-handbook);
    font-size: 20px;
    padding: 0.4rem 1rem;
    width: 13.5rem;
}

#menu .menu-item:hover {
    background-color: var(--color-c);
    border-radius: 5px;
    cursor: pointer;
}

#reservations .menu-header {
    color: var(--dark-blue);
}

#reservations .menu-item {
    color: var(--blue);
}

#tasks .menu-header {
    color: var(--red);
}

#tasks .menu-item {
    color: var(--light-red);
}

#tables .menu-header {
    color: var(--green);
}

#tables .menu-item {
    color: var(--light-green);
}

#ships .menu-header {
    color: var(--dark-blue);
}

#ships .menu-item {
    color: var(--blue);
}