#navigation {
    align-items: center;
    display: flex;
    margin: 0;
}

#navigation button {
    border: none;
    box-shadow: none;
    display: flex;
    margin-right: 1rem !important;
    transition: all var(--theme-change-delay) ease-in;
}

#title {
    align-items: center;
    display: flex;
}

#feature-icon {
    margin-right: 1rem;
    width: 3rem;
}