<div id="dialog">

    <div  id="dialog-header">
        <h1 mat-dialog-title>{{ getLabel('header') }}</h1>
        <h6 mat-dialog-title>{{ getLabel('sub-header') }}</h6>
    </div>

    <div id="dialog-content">
        <p-listbox [options]="ships" [(ngModel)]="selectedShipId" optionLabel="description" optionValue="id"></p-listbox>
    </div>

    <div id="dialog-footer">
        <mat-dialog-actions>
            <button mat-flat-button class="transparent" tabindex="-1" (click)="onClose()">{{ getLabel('noButton') }}</button>
            <button mat-flat-button class="primary" [disabled]="isShipSelected()" (click)="onSave()">{{ getLabel('okButton') }}</button>
        </mat-dialog-actions>
    </div>

</div>