<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" [virtualRowHeight]="33" [virtualScroll]="false" dataKey="id" selectionMode="single" scrollHeight="flex" sortMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th data-cy="column" style="min-width: 12%; max-width: 12%;" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}<p-sortIcon field="isActive"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 88%; max-width: 88%;" pSortableColumn="description">{{ getLabel("headerDescription") }}<p-sortIcon field="description"></p-sortIcon></th>
                </tr>
                <tr>
                    <th style="min-width: 12%; max-width: 12%;"><p-columnFilter data-cy="filter-active" type="boolean" field="isActive"></p-columnFilter></th>
                    <th style="min-width: 88%; max-width: 88%;"><input data-cy="filter-description" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr data-cy="row" [pSelectableRow]="rowData" (dblclick)="onEditRecord(rowData.id)">
                    <td [ngClass]="rowData.isActive ? 'is-active': 'is-not-active'" style="min-width: 12%; max-width: 12%; justify-content: center;">
                        <span *ngIf="rowData.isActive" class="is-active material-icons-outlined">check_circle</span>
                        <span *ngIf="!rowData.isActive" class="is-not-active material-icons-outlined">highlight_off</span>
                    </td>
                    <td style="min-width: 88%; max-width: 88%;">{{ rowData.description }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="onNewRecord()">{{ getLabel("newButton") }}</button>
        </div>
    </div>

</div>