<div id="form-wrapper">

    <div id="header">
        <div id="navigation">
            <button [routerLink]="['/customers']" class="goBack" data-cy="goBack" id="goBack" mat-mini-fab>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <form data-cy="form" id="form" [formGroup]="form" autocomplete="off">
            <div id="group-field">
                <mat-form-field>
                    <input data-cy="description" type="text" matInput [placeholder]="onGetLabel('description')" formControlName="description" data-tabindex="1" id="description" [inputTabStop]="input">
                    <mat-error *ngIf="description.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="description.hasError('maxlength')">{{ onGetHint('maxLength', description.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ onGetLabel("shipOwner") }}</mat-label>
                    <input data-cy="shipOwner-description" matInput formControlName="shipOwner" [matAutocomplete]="shipOwners" data-tabindex="2" [inputTabStop]="input">
                    <mat-error *ngIf="shipOwner.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="!shipOwner.hasError('required') && shipOwner.hasError('incorrect')">{{ onGetHint('invalid') }}</mat-error>
                    <mat-hint>{{ onGetLabel('searchAutocompleteHint') }}</mat-hint>
                </mat-form-field>
            </div>
            <div id="group-field">
                <mat-form-field>
                    <input data-cy="imo" type="text" matInput [placeholder]="onGetLabel('imo')" formControlName="imo" data-tabindex="3" id="imo" [inputTabStop]="input">
                    <mat-error *ngIf="imo.hasError('maxlength')">{{ onGetHint('maxLength', imo.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="flag" type="text" matInput [placeholder]="onGetLabel('flag')" formControlName="flag" data-tabindex="4" id="flag" [inputTabStop]="input">
                    <mat-error *ngIf="flag.hasError('maxlength')">{{ onGetHint('maxLength', flag.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="registryNo" type="text" matInput [placeholder]="onGetLabel('registryNo')" formControlName="registryNo" data-tabindex="5" id="registryNo" [inputTabStop]="input">
                    <mat-error *ngIf="registryNo.hasError('maxlength')">{{ onGetHint('maxLength', registryNo.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
            </div>
            <div id="group-field">
                <mat-form-field>
                    <input data-cy="manager" type="text" matInput [placeholder]="onGetLabel('manager')" formControlName="manager" data-tabindex="6" id="manager" [inputTabStop]="input">
                    <mat-error *ngIf="manager.hasError('maxlength')">{{ onGetHint('maxLength', manager.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="managerInGreece" type="text" matInput [placeholder]="onGetLabel('managerInGreece')" formControlName="managerInGreece" data-tabindex="7" id="managerInGreece" [inputTabStop]="input">
                    <mat-error *ngIf="managerInGreece.hasError('maxlength')">{{ onGetHint('maxLength', managerInGreece.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="agent" type="text" matInput [placeholder]="onGetLabel('agent')" formControlName="agent" data-tabindex="8" id="agent" [inputTabStop]="input">
                    <mat-error *ngIf="agent.hasError('maxlength')">{{ onGetHint('maxLength', agent.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
            </div>
            <mat-slide-toggle data-cy="isActive" formControlName="isActive">{{ onGetLabel('isActive') }}</mat-slide-toggle>
        </form>
        <p class="instructions" [class.hidden]=false>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div @slideFromRight id="buttons">
            <button data-cy="delete" mat-flat-button class="delete" *ngIf="form.value.id !== 0" id="delete" (click)="onDelete()">{{ onGetLabel('deleteButton') }}</button>
            <button data-cy="save" mat-flat-button class="primary" [disabled]="!form.valid" id="save" (click)="onSave()">{{ onGetLabel('saveButton') }}</button>
        </div>
    </div>

</div>

<mat-autocomplete autoActiveFirstOption #shipOwners="matAutocomplete" [displayWith]="shipOwnerFields">
    <mat-option *ngFor="let option of filteredShipOwners | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>