#header {
    display: flex;
    margin: 0 !important;
    padding: 1.625rem 1rem 1rem 1rem;
}

#header #navigation {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 1rem;
}

span#routeAbbreviation {
    color: var(--color-text-secondary);
    font-family: var(--font-family-master);
    margin: 0.375rem 0 0 0.625rem;
}