<div id="list">

    <div id="header">
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="filteredRecords" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple" stateKey="pickupPoint-list" stateStorage="local">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 0%;"></th>
                    <th style="width: 14%; border-top-left-radius: 10px;" pSortableColumn="routeAbbreviation">{{ onGetLabel('headerRouteAbbreviation') }}<p-sortIcon field="routeAbbreviation"></p-sortIcon></th>
                    <th style="width: 40%;" pSortableColumn="description">{{ onGetLabel('headerDescription') }}<p-sortIcon field="description"></p-sortIcon></th>
                    <th style="width: 36%;" pSortableColumn="exactPoint">{{ onGetLabel('headerExactPoint') }}<p-sortIcon field="exactPoint"></p-sortIcon></th>
                    <th style="width: 10%; border-top-right-radius: 10px;" pSortableColumn="time">{{ onGetLabel('headerTime') }}<p-sortIcon field="time"></p-sortIcon></th>
                </tr>
                <tr>
                    <th style="width: 0%;"></th>
                    <th>
                        <p-columnFilter field="routeAbbreviation" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="routes" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value">
                    </th>
                    <th>
                        <input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'exactPoint', 'contains')" [value]="$any(table).filters['exactPoint']?.value">
                    </th>
                    <th>
                        <input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'time', 'contains')" [value]="$any(table).filters['time']?.value">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" (dblclick)="onEditRecord(rowData)">
                    <td style="width: 0%;">{{ rowData.id }}</td>
                    <td style="width: 14%; padding: 5px !important; text-align: center;">{{ rowData.routeAbbreviation }}</td>
                    <td style="width: 40%; padding: 5px !important;">{{ rowData.description }}</td>
                    <td style="width: 36%; padding: 5px !important;">{{ rowData.exactPoint }}</td>
                    <td style="width: 10%; padding: 5px !important; text-align: center;">{{ rowData.time }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight id="buttons">
            <button data-cy="new" mat-flat-button class="primary" id="new" [routerLink]="newUrl">{{ onGetLabel('newButton') }}</button>
        </div>
    </div>

</div>