<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div id="criteria">
            <div class="pill date">
                <img width="20px" [src]="getIcon('calendar')">
                <!-- <div class="description">{{ formatDateToLocale(criteria.fromDate, true, true) }}</div> -->
            </div>
            <button (click)="resetTableFilters(table)" [disabled]="manifest.passengers.length==0" class="primary" mat-flat-button>
                <i class="pi pi-filter-slash"></i>
            </button>
        </div>
    </div>

    <div id="content">
        <div id="criteria-panel">
            <!-- <criteria-panel [backgroundColor]="'var(--color-criteria-a)'" [feature]="feature" [header]="'criteria-destination'" [icon]="'destinations'" [records]="criteria.destinations"></criteria-panel> -->
            <!-- <criteria-panel [backgroundColor]="'var(--color-criteria-b)'" [header]="'criteria-destinations'" [records]="distinctDestinations" [feature]="feature" [icon]="'destinations'"></criteria-panel>
            <criteria-panel [backgroundColor]="'var(--color-criteria-c)'" [header]="'criteria-ships'" [records]="distinctShips" [feature]="feature" [icon]="'ships'"></criteria-panel> -->
        </div>
        <div id="table-wrapper">
            <p-table #table (onFilter)="filterManifest($event)" [scrollable]="true" [value]="manifest.passengers" [virtualScrollItemSize]="33" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 15rem;" pSortableColumn="occupant.description">{{ getLabel("headerOccupant") }}<p-sortIcon field="occupant.description"></p-sortIcon></th>
                        <th style="width: 20rem;" pSortableColumn="lastname">{{ getLabel('headerLastname') }}<p-sortIcon field="lastname"></p-sortIcon></th>
                        <th style="width: 15rem;" pSortableColumn="firstname">{{ getLabel('headerFirstname') }}<p-sortIcon field="firstname"></p-sortIcon></th>
                        <th style="width: 15rem;" pSortableColumn="nationality.description">{{ getLabel("headerCountry") }}<p-sortIcon field="nationality.description"></p-sortIcon></th>
                        <th style="width: 15rem;" pSortableColumn="gender.description">{{ getLabel("headerGender") }}<p-sortIcon field="gender.description"></p-sortIcon></th>
                        <th style="width: 15rem;" pSortableColumn="birthdate">{{ getLabel("headerBirthdate") }}<p-sortIcon field="birthdate"></p-sortIcon></th>
                        <th style="width: 15rem;" pSortableColumn="remarks">{{ getLabel("headerRemarks") }}<p-sortIcon field="remarks"></p-sortIcon></th>
                    </tr>
                    <tr>
                        <th style="width: 15rem;">
                            <p-columnFilter style="width: 100%;" field="occupant.description" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [disabled]="manifest.passengers.length==0" [ngModel]="value" [options]="dropdownOccupants" (onChange)="filter($event.value)" placeholder="⭐" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="width: 20rem;"><input (input)="table.filter($event.target.value, 'lastname', 'contains')" [disabled]="manifest.passengers.length==0" [value]="$any(table).filters['lastname']?.value" class="p-inputtext"></th>
                        <th style="width: 15rem;"><input (input)="table.filter($event.target.value, 'firstname', 'contains')" [disabled]="manifest.passengers.length==0" [value]="$any(table).filters['firsttname']?.value" class="p-inputtext"></th>
                        <th style="width: 15rem;">
                            <p-columnFilter style="width: 100%;" field="nationality.description" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [disabled]="manifest.passengers.length==0" [ngModel]="value" [options]="dropdownNationalities" (onChange)="filter($event.value)" placeholder="⭐" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="width: 15rem;">
                            <p-columnFilter style="width: 100%;" field="gender.description" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [disabled]="manifest.passengers.length==0" [ngModel]="value" [options]="dropdownGenders" (onChange)="filter($event.value)" placeholder="⭐" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span>{{ option }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="width: 15rem;"><input (input)="table.filter($event.target.value, 'birthdate', 'contains')" [disabled]="manifest.passengers.length==0" [value]="$any(table).filters['birthdate']?.value" class="p-inputtext center"></th>
                        <th style="width: 20rem;"><input (input)="table.filter($event.target.value, 'remarks', 'contains')" [disabled]="manifest.passengers.length==0" [value]="$any(table).filters['remarks']?.value" class="p-inputtext"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr [pSelectableRow]="rowData" style="height:33px">
                        <td style="width: 15rem;">{{ rowData.occupant.description }}</td>
                        <td style="width: 20rem;">{{ rowData.lastname }}</td>
                        <td style="width: 15rem;">{{ rowData.firstname }}</td>
                        <td style="align-items: center; display: flex; width: 15rem;">
                            <img [src]="getNationalityIcon(rowData.nationality.code)" style="vertical-align: middle" />
                            <span style="overflow: hidden;">&nbsp;&nbsp;{{ rowData.nationality.description }}</span>
                        </td>
                        <td style="width: 15rem;">{{ rowData.gender.description }}</td>
                        <td style="width: 15rem; text-align: center;">{{ formatDateToLocale(rowData.birthdate,false) }}</td>
                        <td style="width: 10rem;">{{ rowData.remarks }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div id="footer">
        <div id="filters">
            <div class="pill">
                <img [src]="getIcon('total')">
                <div class="number description">{{ totals[0] || 0 }} ( {{ getLabel('countPassengers') }} {{ totals[1] || 0}} / {{ getLabel('countCrew') }} {{ totals[2] || 0}} ) </div>
            </div>
            <div class="pill">
                <img [src]="getIcon('filter')">
                <div class="number description">{{ totals[3] || 0}}</div>
            </div>
        </div>
        <div class="button-group-right">
            <button (click)="createPdf()" [disabled]="manifest.passengers.length==0" class="primary" mat-flat-button>
                <mat-icon *ngIf="manifest.passengers.length==0" class="button-icon">lock</mat-icon>
                <span>{{ getLabel("createPdf") }}</span>
            </button>
        </div>
    </div>

</div>