<div id="list">

    <div id="header">
        <div id="navigation">
            <mat-icon class="goBack" [routerLink]="['/manifest']">arrow_back</mat-icon>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
        <div id="manifestFilter">
            <mat-radio-group>
                <mat-radio-button value="all" (click)="onFilterExclude()" checked>{{ onGetLabel('allRecordCount') }} ({{ passengerCount + crewCount }})</mat-radio-button>
                <mat-radio-button value="passengerCount" (click)="onFilterExclude('Crew')">{{ onGetLabel('passengerCount') }} ({{ passengerCount }})</mat-radio-button>
                <mat-radio-button value="crewCount" (click)="onFilterExclude('Passenger')">{{ onGetLabel('crewCount') }} ({{ crewCount }})</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="filteredRecords.passengers" scrollHeight="flex" selectionMode="single" sortMode="multiple" stateKey="table-filters" stateStorage="local">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%; border-top-left-radius: 10px;"></th>
                    <th style="width: 30%;">{{ onGetLabel('headerLastname') }}</th>
                    <th style="width: 25%;">{{ onGetLabel('headerFirstname') }}</th>
                    <th style="width: 15%;">{{ onGetLabel('headerNationality') }}</th>
                    <th style="width: 15%;">{{ onGetLabel('headerGender') }}</th>
                    <th style="width: 15%; border-top-right-radius: 10px;">{{ onGetLabel('headerBirthdate') }}</th>
                </tr>
                <tr>
                    <th></th>
                    <th><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'lastname', 'contains')" [value]="$any(table).filters['lastname']?.value"></th>
                    <th><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'firstname', 'contains')" [value]="$any(table).filters['firstname']?.value"></th>
                    <th>
                        <p-columnFilter field="nationalityDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="nationalities" (onChange)="filter($event.value)" placeholder="⭐" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="genderDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="genders" (onChange)="filter($event.value)" placeholder="⭐" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'birthdate', 'contains')" [value]="$any(table).filters['birthdate']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
                    <td style="width: 5%; text-align: center;">
                        <i class="fas fa-user-alt" *ngIf="rowData.occupantDescription.toLowerCase()=='passenger'"></i>
                        <i class="fas fa-anchor" *ngIf="rowData.occupantDescription.toLowerCase()!='passenger'"></i>
                    </td>
                    <td style="width: 30%;">{{ rowData.lastname }}</td>
                    <td style="width: 25%;">{{ rowData.firstname }}</td>
                    <td style="width: 15%;">{{ rowData.nationalityDescription }}</td>
                    <td style="width: 15%;">{{ rowData.genderDescription }}</td>
                    <td style="width: 15%; text-align: center;">{{ onFormatDate(rowData.birthdate) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button mat-flat-button class="primary" id="exportToPDF" (click)="onCreatePdf()">{{ onGetLabel('exportToPdfButton') }}</button>
        </div>
    </div>

</div>