/* #header #navigation {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

#image-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-bottom: calc(var(--gap) * 4);
    width: 100%;
}

#image-wrapper span {
    font-size: 8rem;
}

#image-wrapper button {
    margin-top: 0.625rem;
}

#criteria-panel {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 0 auto;
    text-align: right;
}

#criteria-panel .panel {
    margin-left: 1rem;
}

#criteria-panel .panel .label, #totals-panel .panel .label {
    font-family: var(--font-family-ubuntu);
    font-size: 100%;
}

#criteria-panel .panel .description, #totals-panel .panel .count {
    margin-top: 0.3125rem;
    font-family: var(--font-family-handbook);
    font-size: 120%;
}

#totals-panel {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 0 1rem;
    text-align: right;
}

#totals-panel .panel {
    margin-right: 1rem;
}

#footer {
    justify-content: space-between;
    margin: var(--gap) var(--footer-right-margin) var(--gap) var(--footer-left-margin);
} */
