#wrapper {
    background-color: var(--color-background-secondary);
    display: flex;
    height: 100%;
    transition: background-color 0.7s;
    width: 100vw;
}

#main {
    background-color: var(--color-background-secondary);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

#content {
    background-color: var(--color-background-primary);
    flex: 1;
    justify-content: center;
    overflow-y: hidden;
    padding-left: 0.5rem;
    transition: background-color 0.7s;
}

#bottom {
    background-color: var(--color-background-primary);
    height: 0.5rem;
    transition: background-color 0.7s;
}

#spinner {
    position: absolute;
}

