<ul>
    <li>
        <button>
            <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('user')" style="--height: 25px; --width: 25px">
            <span>{{ displayedUsername }}</span>
            <span class="material-icons-outlined">expand_more</span>
        </button>
        <ul class="sub-menu" (click)="hideMenu()">
            <button class="hoverable" (click)="editRecord()"><img width="20px" [src]="getIcon('registrar')"><span>{{ getLabel('my-account') }}</span></button>
            <button class="hoverable" (click)="logout()"><img width="20px" [src]="getIcon('logout')"><span>{{ getLabel('logout') }}</span></button>
        </ul>
    </li>
</ul>