<div id="language-menu">
    <ul>
        <li>
            <button>
                <img src="/assets/images/languages/{{ getStoredLanguage() }}.svg" height="25px">
                <span class="material-icons-outlined">expand_more</span>
            </button>
            <ul class="sub-menu" (click)="hideMenu()">
                <button class="hoverable" (click)="doLanguageTasks('el')"><img src="/assets/images/languages/el.svg"><span>Ελληνικά</span></button>
                <button class="hoverable" (click)="doLanguageTasks('en')"><img src="/assets/images/languages/en.svg"><span>English</span></button>
                <button class="hoverable" (click)="doLanguageTasks('de')"><img src="/assets/images/languages/de.svg"><span>Deutsch</span></button>
                <button class="hoverable" (click)="doLanguageTasks('cs')"><img src="/assets/images/languages/cs.svg"><span>Česky</span></button>
                <button class="hoverable" (click)="doLanguageTasks('fr')"><img src="/assets/images/languages/fr.svg"><span>Française</span></button>
            </ul>
        </li>
    </ul>
</div>