.menu-item {
    align-items: center;
    border-radius: 0.3125rem;
    color: var(--color-button-text);
    display: flex;
    font-family: var(--font-family-handbook);
    font-size: var(--font-size-menu-items);
    padding: 0.3rem 0.5rem;
}

img {
    margin-right: 0.5rem;
    width: 1.5625rem;
}

.menu-item:hover {
    background-color: var(--color-d);
    color: var(--color-a) !important;
    cursor: pointer;
    font-weight: 600;
    opacity: 1;
}
