#table-wrapper {
    margin-left: 1rem;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#criteria-panel {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-manrope);
    gap: 0.5rem;
    margin: 0 0 0 3rem;
}

#criteria-panel .panel:nth-child(1) {
    background-color: var(--color-criteria-a) !important;
}

#criteria-panel .panel:nth-child(2) {
    background-color: var(--color-criteria-b) !important;
}

#criteria-panel .panel:nth-child(3) {
    background-color: var(--color-criteria-c) !important;
}

#criteria-panel .panel:nth-child(4) {
    background-color: var(--color-criteria-d) !important;
}

.customer-description {
    color: var(--color-f) !important;
}

.pivot {
    font-family: var(--font-family-ubuntu);
    width: max-content;
}

.pivot .port {
    width: 200px;
}

.pivot .port .footer {
    border-left: 1px solid var(--color-row-seperator);
    padding: 5px;
    width: 200px;
}

.pivot .header, .pivot .footer {
    background-color: var(--color-b);
    border-bottom: 1px solid var(--color-row-seperator);
    border-top: 1px solid var(--color-row-seperator);
    color: var(--color-c);
    font-weight: normal;
    text-align: center;
}

.pivot .transfer {
    padding: 5px;
}

.pivot .number {
    border-left: 1px solid var(--color-row-seperator);
    border-right: 1px solid var(--color-row-seperator);
    color: var(--color-c);
    justify-content: center;
    padding: 4px 0 6px 0;
    text-align: center;
    width: 40px;
}

.port-panel {
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--color-row-seperator);
    margin: 0.5rem 0 0.5rem 5rem;
    padding: 1rem;
}

.p-button.p-button-icon-only.p-button-rounded {
    height: 20px !important;
}