<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div id="criteria">
            <div class="pill date">
                <img width="20px" [src]="getIcon('calendar')">
                <div class="description">{{ formatDateToLocale(criteria.fromDate, true, true) }} - {{ formatDateToLocale(criteria.toDate, true, true) }}</div>
            </div>
        </div>
    </div>

    <div id="content">
        <div id="criteria-panel">
            <criteria-panel [backgroundColor]="'var(--color-criteria-a)'" [feature]="feature" [header]="'criteria-customers'" [icon]="'customers'" [records]="distinctCustomers"></criteria-panel>
            <criteria-panel [backgroundColor]="'var(--color-criteria-b)'" [header]="'criteria-destinations'" [records]="distinctDestinations" [feature]="feature" [icon]="'destinations'"></criteria-panel>
            <criteria-panel [backgroundColor]="'var(--color-criteria-c)'" [header]="'criteria-ships'" [records]="distinctShips" [feature]="feature" [icon]="'ships'"></criteria-panel>
        </div>
        <div id="table-wrapper">
            <p-table #table [scrollable]="true" [value]="records" [virtualScrollItemSize]="33" [virtualScroll]="true" dataKey="customer.description" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ getLabel("headerCustomer") }}</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template let-rowData pTemplate="body">
                    <tr (dblclick)="showCustomerReservations(rowData)" style="height:33px">
                        <td>{{ rowData.customer.description }}</td>
                        <td style="min-width: 3.5rem; width: 3.5rem; text-align: center;" (click)="exportSingleCustomer(rowData.customer.id)" class="clickable">{{ getEmoji('printer') }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button mat-flat-button class="primary" (click)="exportAll()">{{ getLabel("exportAllButton") }}</button>
        </div>
    </div>
</div>