<div id="list">

    <div id="header">
        <div id="navigation">
            <mat-icon class="goBack" [routerLink]="['/manifest']">arrow_back</mat-icon>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records.passengers" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple" stateKey="manifest-list" stateStorage="local">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 30%; border-top-left-radius: 10px;" pSortableColumn="lastname">{{ onGetLabel('headerLastname') }}<p-sortIcon field="lastname"></p-sortIcon></th>
                    <th style="width: 25%;" pSortableColumn="firstname">{{ onGetLabel('headerFirstname') }}<p-sortIcon field="firstname"></p-sortIcon></th>
                    <th style="width: 15%;" pSortableColumn="nationalityDescription">{{ onGetLabel('headerNationality') }}<p-sortIcon field="nationalityDescription"></p-sortIcon></th>
                    <th style="width: 15%;" pSortableColumn="genderDescription">{{ onGetLabel('headerGender') }}<p-sortIcon field="genderDescription"></p-sortIcon></th>
                    <th style="width: 15%; border-top-right-radius: 10px;" pSortableColumn="birthdate">{{ onGetLabel('headerBirthdate') }}<p-sortIcon field="birthdate"></p-sortIcon></th>
                </tr>
                <tr>
                    <th><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'lastname', 'contains')" [value]="$any(table).filters['lastname']?.value"></th>
                    <th><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'firstname', 'contains')" [value]="$any(table).filters['firstname']?.value"></th>
                    <th>
                        <p-columnFilter field="nationalityDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="nationalities" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="genderDescription" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="genders" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.label }}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'birthdate', 'contains')" [value]="$any(table).filters['birthdate']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
                    <td style="width: 30%;">{{ rowData.lastname }}</td>
                    <td style="width: 25%;">{{ rowData.firstname }}</td>
                    <td style="width: 15%;">{{ rowData.nationalityDescription }}</td>
                    <td style="width: 15%;">{{ rowData.genderDescription }}</td>
                    <td style="width: 15%; text-align: center;">{{ onFormatDate(rowData.birthdate) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight id="buttons">
            <button mat-flat-button class="primary" id="exportToPDF" (click)="onCreatePdf()">{{ onGetLabel('exportToPdfButton') }}</button>
        </div>
    </div>

</div>