<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" [virtualRowHeight]="33" [virtualScroll]="false" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th data-cy="column" style="min-width: 60%; max-width: 60%;" pSortableColumn="userId">{{ getLabel("headerId") }}<p-sortIcon field="userId"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 20%; max-width: 20%;" pSortableColumn="createdDate">{{ getLabel("headerCreatedDate") }}<p-sortIcon field="createdDate"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 20%; max-width: 20%;" pSortableColumn="expiryDate">{{ getLabel("headerExpiryDate") }}<p-sortIcon field="expiryDate"></p-sortIcon></th>
                </tr>
                <tr>
                    <th style="min-width: 60%; max-width: 60%;"><input data-cy="filter-id" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'id', 'contains')" [value]="$any(table).filters['id']?.value"></th>
                    <th style="min-width: 20%; max-width: 20%;"><input data-cy="filter-createdDate" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'createdDate', 'contains')" [value]="$any(table).filters['createdDate']?.value"></th>
                    <th style="min-width: 20%; max-width: 20%;"><input data-cy="filter-expiryDate" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'expiryDate', 'contains')" [value]="$any(table).filters['expiryDate']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr data-cy="row" [pSelectableRow]="rowData">
                    <td style="min-width: 60%; max-width: 60%;">{{ rowData.userId }}</td>
                    <td style="min-width: 20%; max-width: 20%;">{{ rowData.createdDate }}</td>
                    <td style="min-width: 20%; max-width: 20%;">{{ rowData.expiryDate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button data-cy="close" mat-flat-button class="primary" id="close">{{ getLabel('okButton') }}</button>
        </div>
    </div>

</div>