* {
    --color-a: #4c4e62;
    --color-b: #3d3b57;
    --color-c: #ffffff;
    --color-d: #a2a5c5;
    --color-input-focus: #65b4ef;
    --color-input-error: #d94040;
    --color-input-selected-background: #65b3ef4d;
}