<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" [virtualRowHeight]="33" [virtualScroll]="false" dataKey="id" selectionMode="single" scrollHeight="flex" sortMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th data-cy="column" style="min-width: 12%; max-width: 12%; border-top-left-radius: 10px;" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}<p-sortIcon field="isActive"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 40%; max-width: 40%;" pSortableColumn="description">{{ getLabel("headerDescription") }}<p-sortIcon field="description"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 38%; max-width: 38%;" pSortableColumn="ownerDescription">{{ getLabel("headerOwnerDescription") }}<p-sortIcon field="ownerDescription"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 10%; max-width: 10%; border-top-right-radius: 10px;" pSortableColumn="imo">{{ getLabel("headerIMO") }}<p-sortIcon field="imo"></p-sortIcon></th>
                </tr>
                <tr>
                    <th style="min-width: 12%; max-width: 12%;"><p-columnFilter data-cy="filter-active" type="boolean" field="isActive"></p-columnFilter></th>
                    <th style="min-width: 40%; max-width: 40%;"><input data-cy="filter-description" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value"></th>
                    <th style="min-width: 38%; max-width: 38%;"><input data-cy="filter-ownerDescription" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'ownerDescription', 'contains')" [value]="$any(table).filters['ownerDescription']?.value"></th>
                    <th style="min-width: 10%; max-width: 10%;"><input data-cy="filter-imo" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'imo', 'contains')" [value]="$any(table).filters['imo']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr data-cy="row" [pSelectableRow]="rowData" (dblclick)="onEditRecord(rowData.id)">
                    <td style="min-width: 12%; max-width: 12%; justify-content: center;"><i class="pi" [ngClass]="{'icon-green pi-check': rowData.isActive, 'icon-red pi-times': !rowData.isActive}"></i></td>
                    <td style="min-width: 40%; max-width: 40%;">{{ rowData.description }}</td>
                    <td style="min-width: 38%; max-width: 38%;">{{ rowData.ownerDescription }}</td>
                    <td style="min-width: 10%; max-width: 10%; justify-content: center;">{{ rowData.imo }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="onNewRecord()">{{ getLabel("newButton") }}</button>
        </div>
    </div>

</div>