<div id="list">
    <div class="scrollable">
        <div class="record" *ngFor="let embarkation of filteredRecords.embarkation">
            <div class="reservation">
                <div class="field ticket">
                    <i class="fas fa-ticket-alt"></i>
                    <div class="field-value">{{ embarkation.ticketNo }}</div>
                </div>
                <div class="field driver">
                    <i class="fas fa-bus"></i>
                    <div class="field-value">{{ embarkation.driver }}</div>
                </div>
                <div class="field customer">
                    <i class="fas fa-user-alt"></i>
                    <div class="field-value">{{ embarkation.customer }}</div>
                </div>
                <div class="field total-persons">
                    <i class="fas fa-users"></i>
                    <div class="field-value">{{ embarkation.totalPersons }}</div>
                </div>
                <div class="field pending-persons" *ngIf="!personsAreNotMissing(embarkation)">
                    <i class="fas fa-exclamation-triangle"></i>
                    <div class="field-value">{{ embarkation.totalPersons - embarkation.passengers.length }}</div>
                </div>
                <div class="field spacer"> </div>
                <div class="field remarks" *ngIf="onCheckRemarksLength(embarkation.remarks)" matTooltip="{{ embarkation.remarks }}" matTooltipClass="tooltip-yellow">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
            </div>
            <div class="passengers">
                <div class="passenger" *ngFor="let passenger of embarkation.passengers">
                    <div class="field isCheckedIn">
                        <i class="far fa-check-circle" *ngIf="passenger.isCheckedIn"></i>
                        <i class="far fa-clock" *ngIf="!passenger.isCheckedIn"></i>
                    </div>
                    <div class="field lastname">
                        <div class="field-value">{{ passenger.lastname }}</div>
                    </div>
                    <div class="field firstname">
                        <div class="field-value">{{ passenger.firstname }}</div>
                    </div>
                    <div class="field board-passenger">
                        <button mat-icon-button class="transparent boarding" (click)="onDoEmbarkation(passenger.id)">
                            <i class="fas fa-arrow-circle-up" *ngIf="passenger.isCheckedIn"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="!passenger.isCheckedIn"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="action-buttons">
            <button mat-flat-button class="primary" (click)="onShowScanner()">{{ onGetLabel('scanOpenButton') }}</button>
        </div>
        <div class="totals">
            <i class="fas fa-users" matTooltipClass="tooltip-yellow" matTooltip="{{ onGetLabel('totalPersons') }}"></i>
            <div class="sum">{{ records.totalPersons }}</div>
            <i class="fas fa-exclamation-triangle" matTooltipClass="tooltip-yellow" matTooltip="{{ onGetLabel('missingNames') }}"></i>
            <div class="sum">{{ records.missingNames }}</div>
            <i class="far fa-check-circle" matTooltipClass="tooltip-yellow" matTooltip="{{ onGetLabel('boarded') }}"></i>
            <div class="sum"> {{ records.boarded }}</div>
            <i class="far fa-clock" matTooltipClass="tooltip-yellow" matTooltip="{{ onGetLabel('remaining') }}"></i>
            <div class="sum"> {{ records.remaining }} </div>
        </div>
        <div id="client-filter-buttons">
            <button mat-flat-button class="primary" (click)="onToggleClientFilters()" matTooltipClass="tooltip-yellow" matTooltip="{{ onGetLabel('filters') }}">
                <img src="/assets/images/embarkation/filter.svg" width="20px">
            </button>
        </div>
    </div>
    <div id="video">
        <zxing-scanner [enable]="scannerEnabled" (camerasFound)="onCamerasFound($event)" #scanner (scanSuccess)="onScanSuccess($event)"></zxing-scanner>
        <button mat-flat-button class="secondary" id="scanCloseButton" (click)="onHideScanner()">{{ onGetLabel('scanCloseButton') }}</button>
    </div>
</div>