#wrapper {
    background: url("../../../assets/images/background/background.svg") no-repeat center;
    background-color: var(--color-common-background-secondary);
    background-size: cover;
    display: flex;
    height: calc(100% - 6px);
    justify-content: center;
    width: 100%;
}