#wrapper {
    background: url("../../../assets/images/background/background.svg") no-repeat center;
    background-color: var(--color-background-secondary);
    background-size: cover;
    border-radius: 20px 0 0 20px;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}