<div id="form-wrapper">

    <div id="header">
        <div id="navigation">
            <mat-icon class="goBack" [routerLink]="['/shipCrews']">arrow_back</mat-icon>
        </div>
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="content">
        <form data-cy="form" [formGroup]='form' autocomplete='off'>
            <div id="group-field">
                <mat-form-field>
                    <input data-cy="lastname" type="text" matInput [placeholder]="onGetLabel('lastname')" formControlName="lastname" data-tabindex="1" id="lastname" [inputTabStop]="input">
                    <mat-error *ngIf="lastname.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="lastname.hasError('maxlength')">{{ onGetHint('maxLength', lastname.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input data-cy="firstname" type="text" matInput [placeholder]="onGetLabel('firstname')" formControlName="firstname" data-tabindex="2" id="firstname" [inputTabStop]="input">
                    <mat-error *ngIf="firstname.hasError('maxlength')">{{ onGetHint('maxLength', firstname.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
            </div>
            <div id="group-field">
                <mat-form-field>
                    <input type="text" matInput [placeholder]="onGetLabel('birthdate')" formControlName="birthdate" data-tabindex="3" id="birthdate" autocomplete="off" [inputTabStop]="input" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="birthdate.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-hint>{{ onGetLabel('searchHint') }}</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ onGetLabel("vessel") }}</mat-label>
                    <input matInput formControlName="ship" [matAutocomplete]="ships" data-tabindex="4" [inputTabStop]="input">
                    <mat-error *ngIf="ship.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="!ship.hasError('required') && ship.hasError('incorrect')">{{ onGetHint('invalid') }}</mat-error>
                    <mat-hint>{{ onGetLabel('searchAutocompleteHint') }}</mat-hint>
                </mat-form-field>
            </div>
            <div id="group-field">
                <mat-form-field>
                    <mat-label>{{ onGetLabel("nationality") }}</mat-label>
                    <input matInput formControlName="nationality" [matAutocomplete]="nationalities" data-tabindex="5" [inputTabStop]="input">
                    <mat-error *ngIf="nationality.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="!nationality.hasError('required') && nationality.hasError('incorrect')">{{ onGetHint('invalid') }}</mat-error>
                    <mat-hint>{{ onGetLabel('searchAutocompleteHint') }}</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ onGetLabel("gender") }}</mat-label>
                    <input matInput formControlName="gender" [matAutocomplete]="genders" data-tabindex="6" [inputTabStop]="input">
                    <mat-error *ngIf="gender.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-error *ngIf="!gender.hasError('required') && gender.hasError('incorrect')">{{ onGetHint('invalid') }}</mat-error>
                    <mat-hint>{{ onGetLabel('searchAutocompleteHint') }}</mat-hint>
                </mat-form-field>
            </div>
            <mat-slide-toggle data-cy="isActive" formControlName="isActive">{{ onGetLabel('isActive') }}</mat-slide-toggle>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div @slideFromRight id="buttons">
            <button data-cy="delete" mat-flat-button class="delete" *ngIf="form.value.id !== 0" id="delete" (click)="onDelete()">{{ onGetLabel('deleteButton') }}</button>
            <button data-cy="save" mat-flat-button class="primary" [disabled]="!form.valid" id="save" (click)="onDoPreSaveTasks()">{{ onGetLabel('saveButton') }}</button>
        </div>
    </div>

</div>

<mat-autocomplete autoActiveFirstOption #ships="matAutocomplete" [displayWith]="shipFields">
    <mat-option *ngFor="let option of shipArray | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #nationalities="matAutocomplete" [displayWith]="nationalityFields">
    <mat-option *ngFor="let option of nationalityArray | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete autoActiveFirstOption #genders="matAutocomplete" [displayWith]="genderFields">
    <mat-option *ngFor="let option of genderArray | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>