<div id="list">

    <div id="header">
        <div @slideFromLeft id="title">
            <h1>{{ onGetLabel('header') }}</h1>
        </div>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="filteredRecords" scrollHeight="flex" selectionMode="single" stateKey="crew-list" stateStorage="local">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50%; border-top-left-radius: 10px;">{{ onGetLabel('headerLastname') }}</th>
                    <th style="width: 30%;">{{ onGetLabel('headerFirstname') }}</th>
                    <th style="width: 20%; border-top-right-radius: 10px;">{{ onGetLabel('headerBirthdate') }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr *ngIf="rowGroupMetadata[rowData.shipDescription].index === rowIndex">
                    <td style="width: 50%;" class="rowGroup">{{ rowData.shipDescription }}</td>
                    <td style="width: 30%;"></td>
                    <td style="width: 20%;"></td>
                </tr>
                <tr [pSelectableRow]="rowData" (dblclick)="onEditRecord(rowData.id)">
                    <td style="width: 50%;">{{ rowData.lastname }}</td>
                    <td style="width: 30%;">{{ rowData.firstname }}</td>
                    <td style="width: 20%; text-align: center;"> {{ onFormatDate(rowData.birthdate) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight id="buttons">
            <button mat-flat-button class="primary" id="new" [routerLink]="newUrl">{{ onGetLabel('newButton') }}</button>
        </div>
    </div>

</div>