:host {
    align-items: center;
    display: flex;
}

#theme-menu {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

#switch-button {
    display: none;
    padding: 5px;
}

label {
    border-radius: 30px;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: flex;
    padding: 5px;
}

.fa-sun {
    color: #ffffff;
    font-size: 25px;
    transition: .3s;
}

.fa-moon {
    color: #ffffff;
    font-size: 25px;
    opacity: 0;
    transition: .3s;
}

#switch-button:checked~label>.fa-sun {
    opacity: 0;
}

#switch-button:checked~label>.fa-moon {
    opacity: 1;
}