:host {
    align-items: center;
    display: flex;
}

#toggle {
    background-image: linear-gradient(aqua, skyblue);
    border-radius: 50px;
    cursor: pointer;
    height: 30px;
    position: relative;
    width: 60px;
}

#toggle-checkbox {
    display: none;
}

#toggle.night {
    background-image: linear-gradient(midnightblue, rebeccapurple);
}

.night .shape {
    background: lightgray;
    box-shadow: 0 0 10px 2px violet;
}

.night .shape.lg {
    height: 7px;
    width: 7px;
    transform: translate(-1px, 0);
}

.night .shape.md {
    height: 5px;
    width: 5px;
    transform: translate(10px, 0);
}

.night .shape.sm {
    height: 2px;
    width: 2px;
    transform: translate(-23px, 0);
}

.night .shape.sm:first-of-type {
    transform: translate(-28px, 7px);
}

.night>.notch {
    background: whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
    transform: translate(30px, 0);
}

.night>.notch::before {
    background-image: linear-gradient(midnightblue, rebeccapurple);
    border-radius: 50%;
    content: "";
    height: 21px;
    left: -8px;
    position: absolute;
    top: -2px;
    width: 21px;
    transition: 0.3s ease background-color;
}

.notch {
    background: yellow;
    border-radius: 50%;
    box-shadow: 0 0 5px yellow;
    height: 26px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 26px;
    z-index: 1;
    transition: all 0.3s ease;
}

.shape {
    background: whitesmoke;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease;
}

.shape.lg {
    bottom: 20%;
    height: 6px;
    left: 25%;
    width: 36px;
}

.shape.md {
    height: 6px;
    left: 25%;
    top: 25%;
    width: 30px;
    z-index: 2;
}

.shape.sm {
    height: 3px;
    left: 60%;
    top: 46%;
    width: 20px;
}