<div id="theme-menu">
    <ul>
        <li><button mat-menu-item><img src="/assets/images/themes/{{ onGetTheme() }}.svg" width="25px">{{ onGetLabel(defaultTheme) }}<img class="dropdown-arrow" src="/assets/images/navigation/dropdown-arrow.svg"></button>
            <ul class="sub-menu" (click)="onHideMenu()">
                <button mat-menu-item (click)="onChangeTheme('light')"><img src="/assets/images/themes/light.svg">{{ onGetLabel('light') }}</button>
                <button mat-menu-item (click)="onChangeTheme('dark')"><img src="/assets/images/themes/dark.svg">{{ onGetLabel('dark') }}</button>
            </ul>
        </li>
    </ul>
</div>