#header #search-box {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: auto;
    width: 12rem;
}

#header #search-box button {
    width: 100% !important;
}

#header #search-box #form {
    align-items: center;
    display: flex;
    gap: 1rem;
}

#header #search-box .mat-form-field {
    width: 12rem !important;
}

#content {
    display: flex;
    flex: 1;
    height: 100%;
    margin: 0rem;
    overflow: hidden;
}

#searchBox {
    align-items: center;
    background-color: var(--color-search-box);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 3rem;
    top: 94px;
    transition: background-color var(--change-theme-delay) ease;
}