h1 {
    color: var(--color-headers) !important;
    font-family: var(--font-family-master) !important;
    font-size: var(--font-size-header) !important;
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-header) !important;
    margin: 0 !important;
    padding: 0 !important;
}

h2, h3 {
    color: var(--color-headers) !important;
    font-family: var(--font-family-master) !important;
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-header) !important;
    margin: 0 !important;
    padding: 0 !important;
}