#list {
    background-color: var(--color-common-background);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10rem;
    overflow: hidden;
    padding: 0 1rem 1rem 1rem;
    transition: background-color var(--change-theme-delay) ease;
}

#header {
    align-items: center;
    display: flex;
    margin: 0.5rem 1rem 0.8125rem 1rem;
}

#header #navigation {
    margin-left: 0;
}

#header #navigation .mat-icon {
    color: var(--color-button-text) !important;
}

#header #title {
    align-items: baseline;
    display: flex;
    margin: 0 1rem 0 0;
}

#header #search-box {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: auto;
    width: 12rem;
}

#header #search-box button {
    width: 100% !important;
}

.content, #content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
}

.content.scrollable::-webkit-scrollbar-thumb, #content.scrollable::-webkit-scrollbar-thumb {
    border-top: 2.5625rem solid var(--color-common-background) !important;
}

#footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 4rem 0 0;
}

#footer #buttons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
}

#searchBox {
    align-items: center;
    background-color: var(--color-search-box);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 3rem;
    top: 94px;
    transition: background-color var(--change-theme-delay) ease;
}

#searchBox #search-icon {
    color: var(--color-button-text);
    margin: 5px;
}

#searchBox.open {
    height: auto;
    padding: 1rem;
    width: 300px;
}

#searchBox.open #criteria {
    display: flex;
    width: 100%;
}

#searchBox #criteria {
    display: flex;
    display: none;
    flex-direction: column;
}

#searchBox #criteria #closeSearchBox {
    margin-top: 3rem;
}