table {
    border-spacing: 0;
    flex: 1;
    transition: background-color 0.7s;
}

th {
    background-color: var(--color-table-header) !important;
    border-right: 1px solid var(--color-table-column-seperator) !important;
    border-width: 0 1px 0 0 !important;
    color: var(--color-text-primary) !important;
    font-family: var(--font-family-table) !important;
    font-size: var(--font-size-table-header) !important;
    font-weight: var(--font-weight-table-header) !important;
    padding: 0.5rem !important;
    text-align: center !important;
    transition: background-color 0.7s !important;
}

tr {
    background-color: var(--color-common-background-secondary) !important;
    border: none !important;
    outline-color: var(--color-common-background-secondary) !important;
}

tr:focus-visible {
    outline: none !important;
    background-color: var(--color-table-row-highlight) !important;
}

td {
    border: none !important;
    color: var(--color-text-primary) !important;
    font-family: var(--font-family-table) !important;
    font-size: var(--font-size-table-row) !important;
    max-width: 0;
    overflow: hidden !important;
    padding: 0.5rem !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

tr.p-highlight {
    background-color: var(--color-table-row-highlight) !important;
}

.pi-sort-amount-up-alt, .pi-sort-amount-down {
    color: var(--color-table-sort-icon) !important;
}

.p-sortable-column:focus {
    box-shadow: none !important;
    outline: none;
}