.p-datatable table {
    border-spacing: 0;
    flex: 1;
    width: inherit !important;
}

.p-datatable .p-datatable-thead > tr > th {
    background-color: var(--color-table-header) !important;
    border-right: 1px solid var(--color-table-column-seperator) !important;
    border-width: 0 1px 0 0 !important;
    color: var(--color-text-primary) !important;
    font-family: var(--font-family-table-header) !important;
    font-size: var(--font-size-table-header) !important;
    font-weight: var(--font-weight-table-header) !important;
    padding: 5px !important;
    text-align: center !important;
    transition: background-color var(--change-theme-delay) ease, color var(--change-theme-delay) ease;
}

.p-datatable .p-datatable-tbody > tr {
    background-color: var(--color-common-background) !important;
    border: none !important;
    outline-color: var(--color-common-background) !important;
    transition: background-color var(--change-theme-delay) ease;
}

.p-datatable .p-datatable-tbody > tr:focus-visible {
    outline: none !important;
    background-color: var(--color-table-row-highlight) !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    border: none !important;
    color: var(--color-text-primary) !important;
    font-family: var(--font-family-table-header) !important;
    font-size: var(--font-size-table-row) !important;
    overflow: hidden !important;
    padding: 0.5rem !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    transition: color var(--change-theme-delay) ease;
}

.p-datatable .p-datatable-tbody > tr.p-highlight > td {
    background-color: var(--color-table-row-highlight) !important;
}

.pi-sort-amount-up-alt, .pi-sort-amount-down {
    color: var(--color-table-sort-icon) !important;
}

.p-sortable-column:focus {
    box-shadow: none !important;
    outline: none;
}