.p-menuitem-link {
    border-radius: 5px !important;
    padding: 9px 15px !important;
}

.p-menuitem-link:focus {
    box-shadow: none;
}

.p-menuitem-link:focus, .p-panelmenu-header > a {
    box-shadow: none !important;
}

.p-panelmenu .p-menuitem-text {
    color: var(--color-text-primary) !important;
    font-size: var(--font-size-menu-items) !important;
    transition: color var(--change-component-delay) ease;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
    color: var(--color-menu-sub-items) !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover > span {
    color: var(--color-menu-text-hover) !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
    background-color: var(--color-menu-background-hover) !important;
}

.p-panelmenu .p-panelmenu-header > a {
    font-weight: 400;
    padding: 10px;
}

.p-panelmenu .p-panelmenu-header > a, .p-panelmenu .p-panelmenu-panel .p-panelmenu-content {
    border: none !important;
}

.p-panelmenu .p-panelmenu-panel .p-panelmenu-content {
    background-color: transparent;
}

.p-panelmenu .p-panelmenu-panel .p-panelmenu-header > a {
    background-color: transparent;
    border-radius: 5px !important;
}

.p-panelmenu .p-panelmenu-panel .p-panelmenu-header > a:hover {
    background-color: var(--color-menu-background-hover) !important;
}

.p-panelmenu .p-panelmenu-panel:last-child {
    margin-top: auto;
}

.p-panelmenu {
    flex-direction: column !important;
    height: 100% !important;
    overflow-y: scroll;
    padding-right: 7px;
}

.p-panelmenu-content {
    padding: 0% !important;
}

.p-panelmenu-header, .p-menuitem-link {
    font-family: var(--font-family-master);
}

.pi {
    color: var(--color-button-primary) !important;
}

.vertical-menu {
    height: 100%;
    overflow-y: scroll;
}

.p-panelmenu .p-panelmenu-header > a .p-menuitem-icon {
    color: var(--color-button-primary);
}

.p-panelmenu .p-submenu-list {
    background-color: var(--color-menu-sub-items-background) !important;
    border-radius: 5px;
    margin: 2px 0 2px 1rem !important;
}