.mat-select-panel {
    background-color: var(--color-common-background-secondary) !important;
    border: 0.0625rem solid var(--color-common-background-primary) !important;
}

.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background-color: var(--color-button-primary) !important;
}

.mat-option-text:hover {
    color: var(--color-button-text) !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--color-text-primary) !important;
}

.mat-select-panel::-webkit-scrollbar {
    width: 0.4rem;
}

.mat-select-panel::-webkit-scrollbar-track {
    background-color: var(--color-common-background-secondary);
    margin-top: 0.0625rem;
}

.mat-select-panel::-webkit-scrollbar-thumb {
    background-color: var(--color-button-secondary);
    border-radius: 0;
    min-height: 6.25rem;
}

.mat-option {
    font-family: var(--font-family-master) !important;
    height: 2em !important;
}

.mat-select-trigger {
    height: auto !important;
}

.mat-option-text {
    color: var(--color-text-primary) !important;
    font-size: var(--font-size-input) !important;
}

.mat-form-field-type-mat-select {
    margin-bottom: 0 !important;
}

.mat-form-field-type .mat-select .mat-form-field-flex .mat-form-field-infix {
    padding-bottom: 0.625rem !important;
}

.mat-form-field .mat-select-value {
    font-size: var(--font-size-input) !important;
    padding-top: 0 !important;
}

.mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-select .mat-select-trigger .mat-select-value {
    color: var(--color-text-primary) !important;
}

.mat-form-field.mat-focused .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-select .mat-select-trigger .mat-select-value {
    color: var(--color-text-secondary) !important;
}

.mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
    color: var(--color-text-primary) !important;
    font-family: var(--font-family-master);
}

.mat-form-field.mat-focused .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
    color: var(--color-text-secondary) !important;
}

.mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
    color: var(--color-text-primary) !important;
}

.mat-form-field.mat-focused .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
    color: var(--color-text-secondary) !important;
}