@media only screen and (max-width: 1440px) {
    * {
        /* Font sizes */
        --font-size-autocomplete-line-height: 90%;
        --font-size-autocomplete: 90%;
        --font-size-button: 100%;
        --font-size-calendar-date: 100%;
        --font-size-calendar-legend-items: 100%;
        --font-size-checkbox: 100%;
        --font-size-datepicker-days: 0.9vw;
        --font-size-datepicker-header-month: 2.2vw;
        --font-size-dialog: 110%;
        --font-size-header: 180%;
        --font-size-input-height: 100%;
        --font-size-input-hint: 90%;
        --font-size-input: 85%;
        --font-size-label: 100%;
        --font-size-loading-message: 1.4375rem;
        --font-size-logo-loader-first-child: 6rem;
        --font-size-logo-loader-second-child: 3rem;
        --font-size-logo: 200%;
        --font-size-menu-items: 90%;
        --font-size-panel-buttons: 100%;
        --font-size-paragraph: 0.7rem;
        --font-size-snackbar: 120%;
        --font-size-sum-persons: 110%;
        --font-size-summary-block-item: 80%;
        --font-size-tab-label: 100%;
        --font-size-table-header: 100%;
        --font-size-table-row: 80%;
    }
}