@media only screen and (min-width: 1441px) {
    * {
        --content-padding-bottom: 2rem;
        --content-padding-left: 237px;
        --content-padding-right: 2rem;
        --font-size-autocomplete: 90%;
        --font-size-button: 110%;
        --font-size-calendar-date: 100%;
        --font-size-calendar-legend-items: 100%;
        --font-size-checkbox: 100%;
        --font-size-datepicker-days: 0.9vw;
        --font-size-datepicker-header-month: 2.2vw;
        --font-size-dialog: 110%;
        --font-size-embarkation-footer: 100%;
        --font-size-header: 250%;
        --font-size-input-height: 100%;
        --font-size-input-hint: 90%;
        --font-size-input: 85%;
        --font-size-label: 105%;
        --font-size-loading-message: 1rem;
        --font-size-logo-loader-first-child: 4rem;
        --font-size-logo-loader-second-child: 2.5rem;
        --font-size-logo: 220%;
        --font-size-panel-buttons: 100%;
        --font-size-paragraph: 0.7rem;
        --font-size-radio-button: 90%;
        --font-size-snackbar: 120%;
        --font-size-sum-persons: 110%;
        --font-size-summary-block-item: 80%;
        --font-size-tab-label: 130%;
        --font-size-table-header: 110%;
        --font-size-table-row: 100%;
        --form-field-margin: 10px;
        --header-line-height: 26px;
        --side-bar-width: 200px;
        --top-bar-height: 70px;
    }
}