@media only screen and (max-width: 1440px) {
    * {
        --content-padding-bottom: 1rem;
        --content-padding-left: 12rem;
        --content-padding-right: 1rem;
        --font-size-button: 100%;
        --font-size-header: 180%;
        --font-size-input-hint: 80%;
        --font-size-label: 100%;
        --font-size-logo: 200%;
        --font-size-table-header: 100%;
        --font-size-table-row: 80%;
        --header-bottom-margin: 9px;
        --header-line-height: 20px;
        --side-bar-margin-left: 1rem;
        --side-bar-width: 10rem;
        --top-bar-height: 67px;
        --top-bar-top-padding: 1rem;
    }
}