* {
    /* Font names */
    --font-family-logo: "Aka-Acid-CanterBold";
    --font-family-master: "PF Handbook Pro";
    --font-family-menu: "Noto Sans";
    --font-family-table-header: "PF Handbook Pro";
    /* Font weights */
    --font-weight-button: 100 !important;
    --font-weight-checkbox: 400 !important;
    --font-weight-dialog-content: 300 !important;
    --font-weight-header: 300 !important;
    --font-weight-input-label: 300 !important;
    --font-weight-mat-hint: 300;
    --font-weight-snackbar: 300;
    --font-weight-sum-persons: 300;
    --font-weight-summary-header: 300;
    --font-weight-table-header: 300 !important;
    --font-weight-tooltip: 700;
}