* {
    /* Font names */
    --font-family-button: "Open Sans Condensed";
    --font-family-calendar-date: "Fira Mono";
    --font-family-checkbox: "Open Sans Condensed";
    --font-family-copyright: "Yanone Kaffeesatz";
    --font-family-datepicker: "Open Sans Condensed";
    --font-family-dialog-content: "Open Sans Condensed";
    --font-family-dialog-header: "Open Sans Condensed";
    --font-family-header: "Open Sans Condensed";
    --font-family-label: "Open Sans Condensed";
    --font-family-leaflet-tooltip: "Open Sans Condensed";
    --font-family-logo: "Yanone Kaffeesatz";
    --font-family-menu-list-item: "Open Sans Condensed";
    --font-family-overview-percent: "Yanone Kaffeesatz";
    --font-family-paragraph: "Open Sans Condensed";
    --font-family-select: "Open Sans Condensed";
    --font-family-snackbar: "Open Sans Condensed";
    --font-family-summary-block: "Open Sans Condensed";
    --font-family-summary-header: "Open Sans Condensed";
    --font-family-table-body: "Open Sans Condensed";
    --font-family-table-header: "Open Sans Condensed";
    --font-family-totals: "Open Sans Condensed";
    /* Font weights */
    --font-weight-button: 100 !important;
    --font-weight-checkbox: 400 !important;
    --font-weight-dialog-content: 300 !important;
    --font-weight-header: 300 !important;
    --font-weight-label: 300 !important;
    --font-weight-menu-active-item: 300;
    --font-weight-menu-list-item: 300;
    --font-weight-snackbar: 300;
    --font-weight-sum-persons: 300;
    --font-weight-summary-header: 300;
    --font-weight-table-header: 300 !important;
    --font-weight-table-row-hover: 900 !important;
    --font-weight-user-greeting: 300;
    /* Screen sizes */
    --narrow-screen: 800px;
    --wide-screen: 801px;
}