#month-picker {
    position: relative;
}

#month-opener {
    display: none;
}

#button {
    align-items: center;
    background-color: var(--color-button-background-primary);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 40px;
    z-index: 10;
    transition: all 0.3s ease;
}

#button:hover {
    background-color: var(--color-button-background-primary-hover);
}

.month {
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    font-family: "Montserrat";
    height: 38px;
    justify-content: center;
    left: 0;
    position: absolute;
    transition: all 0.4s ease;
    width: 38px;
}

.month:hover {
    cursor: pointer;
}