#weekdays {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.active-item {
    border: 0 !important;
    border-bottom: 5px solid var(--color-border-item-active) !important;
}

.selectable {
    border: 0;
    border-bottom: 5px solid var(--color-border-item-inactive);
    color: var(--color-text-primary);
    display: flex;
    font-family: var(--font-family-master);
    font-size: var(--font-size-summary-block-item);
    justify-content: space-between;
    line-height: 1.8rem;
    padding: 0.125rem 0.5rem 0.125rem 0.5rem;
}

.selectable:hover {
    color: var(--color-text-secondary);
    cursor: pointer;
}