#weekdays {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.selectable-day {
    border-bottom: 5px solid var(--color-x);
    color: var(--color-text);
    display: flex;
    font-family: var(--font-family-handbook);
    font-size: var(--font-size-summary-block-item);
    justify-content: space-between;
    line-height: 1.8rem;
    padding: 0.125rem 0.5rem 0.125rem 0.5rem;
}

.selectable-day:hover {
    border-bottom: 5px solid var(--color-a);
    cursor: pointer;
}

.active-selectable-day {
    border-bottom: 5px solid var(--color-a) !important;
}
