<div id="list">

    <div id="left-panel">
        <div id="header">
            <div id="navigation">
                <button data-cy="goBack" class="goBack" id="goBack" [routerLink]="['/']" mat-mini-fab>
                    <mat-icon>home</mat-icon>
                </button>
            </div>
            <div @slideFromLeft id="title">
                <h1>{{ onGetLabel('header')}}</h1>
            </div>
        </div>
        <div id="search-box">
            <form id="form" [formGroup]="form" autocomplete="off">
                <mat-form-field>
                    <input type="text" matInput id="date" [matDatepicker]="picker" [placeholder]="onGetLabel('date')" formControlName="date" [inputFormat]="'date'" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="date.hasError('required')">{{ onGetHint('required') }}</mat-error>
                    <mat-hint>{{ onGetLabel('searchDateHint') }}</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ onGetLabel("destination") }}</mat-label>
                    <mat-select [(value)]="destinationId">
                        <mat-option *ngFor="let destination of destinations" [value]="destination.id">
                            {{ destination.description }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>{{ onGetLabel('searchDropdownHint') }}</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ onGetLabel("port") }}</mat-label>
                    <mat-select [(value)]="portId">
                        <mat-option *ngFor="let port of ports" [value]="port.id">
                            {{ port.description }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>{{ onGetLabel('searchDropdownHint') }}</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ onGetLabel("ship") }}</mat-label>
                    <mat-select [(value)]="shipId">
                        <mat-option *ngFor="let ship of ships" [value]="ship.id">
                            {{ ship.description }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>{{ onGetLabel('searchDropdownHint') }}</mat-hint>
                </mat-form-field>
            </form>
            <button mat-flat-button id="search" class="primary" (click)="onLoadBoardings()">{{ onGetLabel("searchButton") }}</button>
        </div>
    </div>

    <div id="right-panel">
        <router-outlet></router-outlet>
    </div>

</div>