#header {
    align-items: flex-start;
}

#header #navigation {
    margin: 0.4375rem 0 0 0;
}

#header #title {
    margin-top: 0.0625px;
}

#criteria {
    margin-left: auto;
    width: 18rem;
}

#criteria #form {
    margin: 1.5rem
}

#criteria .mat-expansion-panel-body {
    padding: 1rem 2rem 2rem !important;
}

#loadBoardings {
    margin: 1rem 0 0 0 !important
}

#results {
    overflow-y: auto;
}