#list {
    flex-direction: row;
    gap: 2rem;
}

#left-panel {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 300px;
}

#left-panel #search-box {
    background-color: var(--color-background-summary) !important;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 2rem;
    transition: background-color 0.7s;
}

#left-panel #search-box button#search {
    margin: auto 0 0 0 !important;
}

#right-panel {
    width: 100%;
}

.mat-form-field {
    margin-bottom: 1rem !important;
}

#header {
    margin: 0 1rem 3rem 1rem;
}