#headerButtons {
    margin-left: auto;
}

#footer {
    justify-content: space-between;
    margin: var(--gap) var(--footer-right-margin) var(--gap) var(--gap);
}

#qr-code {
    height: 100px;
    position: absolute;
    width: 100px;
    z-index: -1;
}

#passenger-check-total-icon {
    align-items: center;
    display: flex;
    margin-bottom: 4px;
    margin-left: 5px;
}