:host > .content {
    margin: 0 auto;
    display: flex;
    background: none;
}

:host ::ng-deep .mat-tab-group.vertical {
    flex-direction: row;
}

:host ::ng-deep .mat-tab-group.horizontal {
    flex-direction: column;
}

:host ::ng-deep .mat-tab-header {
    border-bottom: none;
}

:host ::ng-deep .mat-tab-header-pagination {
    display: none !important;
}

:host ::ng-deep .vertical .mat-tab-labels {
    flex-direction: column;
}

:host ::ng-deep .vertical .mat-tab-label {
    margin: 1rem 0 0 0;
}

:host ::ng-deep .vertical .mat-tab-label:nth-child(1) {
    background-color: var(--color-tab-overview);
}

:host ::ng-deep .vertical .mat-tab-label:nth-child(2) {
    background-color: var(--color-tab-passengers);
}

:host ::ng-deep .vertical .mat-tab-label:nth-child(3) {
    background-color: var(--color-tab-more);
}

:host ::ng-deep .mat-tab-label .mat-tab-label-content {
    color: var(--color-text) !important;
    font-weight: bold !important;
}

:host ::ng-deep .mat-ink-bar {
    height: 100%;
    left: -100% !important;
}

:host ::ng-deep .mat-tab-body-wrapper {
    flex: 1 1 auto;
}

#content::before, #main-content::before, #content::after, #main-content::after {
    content: "";
    display: table;
}

#content::after, #main-content::after {
    clear: both;
}

#form {
    height: 100%;
    padding: 0 1rem;
}

#qr-code {
    left: -10rem;
    position: absolute;
}

#remarks {
    margin-top: auto;
}

#passenger-check-total-icon {
    align-items: center;
    display: flex;
    font-size: 1.5625rem;
    margin-bottom: 0.3125rem;
}

#footer {
    justify-content: space-between;
    margin: var(--gap) var(--footer-right-margin) var(--gap) var(--footer-left-margin);
}
