<div id="form-wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <mat-tab-group class="vertical">
            <form id="form" [formGroup]="form" autocomplete="off">
                <mat-tab label="{{ getLabel('tabGeneral') }}">
                    <ng-template matTabContent>
                        <form id="form" [formGroup]="form" autocomplete="off">
                            <div class="group-field">
                                <mat-form-field style="width: 30% !important;">
                                    <mat-label>{{ getLabel('refNo') }}</mat-label>
                                    <input matInput formControlName="refNo" readonly>
                                </mat-form-field> 
                                <mat-form-field>
                                    <input type="text" [inputTabStop]="input" [matDatepicker]="picker" [placeholder]="getLabel('date')" data-cy="date" data-tabindex="1" formControlName="date" id="date" matInput>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="date.hasError('required')">{{ getHint("required") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="destinations" [placeholder]="getLabel('destination')" data-cy="destination-description" data-tabindex="2" formControlName="destination" matInput>
                                    <mat-error *ngIf="destination.hasError('required')">{{ getHint("required") }}</mat-error>
                                    <mat-error *ngIf="!destination.hasError('required') && destination.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="customers" [placeholder]="getLabel('customer')" data-cy="customer-description" data-tabindex="3" formControlName="customer" matInput>
                                    <mat-error *ngIf="customer.hasError('required')">{{ getHint("required") }}</mat-error>
                                    <mat-error *ngIf="!customer.hasError('required') && customer.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="group-field">
                                <mat-form-field>
                                    <input (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="pickupPoints" [placeholder]="getLabel('pickupPoint')" data-cy="pickupPoint-description" data-tabindex="4" formControlName="pickupPoint" matInput>
                                    <mat-error *ngIf="pickupPoint.hasError('required')">{{ getHint("required") }}</mat-error>
                                    <mat-error *ngIf="!pickupPoint.hasError('required') && pickupPoint.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field style="width: 30% !important;">
                                    <mat-label>{{ getLabel('exactPoint') }}</mat-label>
                                    <input matInput formControlName="exactPoint" readonly>
                                </mat-form-field>
                                <mat-form-field style="width: 20% !important;">
                                    <mat-label>{{ getLabel('time') }}</mat-label>
                                    <input matInput formControlName="time" readonly>
                                </mat-form-field>
                            </div>
                            <div class="group-field">
                                <mat-form-field>
                                    <input (keyup)="doBarcodeTasks()" [inputTabStop]="input" [placeholder]="getLabel('ticketNo')" data-cy="ticketNo" data-tabindex="5" formControlName="ticketNo" matInput type="text">
                                    <mat-error *ngIf="ticketNo.hasError('required')">{{ getHint("required") }}</mat-error>
                                    <mat-error *ngIf="ticketNo.hasError('maxlength')">{{ getHint("maxLength", ticketNo.errors.maxlength.requiredLength) }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input (keyup)="doPersonsCalculations()" [inputTabStop]="input" [placeholder]="getLabel('adults')" class="number" data-cy="adults" data-tabindex="6" formControlName="adults" matInput type="number">
                                    <mat-error *ngIf="adults.hasError('required')">{{ getHint("required") }}</mat-error>
                                    <mat-error *ngIf="!adults.hasError('required') && adults.hasError('min') || adults.hasError('max')">{{ getHint("invalid") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input (keyup)="doPersonsCalculations()" [inputTabStop]="input" [placeholder]="getLabel('kids')" class="number" data-cy="kids" data-tabindex="7" formControlName="kids" matInput type="number">
                                    <mat-error *ngIf="kids.hasError('required')">{{ getHint("required") }}</mat-error>
                                    <mat-error *ngIf="!kids.hasError('required') && kids.hasError('min') || kids.hasError('max')">{{ getHint("invalid") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input (keyup)="doPersonsCalculations()" [inputTabStop]="input" [placeholder]="getLabel('free')" class="number" data-cy="free" data-tabindex="8" formControlName="free" matInput type="number">
                                    <mat-error *ngIf="free.hasError('required')">{{ getHint("required") }}</mat-error>
                                    <mat-error *ngIf="!free.hasError('required') && free.hasError('min') || free.hasError('max')">{{ getHint("invalid") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input [placeholder]="getLabel('totalPersons')" data-cy="totalPersons" formControlName="totalPersons" matInput readonly type="number">
                                    <span id="passenger-check-total-icon">{{ passengerDifferenceIcon }}</span>
                                </mat-form-field>
                            </div>
                            <div class="group-field">
                                <mat-form-field>
                                    <input [inputTabStop]="input" [placeholder]="getLabel('email')" data-cy="email" data-tabindex="9" formControlName="email" matInput type="email">
                                    <mat-error *ngIf="email.hasError('maxlength')">{{ getHint("maxLength", email.errors.maxlength.requiredLength) }}</mat-error>
                                    <mat-error *ngIf="!email.hasError('maxlength') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input [inputTabStop]="input" [placeholder]="getLabel('phones')" data-cy="phones" data-tabindex="10" formControlName="phones" matInput type="text">
                                    <mat-error *ngIf="phones.hasError('maxlength')">{{ getHint("maxLength", phones.errors.maxlength.requiredLength) }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="group-field" id="remarks">
                                <mat-form-field>
                                    <input [inputTabStop]="input" [placeholder]="getLabel('remarks')" data-cy="phones" data-tabindex="11" formControlName="remarks" matInput type="text">
                                    <mat-error *ngIf="remarks.hasError('maxlength')">{{ getHint("maxLength", remarks.errors.maxlength.requiredLength) }}</mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
                    </ng-template>
                </mat-tab>
                <mat-tab label="{{ getLabel('tabPassengers') }}">
                    <ng-template matTabContent>
                        <passenger-list [passengers]="form.value.passengers" [isAdmin]="isAdmin" [reservationId]="form.value.reservationId" (outputPassengerCount)="checkTotalPersonsAgainstPassengerCount($event)" (outputPassengers)="patchFormWithPassengers($event)"></passenger-list>
                    </ng-template>
                </mat-tab>
                <mat-tab label="{{ getLabel('tabMoreInfo') }}">
                    <ng-template matTabContent>
                        <div id="more">
                            <mat-form-field>
                                <mat-label>{{ getLabel("driver") }}</mat-label>
                                <input [matAutocomplete]="drivers" formControlName="driver" matInput readonly>
                                <mat-error *ngIf="driver.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel("ship") }}</mat-label>
                                <input [matAutocomplete]="ships" formControlName="ship" matInput readonly>
                                <mat-error *ngIf="ship.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel("port") }}</mat-label>
                                <input [matAutocomplete]="ports" formControlName="port" matInput readonly>
                                <mat-error *ngIf="port.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                            </mat-form-field>
                        </div>
                    </ng-template>
                </mat-tab>
            </form>
        </mat-tab-group>
    </div>

    <div id="footer">
        <div @slideFromLeft id="utility-buttons">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <ng-container *ngTemplateOutlet="voucherMenu"></ng-container>
            </mat-menu>
        </div>
        <div @slideFromRight class="button-group">
            <button *ngIf="form.value.reservationId != ''" (click)="onDelete()" class="delete" data-cy="delete" id="delete" mat-flat-button>{{ getLabel('deleteButton') }}</button>
            <button (click)="onSave()" [disabled]="!form.valid || !checkTotalPersonsAgainstPassengerCount()" class="primary" data-cy="save" mat-flat-button>{{ getLabel('saveButton') }}</button>
        </div>
    </div>

    <div id="qr-code">
        <qr-Code [value]="barcode.ticketNo" [size]="barcode.size" [level]="barcode.level"></qr-Code>
    </div>

</div>

<mat-autocomplete #destinations="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredDestinations | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #customers="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredCustomers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #pickupPoints="matAutocomplete" [displayWith]="autocompleteFields" (optionSelected)="updateFieldsAfterPickupPointSelection($event.option.value)" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredPickupPoints | async" [value]="option">
        <span>{{ option.description.substring(0, 30) }}</span>
        <span>{{ option.exactPoint.substring(0, 30) }}</span>
        <span>{{ option.time }}</span>
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #drivers="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredDrivers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ships="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredShips | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ports="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredPorts | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<ng-template #voucherMenu>
    <button mat-menu-item class="primary" (click)="doVoucherTasksOnServer()"><span>Send voucher to email</span></button>
    <button mat-menu-item class="primary" (click)="doVoucherTasksOnClient()"><span>Print voucher</span></button>
</ng-template>