#sidemenu {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3.5rem);
    justify-content: space-between;
    left: 0.3125rem;
    padding: 0.5rem;
    position: fixed;
    top: 3.1875rem;
    width: 155px;
    z-index: 2;
}