<nav id="sidemenu" *ngIf="loginStatus | async" @slideFromLeft>

    <div id="top-part">

        <div class="menu-item">
            <div class="menu-item-label" [routerLink]="['/']">
                <span class="icon material-icons-outlined">home</span>
                <span class="label">{{ onGetLabel('home') }}</span>
            </div>
        </div>

        <div class="scrollable">
            <div id="menu" (mouseenter)="onOpenSidebar()" (mouseleave)="onDoTasks($event)">
                <div *ngIf="isConnectedUserAdmin" class="menu-item" (click)="onShowSubmenu('passengers', 'first', $event)">
                    <div class="menu-item-label">
                        <span class="icon material-icons-outlined">people</span>
                        <span class="label">{{ onGetLabel('passengers') }}</span>
                        <span id="first" class="material-icons expander">expand_more</span>
                    </div>
                    <ul id="passengers" (click)="onDoTasks($event)">
                        <li [routerLink]="['/boarding']"><a>{{ onGetLabel('boarding') }}</a></li>
                        <li [routerLink]="['/manifest']"><a>{{ onGetLabel('manifest') }}</a></li>
                    </ul>
                </div>
                <div class="menu-item" (click)="onShowSubmenu('reservations', 'second', $event)">
                    <div class="menu-item-label">
                        <span class="icon material-icons-outlined">apps</span>
                        <span class="label">{{ onGetLabel('reservations') }}</span>
                        <span id="second" class="material-icons expander">expand_more</span>
                    </div>
                    <ul id="reservations" (click)="onDoTasks($event)">
                        <li [routerLink]="['/reservations']"><a>{{ onGetLabel('dashboard') }}</a></li>
                        <li *ngIf="isConnectedUserAdmin" [routerLink]="['/invoicing']"><a>{{ onGetLabel('invoicing') }}</a></li>
                    </ul>
                </div>
                <div *ngIf="isConnectedUserAdmin" class="menu-item" (click)="onShowSubmenu('tables', 'third', $event)">
                    <div class="menu-item-label">
                        <span class="icon material-icons-outlined">list_alt</span>
                        <span class="label">{{ onGetLabel('tables') }}</span>
                        <span id="third" class="material-icons expander">expand_more</span>
                    </div>
                    <ul id="tables" (click)="onDoTasks($event)">
                        <li [routerLink]="['/customers']"><a>{{ onGetLabel('customers') }}</a></li>
                        <li [routerLink]="['/destinations']"><a>{{ onGetLabel('destinations') }}</a></li>
                        <li [routerLink]="['/drivers']"><a>{{ onGetLabel('drivers') }}</a></li>
                        <li [routerLink]="['/genders']"><a>{{ onGetLabel('genders') }}</a></li>
                        <li [routerLink]="['/pickupPoints']"><a>{{ onGetLabel('pickupPoints') }}</a></li>
                        <li [routerLink]="['/ports']"><a>{{ onGetLabel('ports') }}</a></li>
                        <li [routerLink]="['/routes']"><a>{{ onGetLabel('routes') }}</a></li>
                        <li [routerLink]="['/schedules']"><a>{{ onGetLabel('schedules') }}</a></li>
                        <li [routerLink]="['/users']"><a>{{ onGetLabel('users') }}</a></li>
                    </ul>
                </div>
                <div *ngIf="isConnectedUserAdmin" class="menu-item" (click)="onShowSubmenu('vessels', 'fourth', $event)">
                    <div class="menu-item-label">
                        <span class="icon material-icons-outlined">directions_boat</span>
                        <span class="label">{{ onGetLabel('vessels') }}</span>
                        <span id="fourth" class="material-icons expander">expand_more</span>
                    </div>
                    <ul id="vessels" (click)="onDoTasks($event)">
                        <li [routerLink]="['/ships']"><a>{{ onGetLabel('shipManagement') }}</a></li>
                        <li [routerLink]="['/shipOwners']"><a>{{ onGetLabel('shipOwners') }}</a></li>
                        <li [routerLink]="['/registrars']"><a>{{ onGetLabel('registrars') }}</a></li>
                        <li [routerLink]="['/shipRoutes']"><a>{{ onGetLabel('shipRoutes') }}</a></li>
                        <li [routerLink]="['/crews']"><a>{{ onGetLabel('crews') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div id="bottom-part">

        <div class="menu-item">
            <div class="menu-item-label" (click)="onLogout()" [routerLink]="['/']">
                <span class="icon material-icons-outlined">power_settings_new</span>
                <span class="label">{{ onGetLabel('logout') }}</span>
            </div>
        </div>

    </div>

</nav>