:host {
    height: 100%;
    position: absolute;
    transform: translateX(-21rem);
    transition: all 0.5s ease;
    width: 21rem;
}

:host.side-menu-is-visible {
    transform: translateX(0) !important;
}

#side-menu {
    background-color: var(--color-a);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-handbook);
    height: 100%;
    padding: 0 5.5rem 1.5rem 1.5rem;
}

.menu-header {
    align-items: center;
    color: var(--color-c) !important;
    display: flex;
    font-size: var(--font-size-menu-headers);
    opacity: 0.6;
    padding: 1rem 0;
}

.group:last-child {
    margin-top: auto;
}

img {
    margin-right: 0.5rem;
    width: 1.3rem;
}

.menu-items {
    border-radius: 0.625rem;
    font-size: var(--font-size-menu-items);
    padding: 0 1rem;
}

.menu-item {
    align-items: center;
    border-radius: 0.3125rem;
    color: var(--color-button-text);
    display: flex;
    padding: 0.3rem 0.5rem;
}

.menu-item:hover, #logout:hover {
    background-color: var(--color-d);
    color: var(--color-a) !important;
    cursor: pointer;
    font-weight: 600;
    opacity: 1;
}
