.mat-autocomplete-panel.mat-autocomplete-visible {
    background-color: var(--color-c) !important;
    border-radius: 0 !important;
}

.mat-option {
    border: 1px solid transparent !important;
    font-family: var(--font-family-ubuntu) !important;
    height: 2rem !important;
    line-height: 2rem !important;
}

.mat-option-text {
    color: var(--color-text) !important;
    display: flex !important;
    font-size: var(--font-size-autocomplete) !important;
    justify-content: space-between;
}

.mat-option-text > span:not(:last-child) {
    width: 10rem !important;
}

.mat-option-text > span:last-child {
    width: 3rem !important;
}
