* {
    --color-autocomplete-background-hover: var(--light-gray);
    --color-autocomplete-background: var(--gray);
    --color-autocomplete-border-active: var(--orange);
    --color-autocomplete: var(--white);
    /*  */
    --color-border-item-active: var(--dark-red);
    --color-border-item-inactive: var(--very-light-gray);
    /*  */
    --color-button-delete: var(--dark-red);
    --color-button-delete-hover: var(--light-red);
    --color-button-embarkation-ok: var(--light-green);
    --color-button-embarkation-pending: var(--orange);
    --color-button-navigation: var(--gray);
    --color-button-navigation-hover: var(--light-gray);
    --color-button-primary: var(--dark-blue);
    --color-button-primary-hover: var(--blue);
    --color-button-secondary: var(--blue);
    --color-button-secondary-hover: var(--light-blue);
    --color-button-text: var(--white);
    --color-button-fab: var(--dark-blue);
    --color-button-fab-background: var(--light-brown);
    --color-button-fab-background-hover: var(--light-brown-hover);
    /*  */
    --color-calendar-days-no-schedule-background: var(--dark-gray);
    --color-calendar-days-schedule-background: var(--dark-gray);
    --color-calendar-today: var(--light-brown);
    --color-calendar-weekday-background: var(--light-yellow);
    --color-calendar-day: var(--dark-red);
    --color-calendar-day-hover: var(--light-brown-hover);
    /*  */
    --color-checkbox-checked: var(--dark-gray);
    /*  */
    --color-common-background: var(--gray);
    /*  */
    --color-credit-about: var(--white);
    --color-credit-hover: var(--light-gray);
    --color-credit-title: var(--orange);
    --color-credit-url: var(--yellow);
    /*  */
    --color-criteria-even: var(--white);
    --color-criteria-odd: var(--light-blue);
    /*  */
    --color-datepicker-background: var(--dark-blue);
    --color-datepicker-days: var(--white);
    --color-datepicker-month: var(--yellow);
    --color-datepicker-selected-date: var(--dark-blue);
    --color-datepicker-selected-date-background: var(--gray);
    --color-datepicker-today: var(--light-red);
    /*  */
    --color-dropdown-background: var(--gray);
    /*  */
    --color-headers: var(--dark-blue);
    --color-headers-sub: var(--white);
    /*  */
    --color-icon-remarks-warning: var(--yellow);
    --color-logo-image: var(--white);
    --color-logo-text: var(--dark-blue);
    /*  */
    --color-map-buttons-background: var(--gray);
    --color-map-buttons: var(--white);
    --color-map-tooltip-background: var(--light-blue);
    --color-map-tooltip-color: var(--dark-blue);
    /*  */
    --color-menu-background-hover: var(--gray);
    --color-menu-background: var(--dark-gray);
    --color-menu-text-hover: var(--white);
    /*  */
    --color-primeng-list-hover: var(--gray);
    --color-primeng-list-selected-border: var(--light-red);
    --color-primeng-list-unselected-border: var(--gray);
    --color-primeng-list: var(--light-gray);
    /*  */
    --color-radio-inner-circle: var(--yellow);
    --color-radio-outer-circle: var(--orange);
    --color-reservation-list-date: var(--light-green);
    /*  */
    --color-scrollbar: var(--orange);
    /*  */
    --color-slider-bar-active: var(--light-gray);
    --color-slider-bar-inactive: var(--light-gray);
    --color-slider-thumb-active: var(--light-blue);
    --color-slider-thumb-inactive: var(--light-gray);
    /*  */
    --color-snackbar-info: var(--green);
    --color-snackbar-warning: var(--dark-yellow);
    --color-snackbar-error: var(--light-red);
    --color-snackbar-text: var(--white);
    /*  */
    --color-table-background: var(--gray);
    --color-table-badge-background: var(--gray);
    --color-table-badge-color: var(--dark-red);
    --color-table-column-seperator: var(--gray);
    --color-table-dropdown-icons: var(--white);
    --color-table-filter-border: var(--gray);
    --color-table-header: var(--dark-blue);
    --color-table-header-background: var(--very-light-green);
    --color-table-row-background-hover: var(--light-brown-hover);
    --color-table-row-background-selected: var(--light-blue);
    --color-table-row-focus-outline: var(--yellow);
    --color-table-row-group-header: var(--gray);
    --color-table-row-group-hover: var(--yellow);
    --color-table-row-group: var(--gray);
    --color-table-row-highlight: var(--light-gray);
    --color-table-row-outline: var(--very-light-green);
    --color-table-row-subgroup: var(--light-blue);
    --color-table-sort-icon: var(--dark-blue);
    /*  */
    --color-text-primary: var(--dark-blue);
    --color-text-secondary: var(--light-yellow);
    --color-text-selected: var(--light-gray);
    --color-text-error: var(--red);
    /*  */
    --color-tooltip: var(--gray);
    /*  */
    --color-hamburger-menu: var(--dark-red);
    --color-hamburger-menu-hover: var(--red);
    /*  */
    --color-top-menu-background: var(--dark-blue);
    --color-top-menu-background-hover: var(--blue-hover);
    --color-top-menu-icons: var(--light-brown-hover);
    --color-top-menu-text: var(--white);
}