#form-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 0.5rem var(--gap) 0.5rem var(--gap);
}

#header {
    align-items: center;
    display: flex;
    margin: var(--header-margin-top) 1rem var(--header-margin-bottom) 1rem !important;
}

#header #navigation {
    align-items: center;
    display: flex;
}

#header #title {
    align-items: center;
    display: flex;
    margin-left: 1rem;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

#content #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#content #instructions {
    margin-top: auto;
}

#footer {
    display: flex;
    margin: var(--gap) var(--footer-right-margin) var(--gap) auto;
}

#footer .button-group {
    display: flex;
    gap: 1rem;
}

.group-field {
    display: flex;
    gap: 1rem;
}