h1 {
    color: var(--color-text) !important;
    font-family: var(--font-family-handbook) !important;
    font-size: var(--font-size-h1) !important;
    font-weight: var(--font-weight-header) !important;
    margin: 0 !important;
    padding: 0 !important;
    transition: color var(--change-component-theme-on-hover) ease;
}

h6 {
    color: var(--color-text) !important;
    font-family: var(--font-family-handbook) !important;
    font-weight: var(--font-weight-header) !important;
    margin: 0 !important;
    padding: 0 !important;
    transition: color var(--change-component-theme-on-hover) ease;
}