#list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 0 var(--gap) 0 var(--gap);
    width: 100%;
}

#header {
    align-items: center;
    display: flex;
    margin: 0 1rem var(--header-margin-bottom) 1rem !important;
}

.content, #content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
}

#footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: var(--gap) var(--footer-right-margin) var(--gap) var(--gap);
}

#footer .button-group {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.is-active {
    color: var(--color-list-active-item);
}

.is-not-active {
    color: var(--color-list-inactive-item);
}