#list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 0 var(--gap) 0 var(--gap);
    width: 100%;
}

#header {
    align-items: center;
    display: flex;
    margin: var(--header-margin-top) 1rem var(--header-margin-bottom) 1rem !important;
}

.content, #content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
}

#footer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: var(--gap) var(--footer-right-margin) var(--gap) 0;
}

.icon-red {
    color: var(--color-list-inactive-item);
}

.icon-green {
    color: var(--color-list-active-item);
}