.p-listbox {
    border: 0;
}

.p-listbox .p-listbox-list {
    padding: 0.5rem;
}

.p-listbox .p-listbox-list .p-listbox-item {
    border-left: 3px solid transparent;
    color: var(--color-text);
    padding: 10px 10px;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    border-left: 3px solid var(--color-c);
    color: var(--color-text);
}

.p-listbox .p-listbox-list .p-listbox-item:focus {
    background-color: var(--color-c);
    border-left: 3px solid var(--color-b);
    box-shadow: none;
    color: var(--color-text);
}

.p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover {
    background-color: var(--color-c);
    color: var(--color-text);
}