.flag {
    height: 16px !important;
    width: 23px !important;
}

.flag.cs-cz {
    background: url("/assets/images/languages/cs-cz.svg") center no-repeat !important;
}

.flag.de-de {
    background: url("/assets/images/languages/de-de.svg") center no-repeat !important;
}

.flag.el-gr {
    background: url("/assets/images/languages/el-gr.svg") center no-repeat !important;
}

.flag.en-gb {
    background: url("/assets/images/languages/en-gb.svg") center no-repeat !important;
}

.flag.fr-fr {
    background: url("/assets/images/languages/fr-fr.svg") center no-repeat !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    align-items: center;
    display: flex;
}

.p-menubar .p-menuitem-link:nth-child(1), .p-menubar .p-menuitem-link:nth-child(2) {
    padding: 0.625rem 1rem 0.625rem 1rem !important;
}

.p-menubar .p-menuitem-link .p-menuitem-text {
    color: var(--color-text-primary) !important;
    font-family: var(--font-family-handbook);
    font-size: var(--font-size-menu-items) !important;
    font-weight: var(--font-weight-menu-items) !important;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
    color: var(--color-text-primary);
}

.p-hidden {
    display: none !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: var(--color-text-primary) !important;
    font-size: var(--font-size-menu-items) !important;
    font-weight: var(--font-weight-menu-items) !important;
    margin-top: 3px;
    transition: color var(--change-component-theme-on-hover) ease;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
    color: var(--color-text-primary);
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: var(--color-text-primary);
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: var(--color-text-primary);
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background-color: var(--color-menu-background-hover);
}

.p-menubar .p-menuitem-link:not(.p-disabled):hover {
    color: var(--color-text-primary);
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background-color: var(--color-menu-background-hover);
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
    background-color: var(--color-menu-background-hover);
}

#language-icon {
    padding: 0.625rem 0.9375rem 0.625rem 0.9375rem !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
    background-color: var(--color-menu-background-hover);
}

.p-menubar .p-menuitem-link .p-menuitem-icon {
    color: var(--color-menu-icons) !important;
    height: 16px;
    width: 16px;
}

.p-menubar .p-menuitem.p-menuitem-active {
    background-color: var(--color-menu-background-hover);
    border-radius: 5px;
    border: none;
}

.p-menubar .p-submenu-list {
    background-color: var(--color-menu-background);
    border-radius: 5px;
    box-shadow: none;
    padding: 0.5rem;
    z-index: 999 !important;
}

.p-menubar {
    background: transparent;
    border: none;
    display: flex;
    padding: 0;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
    color: var(--color-menu-icons) !important;
}