.p-scroller {
    overflow-x: auto !important;
    overflow-y: scroll !important;
}

.p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-thead {
    background-color: transparent;
}

.p-datatable-tbody {
    height: 100% !important;
    top: 0 !important;
}

.p-datatable-flex-scrollable .p-datatable-scrollable-body, .p-datatable-flex-scrollable .p-datatable-virtual-scrollable-body {
    overflow-x: hidden !important;
}

.cdk-virtual-scroll-content-wrapper {
    height: 100% !important;
}

.p-datatable-scrollable-footer, .p-datatable-scrollable-header {
    overflow: visible !important;
}

.p-datatable-flex-scrollable .p-datatable-wrapper {
    backdrop-filter: blur(var(--blur));
    background: none;
    overflow-y: scroll !important;
    scrollbar-gutter: stable;
    overscroll-behavior: contain;
}

.p-datatable .p-datatable-thead > tr > th {
    background-color: var(--color-b);
    border-right: 0.0625rem solid var(--color-a) !important;
    border-width: 0 0.0625rem 0 0 !important;
    color: var(--color-c) !important;
    font-family: var(--font-family-asty) !important;
    font-size: var(--font-size-table-header) !important;
    font-weight: 300 !important;
    padding: 0.5rem;
    text-align: center !important;
    transition: all var(--theme-change-delay) ease-in;
}

.p-datatable .p-sortable-column.p-highlight {
    background-color: var(--color-b) !important;
}

.p-datatable .p-datatable-tbody > tr.p-highlight {
    background-color: var(--color-f) !important;
}

.p-datatable .p-datatable-tbody > tr:hover {
    background-color: var(--color-f) !important;
}

.p-datatable .p-datatable-tbody > tr {
    background-color: transparent !important;
}

.p-datatable .p-datatable-tbody > tr:focus {
    outline: none !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    border-bottom: 1px solid var(--color-d);
    color: var(--color-c);
    font-family: var(--font-family-asty) !important;
    font-size: var(--font-size-table-row);
    font-weight: 300;
    overflow: hidden !important;
    padding: 0.4375rem 0.5rem;
    text-overflow: ellipsis !important;
    transition: all var(--theme-change-delay) ease-in;
    white-space: nowrap !important;
}

.p-datatable .p-datatable-tbody > tr > td > img {
    height: 1.0625rem;
    width: 1.25rem;
}

.p-datatable .p-datatable-tfoot {
    background-color: var(--color-b) !important;
}

.p-datatable .p-datatable-tfoot > tr > td {
    background-color: transparent;
    border: none;
    justify-content: flex-end;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: var(--color-c) !important;
    margin-top: -0.25rem;
    transition: all var(--theme-change-delay) ease-in;
}

.p-datatable .p-sortable-column .p-sortable-column-badge {
    background-color: var(--color-a);
    color: var(--color-c);
    margin-top: -0.25rem;
}

.p-sortable-column:focus {
    box-shadow: none !important;
    outline: none;
}

.p-column-filter-row .p-column-filter-menu-button, .p-column-filter-row .p-column-filter-clear-button {
    display: none;
}

.p-button.p-button-icon-only.p-button-rounded {
    color: var(--color-c);
    padding: 0;
    height: 20px !important;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover {
    background-color: var(--color-b) !important;
}

.p-button.p-button-text.p-button-plain:enabled:hover {
    background-color: transparent !important;
}

.p-button.p-button-text:enabled:focus, .p-button.p-button-outlined:enabled:focus {
    background-color: transparent;
    box-shadow: none;
}

.p-datatable .p-datatable-thead > tr:nth-child(2) > th {
    padding-top: 0 !important;
    padding-bottom: 0.3125rem !important;
}

div:not(.p-column-filter).p-column-filter-row:hover {
    background-color: var(--color-f) !important;
}

.p-checkbox {
    margin: 2px !important;
}

.material-icons-outlined {
    font-size: 1rem;
}

.header-datepicker {
    align-items: center;
    display: flex;
    margin: 0;
    padding-top: 0 !important;
}

.header-datepicker input {
    background-color: transparent !important;
    border: 0;
    color: var(--color-c);
    font-family: var(--font-family-manrope) !important;
    padding-top: 0 !important;
}

.date-clear-icon {
    color: #6c757d;
    font-size: 1.4rem;
}

td.number {
    padding-right: 1rem !important;
    text-align: right !important;
}

.no-border {
    border-bottom: 1px var(--color-a) !important;
}

.no-height {
    padding: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding:hover {
    background-color: transparent !important;
}

.transparent {
    background-color: transparent !important;
}

.width-3 {
    max-width: 3rem;
    min-width: 3rem;
    width: 3rem;
}

.width-4 {
    max-width: 4rem;
    min-width: 4rem;
    width: 4rem;
}

.width-5 {
    max-width: 5rem;
    min-width: 5rem;
    width: 5rem;
}

.width-7 {
    max-width: 7rem;
    min-width: 7rem;
    width: 7rem;
}

.width-9 {
    max-width: 9rem;
    min-width: 9rem;
    width: 9rem;
}

.width-10 {
    max-width: 10rem;
    min-width: 10rem;
    width: 10rem;
}