#language-icon {
    padding: 0.625rem 0.9375rem 0.625rem 0.9375rem !important;
}

.flag {
    height: 1.3125rem !important;
    width: 1.4375rem !important;
}

.flag.cs-cz {
    background: url("/assets/images/languages/cs-cz.svg") center no-repeat !important;
}

.flag.de-de {
    background: url("/assets/images/languages/de-de.svg") center no-repeat !important;
}

.flag.el-gr {
    background: url("/assets/images/languages/el-gr.svg") center no-repeat !important;
}

.flag.en-gb {
    background: url("/assets/images/languages/en-gb.svg") center no-repeat !important;
}

.flag.fr-fr {
    background: url("/assets/images/languages/fr-fr.svg") center no-repeat !important;
}

.p-menubar {
    background: transparent;
    border: none;
    display: flex;
    padding: 0;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    align-items: center;
    box-shadow: none !important;
    display: flex;
    margin: 0.125rem;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background-color: var(--color-c);
    border: none;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: var(--color-button-text) !important;
    font-size: var(--font-size-menu-items) !important;
    font-weight: var(--font-weight-menu-items) !important;
    margin-top: 0.1875rem;
    transition: color var(--change-component-theme-on-hover) ease;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background-color: var(--color-c);
}

.p-menubar .p-menuitem-link .p-menuitem-text {
    color: var(--color-button-text) !important;
    font-family: var(--font-family-handbook);
    font-size: var(--font-size-menu-items) !important;
    font-weight: var(--font-weight-menu-items) !important;
}

.p-menubar .p-menuitem-link:nth-child(1), .p-menubar .p-menuitem-link:nth-child(2) {
    padding: 0.625rem 1rem 0.625rem 1rem !important;
}

.p-menuitem-active {
    border: none !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
    background-color: var(--color-c);
    border: none;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
    background-color: var(--color-c);
    border: none !important;
}

.p-menubar .p-menuitem-link .p-menuitem-icon {
    color: var(--color-button-text) !important;
    height: 1rem;
    width: 1rem;
}

.p-menubar .p-menuitem.p-menuitem-active {
    border-radius: 0.3125rem;
    border: none !important;
}

.p-menubar .p-submenu-list {
    background-color: var(--color-b);
    border-radius: 0.3125rem;
    box-shadow: none;
    padding: 0.5rem;
    z-index: 999 !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
    color: var(--color-button-text) !important;
}
