.p-inputtext {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: var(--color-text);
    font-family: var(--font-family-handbook);
    font-size: 1rem !important;
    font-weight: 300;
    margin-bottom: -1px !important;
    padding: 3px 5px 3px 5px !important;
    width: 100%;
}

.p-inputtext:enabled:hover {
    background-color: revert !important;
}

.p-inputtext:enabled:focus {
    background-color: revert !important;
    border: none;
    box-shadow: none;
}