.mat-tab-body-content {
    display: flex !important;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.mat-tab-label {
    font-family: var(--font-family-handbook);
    font-weight: var(--font-weight-header);
    min-width: 3.125rem !important;
}

.mat-tab-label-container {
    padding: 0 !important;
}

.mat-ink-bar {
    height: 0 !important;
}

.mat-tab-body-wrapper {
    flex: 1 !important;
    margin-top: 1rem;
}

.mat-tab-header {
    border-bottom: 0 !important;
    width: max-content;
}

.mat-tab-label-content {
    color: var(--color-c) !important;
    font-family: var(--font-family-roboto) !important;
    font-size: var(--font-size-tab-label) !important;
    font-weight: var(--font-weight-button) !important;
}

.mat-tab-label-active {
    background-color: var(--color-active-tab-background) !important;
}

.mat-tab-label-active:not(.cdk-focused), .mat-tab-label-active:not(.cdk-mouse-focused) {
    background-color: var(--color-active-tab-background) !important;
}

.mat-tab-label-active .mat-tab-label-content {
    color: var(--color-active-tab-text) !important;
}

.mat-tab-group {
    height: 100% !important;
}

.mat-tab-body.mat-tab-body-active {
    height: 100% !important;
    position: absolute !important;
}