<div id="list">

    <div *ngIf="records.length > 0" id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div id="criteria">
            <div>
                <div class="description">{{ formatDate() }}</div>
                <div class="label">{{ getLabel('criteria-date-range') }}</div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="records.length > 0">
        <div id="table-wrapper">
            <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" dataKey="customer" groupRowsBy="customer" rowGroupMode="subheader" scrollHeight="flex" selectionMode="single" sortField="customer">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 3%; max-width: 3%;"></th>
                        <th>{{ getLabel("headerDestination") }}</th>
                        <th>{{ getLabel("headerShip") }}</th>
                        <th>{{ getLabel("headerPort") }}</th>
                        <th style="min-width: 10%; max-width: 10%;">{{ getLabel("headerTicketNo") }}</th>
                        <th style="min-width: 6%; max-width: 6%;">{{ getLabel("headerHasTransfer") }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getLabel("headerAdults") }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getLabel("headerKids") }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getLabel("headerFree") }}</th>
                        <th style="min-width: 3%; max-width: 3%;">{{ getLabel("headerTotalPersons") }}</th>
                        <th style="min-width: 3%; max-width: 3%;">Σ<span class="subscript">1</span></th>
                        <th colspan="2" style="min-width: 4%; max-width: 4%;">+/-</th>
                        <th style="min-width: 21%; max-width: 21%;">{{ getLabel("headerRemarks") }}</th>
                        <th style="min-width: 3%; max-width: 3%;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record>
                    <tr><td colspan="11">{{ record.customer.description }}</td></tr>
                    <tr *ngFor="let x of record.reservations, let i = index">
                        <td style="min-width: 3%; max-width: 3%;"></td>
                        <td>{{ record.reservations[i].destination }}</td>
                        <td>{{ record.reservations[i].ship }}</td>
                        <td>{{ record.reservations[i].port }}</td>
                        <td style="min-width: 10%; max-width: 10%;">{{ record.reservations[i].ticketNo }}</td>
                        <td [ngClass]="record.reservations[i].hasTransfer ? 'has-transfer' : 'no-transfer'" style="min-width: 6%; max-width: 6%; justify-content: center;">
                            <span *ngIf="record.reservations[i].hasTransfer" class="icon-ok material-icons-outlined">directions_bus</span>
                            <span *ngIf="!record.reservations[i].hasTransfer" class="icon-error material-icons-outlined">directions_bus</span>
                        </td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: right;">{{ record.reservations[i].adults }}</td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: right;">{{ record.reservations[i].kids }}</td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: right;">{{ record.reservations[i].free }}</td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: right;">{{ record.reservations[i].totalPersons }}</td>
                        <td style="min-width: 3%; max-width: 3%; justify-content: right;">{{ record.reservations[i].embarkedPassengers }}</td>
                        <td style="min-width: 2%; max-width: 2%; justify-content: right;">{{ record.reservations[i].totalPersons - record.reservations[i].embarkedPassengers }}</td>
                        <td style="min-width: 2%; max-width: 2%;">{{ showEmoji(record.reservations[i].totalPersons - record.reservations[i].embarkedPassengers) }}</td>
                        <td style="min-width: 21%; max-width: 21%;">{{ record.reservations[i].remarks }}</td>
                        <td style="min-width: 3%; max-width: 3%;"></td>
                    </tr>
                    <div class="pivot">
                        <div class="port-panel" *ngFor="let port of record.portGroup, let i = index">
                            <table class="port-group">
                                <thead>
                                    <tr>
                                        <th class="port"></th>
                                        <th class="header number">A</th>
                                        <th class="header number">K</th>
                                        <th class="header number">F</th>
                                        <th class="header number">Σ</th>
                                        <th class="header number">Σ1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let hasTransfer of record.portGroup[i].hasTransferGroup, let z = index">
                                        <td></td>
                                        <td class="number">{{ record.portGroup[i].hasTransferGroup[z].adults }}</td>
                                        <td class="number">{{ record.portGroup[i].hasTransferGroup[z].kids }}</td>
                                        <td class="number">{{ record.portGroup[i].hasTransferGroup[z].free }}</td>
                                        <td class="number">{{ record.portGroup[i].hasTransferGroup[z].totalPersons }}</td>
                                        <td class="number">{{ record.portGroup[i].hasTransferGroup[z].totalPassengers }}</td>
                                        <td class="number no-border">
                                            <span *ngIf="record.portGroup[i].hasTransferGroup[z].hasTransfer" class="icon-ok material-icons-outlined">directions_bus</span>
                                            <span *ngIf="!record.portGroup[i].hasTransferGroup[z].hasTransfer" class="icon-error material-icons-outlined">directions_bus</span>
                                        </td>
                                        <td class="number no-border">
                                            <span *ngIf="record.portGroup[i].hasTransferGroup[z].totalPersons == record.portGroup[i].hasTransferGroup[z].totalPassengers" class="icon-ok material-icons-outlined">report_problem</span>
                                            <span *ngIf="record.portGroup[i].hasTransferGroup[z].totalPersons != record.portGroup[i].hasTransferGroup[z].totalPassengers" class="icon-warning material-icons-outlined">report_problem</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="port footer">{{ record.portGroup[i].port }}</td>
                                        <td class="number footer">{{ record.portGroup[i].adults }}</td>
                                        <td class="number footer">{{ record.portGroup[i].kids }}</td>
                                        <td class="number footer">{{ record.portGroup[i].free }}</td>
                                        <td class="number footer">{{ record.portGroup[i].totalPersons }}</td>
                                        <td class="number footer">{{ record.portGroup[i].totalPassengers }}</td>
                                        <!-- <td class="number footer"></td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </p-table>
        </div>
        <div id="footer">
            <div @slideFromRight class="button-group">
                <button data-cy="new" mat-flat-button class="primary" (click)="exportAllCustomers()">{{ getLabel("exportAllButton") }}</button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="records.length == 0">
        <list-no-results [feature]="feature" [parentUrl]="parentUrl"></list-no-results>
    </ng-container>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>