:host {
    display: flex;
    width: 100%;
}

#content {
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.customerDescription {
    color: var(--color-text-primary);
    font-family: var(--font-family-master);
    font-size: var(--font-size-table-header);
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-table-header);
    padding: 0.625rem 0 0.5625rem 0;
    transition: background-color 0.7s;
}

table {
    border-spacing: 0;
    flex: 1;
    table-layout: fixed;
    transition: background-color 0.7s;
    width: -webkit-fill-available;
}

th {
    background-color: var(--color-table-header);
    border-right: 0.125rem solid var(--color-background-secondary);
    color: var(--color-text-primary);
    font-family: var(--font-family-master);
    font-size: var(--font-size-table-header);
    font-variant-caps: petite-caps;
    font-weight: var(--font-weight-table-header);
    padding: 0.625rem 0 0.5625rem 0;
    text-align: center;
    top: 0;
    transition: background-color 0.7s;
    z-index: 1;
}

th:hover {
    background-color: var(--color-background-secondary);
    cursor: pointer;
}

tr:hover td {
    cursor: pointer;
}

tr:hover td:last-child > div > .button-row-menu {
    visibility: visible;
}

tr.selected {
    background-color: var(--color-table-row-highlight) !important;
}

tr.selected td {
    color: var(--color-text-primary);
}

td {
    color: var(--color-text-primary);
    font-family: var(--font-family-master);
    font-size: var(--font-size-table-row);
    max-width: 0;
    overflow: hidden;
    padding: 5px 8px 4px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.center {
    text-align: center;
}

td.right {
    text-align: right;
}

th.none, td.none {
    display: none;
}