<div id="wrapper">

    <div class="scrollable">
        <div *ngFor="let result of queryResult">
            <div class="customerDescription">
                {{ result.customerResource.description }}
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="width-fifteen">ΠΡΟΟΡΙΣΜΟΣ</th>
                        <th class="width-fifteen">ΠΛΟΙΟ</th>
                        <th class="width-seven">ΕΙΣΙΤΗΡΙΟ</th>
                        <th class="width-seven">TRANSFER</th>
                        <th class="width-seven">ΕΝΗΛΙΚΕΣ</th>
                        <th class="width-seven">ΠΑΙΔΙΑ</th>
                        <th class="width-seven">ΔΩΡΕΑΝ</th>
                        <th class="width-seven">ΣΥΝΟΛΟ</th>
                        <th class="width-twenty">ΠΑΡΑΤΗΡΗΣΕΙΣ</th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reservation of result.reservations">
                        <td>{{ reservation.destinationDescription }}</td>
                        <td>{{ reservation.shipDescription }}</td>
                        <td class="center">{{ reservation.ticketNo }}</td>
                        <td class="center">{{ reservation.isTransfer ? "ΝΑΙ" : "ΟΧΙ" }}</td>
                        <td class="right">{{ reservation.adults }}</td>
                        <td class="right">{{ reservation.kids }}</td>
                        <td class="right">{{ reservation.free }}</td>
                        <td class="right">{{ reservation.totalPersons }}</td>
                        <td>{{ reservation.remarks }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th class="width-fifteen"></th>
                        <th class="width-fifteen"></th>
                        <th class="width-seven"></th>
                        <th class="width-seven">TRANSFER</th>
                        <th class="width-seven">ΕΝΗΛΙΚΕΣ</th>
                        <th class="width-seven">ΠΑΙΔΙΑ</th>
                        <th class="width-seven">ΔΩΡΕΑΝ</th>
                        <th class="width-seven">ΣΥΝΟΛΟ</th>
                        <th class="width-twenty"></th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transfer of result.isTransferGroup">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="center">{{ transfer.isTransfer ? "ΝΑΙ" : "ΟΧΙ" }}</td>
                        <td class="right">{{ transfer.adults }}</td>
                        <td class="right">{{ transfer.kids }}</td>
                        <td class="right">{{ transfer.free }}</td>
                        <td class="right">{{ transfer.totalPersons }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="center">ΣΥΝΟΛΟ</td>
                        <td class="right">{{ result.isTransferGroupTotal.adults }}</td>
                        <td class="right">{{ result.isTransferGroupTotal.kids }}</td>
                        <td class="right">{{ result.isTransferGroupTotal.free }}</td>
                        <td class="right">{{ result.isTransferGroupTotal.totalPersons }}</td>
                        <td class="center"><button mat-flat-button class="primary" (click)="doPdfTasks(result.date, result.customerResource.id)">PDF</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>