:host {
    display: flex;
    width: 100%;
}

#content {
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.customerDescription {
    color: var(--color-table-invoice-customerDescription);
    font-family: var(--font-family-table);
    margin: 0 0 0.5rem 0.5rem;
}

td.center {
    text-align: center;
}

td.right {
    padding-right: 10px;
    text-align: right;
}

th.none, td.none {
    display: none;
}

th.destination {
    width: 200px;
}

th.width-seven {
    width: 8%;
}

th.width-fifteen {
    width: 15%;
}

th.width-twenty {
    width: 20%;
}