<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div id="month-selector">
            <span class="material-icons month-arrows" (click)="changeMonth(-1)">chevron_left</span>
            <h1 id="month-and-year">{{ getMonthAndYear() }}</h1>
            <span class="material-icons month-arrows" (click)="changeMonth(1)">chevron_right</span>
        </div>
    </div>

    <div id="wrapper-calendar">
        <ol id="calendar">
            <div *ngFor="let weekDay of weekDays" class="weekday-name">{{ getWeekday(weekDay) }}</div>
            <li data-cy="days" class="days" [id]="days[day.value - 1].date" *ngFor="let day of selectedMonth;let first = first" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'">
                <div [ngClass]="{ 'saturday':isSaturday(days[day.value - 1]), 'sunday':isSunday(days[day.value - 1]), 'is-today':isToday(days[day.value - 1]), 'has-schedule':hasSchedule(days[day.value - 1]) }" class="date-card">
                    <div class="day">{{ day?.value }}</div>
                    <div class="destinations">
                        <mat-radio-button *ngFor="let destination of days[day.value - 1].destinations" (click)="doReservationTasks(days[day.value - 1].date, destination.id, destination.description)" class="destination">
                            <div class="destination-description">{{ destination.abbreviation }}</div>
                            <div class="ports">
                                <div class="port" *ngFor="let port of destination.ports">
                                    <div class="port-description">{{ port.abbreviation }}</div>
                                    <div class="port-available-seats">{{ port.accumulatedFreePax }}</div>
                                </div>
                            </div>
                        </mat-radio-button>
                    </div>
                </div>
            </li>
        </ol>
    </div>

    <div id="footer">
        <div class="button-group">
            <button class="primary" id="next" disabled mat-flat-button (click)="navigateToNewReservation()">{{ getLabel('next-button') }}</button>
        </div>
    </div>

    <div *ngIf="isLoading">
        <loading-spinner></loading-spinner>
    </div>

</div>