:host {
    display: flex;
}

#side-image {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 2rem;
    outline: 0;
    text-align: center;
    z-index: 1;
    transition: opacity 0.5s;
}

#wheel {
    width: 200px;
}

@media (max-height:768px) {
    #side-image {
        display: none;
    }
}